@model TestUserResetPasswordViewModel
<h2>User Reset Password Test</h2>
@{ 
	var result = Model.Result;
}
<div>
	<p>Email: @Model.Email</p>
	@if (result != null)
	{
		<p>Status: @result.Status</p>
		<p>Token: @result.Token</p>
	}
	else
	{
		<p>Result is null</p>
	}
</div>