<div class="article-prologue">
    <div class="article-prologue__share-bar">
        <ul>
            <li class="article-prologue__share-item pop-out__trigger is-active">
                <span class="pop-out__trigger-content">
                    Email
                    <svg class="article-prologue__share-icon">
        				<use xlink:href="/dist/img/svg-sprite.svg#email"></use>
        			</svg>
                </span>
                <div class="pop-out">
                    <div class="pop-out__internal pop-out__internal--flush-left pop-out__internal--wide">

                        <div class="dismiss-button">
                            <svg class="dismiss-button__icon">
                                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                            </svg>
                        </div>

                        <h2 class="pop-out__header">
                            Email Article
                        </h2>

                        <p class="pop-out__details">
                            All fields are required. For multiple recipients, separate email addresses with a semicolon.
                        </p>
                        <input class="text-field header__hover-input"
                               type="text"
                               placeholder="Recipient Email Address">
                        <input class="text-field header__hover-input"
                               type="text"
                               placeholder="Your Name">
                        <input class="text-field header__hover-input"
                               type="text"
                               placeholder="Your Email">
                        <p><h3>Subject:</h3> 1st U.S. Biosimilar Arrives: Zarxio Launches</p>
                        <p><h3>Add a personalized message to your email</h3></p>
                        <textarea class="text-field"></textarea>
                        <button class="button--pumpkin">Send</button>
                        <a href="#">Cancel</a>
                        <p class="pop-out__details">
                            Please Note: Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
                        </p>
                    </div>
                </div>
            </li>
            <li class="article-prologue__share-item">
                Print
                <svg class="article-prologue__share-icon">
    				<use xlink:href="/dist/img/svg-sprite.svg#print"></use>
    			</svg>
            </li>
            <li class="article-prologue__share-item pop-out__trigger">
                <span class="pop-out__trigger-content">
                    Bookmark
                    <svg class="article-prologue__share-icon">
        				<use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
        			</svg>
                </span>
                <div class="pop-out">
                    <div class="pop-out__internal pop-out__internal">
                        <svg class="header__icons header__icons--x">
                            <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                        <h2>Email Article</h2>
                        <input class="text-field header__hover-input"
                               type="text"
                               placeholder="Email Address (User Name)">
                        <input class="text-field header__hover-input"
                               type="password"
                               placeholder="Password">
                        <a href="#">Forgot your password?</a>
                        <button class="button--pumpkin">Sign In</button>
                    </div>
                </div>
            </li>
            <li class="article-prologue__share-item">
                Share
                <svg class="article-prologue__share-icon">
    				<use xlink:href="/dist/img/svg-sprite.svg#linkedin"></use>
    			</svg>
                <svg class="article-prologue__share-icon">
    				<use xlink:href="/dist/img/svg-sprite.svg#twitter"></use>
    			</svg>
            </li>
        </ul>
    </div>

    <div class="article-prologue__tags-bar">
        Tags:
        <ul class="article-prologue__tags">
            <li><a href="#">USA</a></li>
            <li><a href="#">Sandoz</a></li>
            <li><a href="#">Biosimilars</a></li>
        </ul>
    </div>
</div>
