@model ArticleAdViewModel
<section class="article-preview article-preview--small">
    <div class="article-preview__ad">
        Advertisement
        <script language="JavaScript">OAS_AD('@Model.FilmstripAdID', 'article');</script>
    </div>
</section>
