@model Informa.Web.ViewModels.IArticlePrologueEmailViewModel
<li class="article-prologue__share-item pop-out__trigger js-pop-out-trigger"
	data-pop-out-type="email-article">
	<span class="article-prologue__share-label">Email</span>
	<svg class="article-prologue__share-icon article-prologue__share-icon--email click-utag" data-info='{"event_name" : "article-email-icon"}'>
		<use xlink:href="/dist/img/svg-sprite.svg#email"></use>
	</svg>
</li>
