@model Informa.Web.ViewModels.ArticlePrologueViewModel

<div class="article-prologue">
        <div class="article-prologue__share-bar">
            <ul>
				@{ Html.RenderPartial("/Views/Article/ArticlePrologueAskTheAnalyst.cshtml", Model.AskTheAnalystViewModel); }
                @{ Html.RenderPartial("/Views/Article/ArticlePrologueEmail.cshtml", Model.EmailViewModel); }
                @{ Html.RenderPartial("/Views/Article/ArticleProloguePrint.cshtml", Model.PrintViewModel); }
				@{ Html.RenderPartial("/Views/Article/ArticlePrologueBookmark.cshtml", Model.BookmarkViewModel); }
				@{ Html.RenderPartial("/Views/Article/ArticlePrologueShare.cshtml", Model.ShareViewModel); }
                
            </ul>
        </div>
        @{ Html.RenderPartial("/Views/Article/ArticleTags.cshtml", Model.ArticleTagsViewModel); }
</div>
