@model Informa.Web.ViewModels.Articles.RelatedArticlesModel
@using System.Diagnostics;
@{
    Stopwatch sw = Stopwatch.StartNew();
}

@if (Model.RelatedArticles != null && Model.RelatedArticles.Any())
{
    <div class="article-related-content">
        <h2>@Model.RelatedArticleComponentTitle</h2>

        @foreach (var article in Model.RelatedArticles)
        {
            Html.RenderPartial("Components/ListItemSimple", article);
        }
    </div>
}
@{
    Informa.Library.Utilities.Extensions.StringExtensions.WriteSitecoreLogs("ArticleRelatedList.cshtml", sw, "ArticleRelatedList");
}