@model Informa.Web.ViewModels.GlassArticleModel

@* * *  ARTICLE - KEY DOCUMENTS
        IIPP-158 *@
@if (Model.KeyDocuments.Any() && Model.IsEntitled())
{
    <div class="article-key-documents">
        <h2>@Model.KeyDocumentHeader</h2>
        <ul>
        @foreach (var doc in Model.KeyDocuments)
            {
                <li class="article-key-document">
                    <svg class="article-key-document__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#@Model.GetDocumentIcon(doc)"></use>
                    </svg>
                    <a href="@doc._MediaUrl" target="_blank">@Model.GetTitle(doc)</a>
                </li>
            }
        </ul>
    </div>
}
@* * *  END ARTICLE - KEY DOCUMENTS *@