@model Informa.Web.ViewModels.IArticlePrologueShareViewModel
<li class="article-prologue__share-item">
	<span class="article-prologue__share-label">Share</span>
	<svg class="article-prologue__share-icon article-prologue__share-icon--linkedin">
		<use xlink:href="/dist/img/svg-sprite.svg#linkedin"></use>
	</svg>
	<svg class="article-prologue__share-icon article-prologue__share-icon--twitter">
		<use xlink:href="/dist/img/svg-sprite.svg#twitter"></use>
	</svg>
</li>
