@model AdViewModel

@if (Model.IsValidAd(Model.MediumAdId))
{
    <section class="article-preview article-preview--small">
        <div class="article-preview__ad advertising">
            <span class="advertising__label">@Model.AdvertisementText</span>
            <script>
            OAS_AD('@Model.MediumAdId', '@Model.AdZone');
            </script>
        </div>
    </section>
}
