@model Informa.Web.ViewModels.IArticlePrologueAskTheAnalystViewModel
<li class="article-prologue__share-item pop-out__trigger js-pop-out-trigger click-utag"
    data-pop-out-type="ask-the-analyst" data-info='{"event_name" : "ask-the-analyst"}'>
    <span class="article-prologue__share-label">Ask The Analyst</span>
    <svg class="article-prologue__share-icon article-prologue__share-icon--email">
        <use xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
    </svg>
</li>

