@model Informa.Web.ViewModels.Articles.IArticleTagsViewModel
<div class="article-tags-bar">
    <span class="article-tags-bar__label">Tags:</span>
    <div class="bar-separated-link-list">
        @foreach (var tag in Model.Tags)
		{
            <a href="@tag.LinkableUrl">@tag.LinkableText</a>
        }
    </div>
</div>
