@using Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages
@model IArticle

<div class="article-related-content">
    <h2>Related Content</h2>

    @foreach (var article in Model.Related_Articles.OfType<IArticle>())
    {
        Html.RenderPartial("Components/ListItemSimple", article);
    }
</div>
