@model ArticleMobileMediaComponentModel

<div class="article-body-content">
    <div class="mobile-table-exit" onclick="return quitBox('quit');">
        &#10094; Return to article
    </div>
    @Html.Raw(@Model.SelectedMobileMedia)
</div>

<script>

function quitBox(cmd) {
    if (cmd=='quit') {
       open(location, '_self').close();
    }
    return false;
};

</script>
