@model Informa.Web.ViewModels.IArticlePrologueEmailViewModel
<li class="article-prologue__share-item pop-out__trigger js-pop-out-trigger click-utag"
	data-pop-out-type="email-article" data-info='{"event_name" : "article-email"}'>
	<span class="article-prologue__share-label">Email</span>
	<svg class="article-prologue__share-icon article-prologue__share-icon--email">
		<use xlink:href="/dist/img/svg-sprite.svg#email"></use>
	</svg>
</li>
