@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData
@using Sitecore.ExperienceAnalytics.Client
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages.IArticle

@*<div class="article-preview">
    <span class="article-preview__byline">Publication Name</span>
    <h1 class="article-preview__headline"></h1>
    <h3 class="article-preview__subtitle">@Model.Sub_Title</h3>
    <div class="article-preview__metadata">
        <div class="article-preview__category">@Model.Article_Category</div>
    </div>
</div>*@
