@model Informa.Web.ViewModels.Articles.RelatedArticlesModel

@if (Model.RelatedArticles != null && Model.RelatedArticles.Any())
{
    <div class="article-related-content">
        <h2>Related Content</h2>

        @foreach (var article in Model.RelatedArticles)
        {
            Html.RenderPartial("Components/ListItemSimple", article);
        }
    </div>
}
