@model Informa.Web.ViewModels.IArticlePrologueAskTheAnalystViewModel

<li class="action-flag pop-out__trigger click-utag js-pop-out-trigger"
    data-pop-out-type="@( Model.IsUserAuthenticated ? "ata" : "sign-in" )"
    data-pop-out-align="center"
     data-info='{"event_name" : "ata"}'>
    <span class="action-flag__label">Ask The Analyst</span>
    <svg class="action-flag__icon">
        <use xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
    </svg>
</li>