@model Informa.Web.ViewModels.IArticleProloguePrintViewModel
<style>
    .clickable {
        cursor: pointer;
    }
</style>
<li class="action-flag pop-out__trigger click-utag @( Model.IsUserAuthenticated ? "" : "js-pop-out-trigger" )"
    data-pop-out-type="sign-in"
    data-pop-out-align="center"
    @(Model.IsUserAuthenticated ? "onclick=window.print();" : string.Empty) data-info='{"event_name" : "toolbar_use", "toolbar_tool":"print"}'>
    
    <span class="action-flag__label">Print</span>

    <svg class="action-flag__icon">
        <use xlink:href="/dist/img/svg-sprite.svg#print"></use>
    </svg>

</li>
