@model AdViewModel

@if (Model.IsValidAd(Model.FilmstripAdId)) {

    <section class="article-preview article-preview--small">
        <div class="article-preview__ad advertising">
            <span class="advertising__label">@Model.AdvertisementText</span>
            <script>
                OAS_AD('@Model.FilmstripAdId', '@Model.AdZone');
            </script>
        </div>
    </section>
}
