@using Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages
@model Informa.Web.ViewModels.GlassArticleModel

@if (Model.RelatedArticles.Any())
{
    <div class="article-related-content">
        <h2>Related Content</h2>

        @foreach (var article in Model.RelatedArticles)
        {
            Html.RenderPartial("Components/ListItemSimple", article);
        }
    </div>
}
