@model Informa.Web.ViewModels.Articles.IArticlePrologueATAViewModel
<li class="action-flag pop-out__trigger js-pop-out-trigger"
	data-pop-out-type="ATA-article" data-info='{"event_name" : "toolbar_use", "toolbar_tool":"Ask To Analyst"}'>
	<span class="action-flag__label">Ask To Analyst</span>
	<svg class="action-flag__icon action-flag__icon--ATA">
		<use xlink:href="/dist/img/svg-sprite.svg#ata"></use>
	</svg>
</li>
