@using Informa.Models.Glass.Models.sitecore.templates.Velir.FactoryInterface
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages.IArticle

<div class="article-related-content">
    <h2>Related Content</h2>

    @foreach (var article in Model.Related_Articles.OfType<IListable>())
    {
        Html.RenderPartial("Components/ListItemSimple", article);
    }
</div>
