@model Informa.Web.ViewModels.IArticleProloguePrintViewModel
<li class="article-prologue__share-item">
	<span class="article-prologue__share-label">Print</span>
	<svg class="article-prologue__share-icon click-utag" data-info='{"event_name" : "article-print-icon"}'>
		<use xlink:href="/dist/img/svg-sprite.svg#print"></use>
	</svg>
</li>