<div class="sub-topic-links">
	<span>Jump to section:</span>
	<div class="bar-separated-link-list">
		<a href="#">Companies</a>
		<a href="#">Deals</a>
		<a href="#">Strategy</a>
		<a href="#">Markets</a>
	</div>
</div>