@model TopicContainerViewModel

<div class="topic-subtopic">
    <h1 class="topic-subtopic__header">
        @Model.Title
        <a class="topic-subtopic__header-explore-link" href="@Model.Link.LinkableUrl">@Model.Link.LinkableText</a>
    </h1>
	@Html.Sitecore().Placeholder("two-column-curated")
</div>
