@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData


<div class="topic-subtopic">

    <h1 class="topic-subtopic__header">
        @TestData.GetRandomTopic().LinkableText
        <a class="topic-subtopic__header-explore-link" href="#">Explore this Topic</a>
    </h1>

    @{
        Html.RenderPartial("Components/ListableContentWide", TestData.ListableModel());
        Html.RenderPartial("Components/ListableContentWide", TestData.ListableModel());
    }

	@Html.Sitecore().Placeholder("two-column-curated")
</div>
