$informa-black:             #231f20;
$color-zeus-black:          #231f20;

$informa-darker-gray:       #414042;
$color-ship-gray:           #414042;

$informa-dark-gray:         #58595b;
$color-abbey-gray:          #58595b;

$color-dove-gray:           #6D6E71;

$color-medium-gray-8:       #808285; // replace with $color-dove-gray ?

$informa-mid-gray:          #979797;
$color-dusty-gray:          #979797;

$informa-light-gray-f:      #f1f2f2;
$color-concrete-gray:       #f1f2f2;

$informa-light-gray-e:      #e2e4e4; // replace with $color-mercury-gray ?
$color-mercury-gray:        #e2e4e4;

$informa-light-gray-d:      #d1d3d4;
$color-light-gray:          #d1d3d4;

$color-light-gray-b:        #bbbcbe; // replace with $color-light-gray ?

$informa-red:               #be1e2d;
$color-cardinal-red:        #be1e2d;

$informa-dark-orange:       #f7941e;
$color-tree-poppy-orange:   #f7941e;

$informa-light-orange:      #fbb040;
$color-yellow-orange:       #fbb040;

$color-goldenrod:           #daa520;

$color-lime-green:          #31be48;

$color-iceberg-green:       #d6ebdc;

$color-antique-white:       #ffeedd;

$color-white:               #ffffff;
