/*---
title: Colors
---
```example:color
@color: #231f20 @name: Zeus Black
@color: #414042 @name: Ship Gray
@color: #58595b @name: Abbey Gray
@color: #979797 @name: Dusty Gray
@color: #f1f2f2 @name: Concrete Gray
@color: #e2e4e4 @name: Mercury Gray
@color: #d1d3d4 @name: Light Gray
@color: #be1e2d @name: Cardinal Red
@color: #f7941e @name: Tree Poppy Orange
@color: #fbb040 @name: Yellow Orange
@color: #d6ebdc @name: Iceberg Green
@color: #31be48 @name: Lime Green
@color: #daa520 @name: Goldenrod
@color: #ffffff @name: White
@color: #bbbcbe @name: Light Gray B
@color: #808285 @name: Medium Gray 8
@color: #6D6E71 @name: Dove Gray
```
*/

$informa-black:             #231f20;
$color-zeus-black:          #231f20;

$informa-darker-gray:       #414042;
$color-ship-gray:           #414042;

$informa-dark-gray:         #58595b;
$color-abbey-gray:          #58595b;

$color-dove-gray:           #6D6E71;

$color-medium-gray-8:       #808285; // replace with $color-dove-gray ?

$informa-mid-gray:          #979797;
$color-dusty-gray:          #979797;

$informa-light-gray-f:      #f1f2f2;
$color-concrete-gray:       #f1f2f2;

$informa-light-gray-e:      #e2e4e4; // replace with $color-mercury-gray ?
$color-mercury-gray:        #e2e4e4;

$informa-light-gray-d:      #d1d3d4;
$color-light-gray:          #d1d3d4;

$color-light-gray-b:        #bbbcbe; // replace with $color-light-gray ?

$informa-red:               #be1e2d;
$color-cardinal-red:        #be1e2d;

$informa-dark-orange:       #f7941e;
$color-tree-poppy-orange:   #f7941e;

$informa-light-orange:      #fbb040;
$color-yellow-orange:       #fbb040;

$color-goldenrod:           #daa520;

$color-lime-green:          #31be48;

$color-iceberg-green:       #d6ebdc;

$color-antique-white:       #ffeedd;

$color-white:               #ffffff;

$color-misty-pink:          #fce5e6;
