$informa-black: #231f20;
$informa-darker-gray: #414042;
$informa-dark-gray: #58595b;
$informa-mid-gray: #979797;
$informa-light-gray-f: #f1f2f2;
$informa-light-gray-e: #e2e4e4;
$informa-light-gray-d: #d1d3d4;
$informa-red: #be1e2d;
$informa-dark-orange: #f7941e;
$informa-light-orange: #fbb040;
