// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// hide from screenreaders and browsers: h5bp.com/u
.is-hidden {
    display: none !important;
    visibility: hidden;
}

.is-active {
    display: block !important;
    visibility: visible;
}
