// hide from screenreaders and browsers: h5bp.com/u
.is-hidden {
    display: none;
    visibility: hidden;
}

.is-active {
    display: block;
    visibility: visible;
}

.u-inherit-text-color {
    color: inherit;
}
