/*---
title: Headers
section: Typography
---

```example:html
<h1>H1 Header</h1>
<h2>H2 Header</h2>
<h3>H3 Header</h3>
<h4>H4 Header</h4>
<h5>H5 Header</h5>
<h6>H6 Header</h6>
```
*/
body {
  color: $informa-dark-gray;
  @include textMix('PT Serif', 16px, 400);
}

h1, h2, h3, h4, h5, h6 {
    color: $color-zeus-black;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h1, h2, h6 {
    @include textMix('Roboto Condensed', 47px, 700);
}
h3, h4, h5 {
    @include textMix('Roboto', 24px, 700);
}

h2 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
    font-weight: 500;
}
h6 {
    color: $color-zeus-black;
    text-transform: uppercase;
    font-size: 15px;
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}
