<div class="alert-{{alertType}}" style="display: block !important;">
	<svg class="alert__icon">
		<use xlink:href="/web/Website/dist/img/svg-sprite.svg#{{alertIcon}}"></use>
	</svg>
	<p>{{alertText}}</p>
</div>
