@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Components.MainContent.IIFrame_Embed

<div class="desktop">
    @Html.Glass().Editable(x => x.Desktop_Embed_Code)
</div>
<div class="mobile">
    @Html.Glass().Editable(x => x.Mobile_Embed_Code)
</div>