.action-flags-bar {
    border-top: 2px solid $color-light-gray;
    clear: both;
    margin-bottom: 36px;
}

.action-flags {

}

.action-flag {
    display: inline-block;
    margin-left: 2rem;
    padding-top: 0.875rem;

    &:first-child {
        margin-left: 0;
    }

    a {
        @include on-event(true) {
            text-decoration: none;
        }
    }

    @include breakpoint('small') {
        margin: 0 0.5rem;
    }


    &__label {
        @include textMix('Roboto Condensed', 14px, 700);
        color: $color-zeus-black;
        margin-right: 0.4375rem;
        text-transform: uppercase;
        vertical-align: middle;

        @include breakpoint('medium') {
            display: none;
        }
    }


    &__icon {
        @include svg-fill($color-dusty-gray);
        height: 22px;
        vertical-align: middle;
        width: 20px;

        &--email {
            width: 21px;
            height: 21px;
            margin-top: -3px;
        }

        &--bookmark {
            margin-top: -1px;
        }

        &--linkedin {
            margin-top: -4px;
        }

        &--twitter {
            margin-top: -3px;
            width: 23px;
            height: 23px;
            margin-left: 1rem;
        }
    }

    &:hover .action-flag__icon {
        @include svg-fill($color-zeus-black);
    }

    &--social {
        @extend .action-flag;

        &:hover .action-flag__icon {
            @include svg-fill($color-dusty-gray);
        }

        & a:hover .action-flag__icon {
            @include svg-fill($color-zeus-black);
        }
    }

}
