/*---
title: Leaderboard
section: Advertising
---

```example:html
<div class="advertising--leaderboard">
    <img src="http://placebear.com/728/90" style="border:0px black solid;" width="728" height="90" alt=""></a>
</div>
```
*/

/*---
title: Rectangle
section: Advertising
---

```example:html
<div class="article-preview__ad">
    Advertisement
    <img src="http://placebear.com/300/250" style="border:0px black solid;" width="300" height="250" alt="">
</div>
```
*/
.advertising {

	&--leaderboard {
		width: 100%;
		text-align: center;
		padding: 30px 0;

		@include breakpoint('small') {

			padding: 0;

			img {
				width: 100%;
				display: block; /* Prevents unwanted space below img */
			}
		}
	}

	&--filmstrip {

	}

	&--rectangle {

	}

}
