// -----------------------------------------------------------------------------
// All styles related to advertising components.
// -----------------------------------------------------------------------------

.ad__full {
	width: 100%;
	text-align: center;
	padding: 2rem 0;

	img {
		@include breakpoint('small') {
			width: 100%;
		}
	}
}