.article-preview {
    margin: 0 auto;
    width: 787px;

    &__bookmarker {
        float: right;
    }

    &__metadata {
        @include textMix('Roboto', 15px, 400);
        margin-top: 8px;
    }
    &__date,
    &__category,
    &__graphicon {
        display: inline-block;
        position: relative;
        margin-right: 12px;
    }

    &__bookmarker {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__category {
        text-transform: uppercase;
        @include textMix('Roboto Condensed', 15px, 600);
    }

    &__date:after,
    &__category:not(:last-child):after,
    &__tag:not(:last-child):after {
        position: absolute;
        content: "";
        border-right: 1px solid #ccc;
        height: 100%;
        right: -8px;
    }

    &__headline {
        @include textMix('Roboto Condensed', 30px, 700);
        color: $informa-black;
        line-height: 32px;
    }
    &__byline {
        @include textMix('Roboto', 16px, 500);
        line-height: 26px;
        color: $informa-dark-gray;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        color: $informa-dark-gray;
    }

    &--small {
        width: 373px;
        padding: 12px 0 0;
    }
    &--small &__image {
        width: 100%;
    }
    &--small &__date,
    &--small &__category {
        font-size: 14px;
    }
    &--small &__headline {
        font-size: 26px;
    }
    &--small &__byline {
        font-size: 14px;
    }
    &--small p {
        font-size: 15px;
        line-height: 25px;
    }

    &--bordered {
        border-top: 2px solid #ccc;
    }
    &--boxed {
        border: 2px solid #ccc;
        padding: 12px;
    }
}
