.article-tags {
    @include textMix('Roboto', 13px, 400);
    display: inline;
    position: relative;
    text-transform: none;

    li {
        border-right: 1px solid $informa-light-gray-d;
        display: inline-block;
        font-size: 15px;
        padding: 0 12px 0 8px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border: 0;
            padding-right: 0;
        }
    }
}
