.banner {
	margin-bottom: 2rem;

	// By default, all banners are hidden.
	// If banner not seen/dismissed, will be displayed when document ready.
	overflow: hidden;
	width: 100%;

	// To animate closing a banner nicely, need to define a `max-height`.
	// Without an explicitly defined height, `transform` won't actually animate
	// `max-height` lets us fake that by giving us an explicit value for the
	// browser to start from when animating.
	transition: max-height 250ms ease-out;
	height: auto;
	max-height: 0px;

	&--maintenance {
		background-color: #f1f2f2;
		color: #58595b;

		@include breakpoint('medium') {
			display: none;
		}
	}

	&--highlights {
		color: $color-zeus-black;
		margin: 32px 0;
		padding: 18px 0;
		border: 2px solid #d1d3d4;
		border-left: 0;
		border-right: 0;
		text-align: center;

		b, strong {
			@include textMix('Roboto', 20px, 600);
			margin-right: 8px;
		}
	}

	&__lead-icon {
		width: 26px;
		height: 22px;
		display: block;
		float: left;
		margin-right: 12px;
	}

	&__wrapper {
		padding: 22px;
	}

	&.is-visible {
		max-height: 300px;
	}

	@include breakpoint('medium') {
		&--maintenance {
			display: none;
		}
	}
}
