	.data-tool-landing{
		width: 100%;
		h1{
			font-family: "Roboto Condensed", Arial Narrow, sans-serif;
			font-style: normal;
			font-weight: 700;
			margin-bottom: 0.75rem;
		}
		.sub-heading-text{
			  font-family: "PT Serif", Georgia, serif;
			  font-style: italic;
			  font-weight: 400;
			  color: $color-abbey-gray;
			  margin-bottom: 0.75rem;
			  font-size: 1.5em;
		}
		.js-toggle-demo{
			width: 100%;			
			float: left;
			background-color:$color-concrete-gray;
			border-top: 1px solid $color-light-gray;
			 margin-bottom: 0.75rem;
			 &.collapsed .toggle-demo{
				display: none;
			 }
			.show-demo{
				text-transform: uppercase;
				text-align: center;
				font-family: 'Roboto', Arial Narrow, sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 0.66em;
				color: $color-dusty-gray;
				padding-bottom: 5px;
				cursor: pointer;
				padding-top: 5px;
				li a{background: url("/dist/img/arrows.png") no-repeat; color: #979797; text-decoration: none;  padding-right: 25px;}
				.sd{background-position: 41px 2px;}
				.hd{background-position: 71px -18px; display: none;}

			}
			.toggle-demo{
				width: 100%;
				display: block;
				padding: 10px 15px 15px 0;
				float: left;
				.demoText{
					font-family: 'Roboto', Arial Narrow, sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 1.125em;
					padding-left:15px;
					text-align: justify;
					line-height: 30px;
					color: $color-abbey-gray;
					width: 50%;
					float: left;
					@include breakpoint('small') {
						width:100%;
					}
					@include breakpoint('medium-small') {
						width:100%;
					}
				}
				.video-demo{
						padding-left: 15px;
						width: 50%;
						float: left;
						@include breakpoint('small') {
							width:100%;
							.visible-sm{
								display: block;
							}
							.visble-lg{
								display: none;
							}
						}
						
						.visible-lg{
							position: relative;
							.play-icon{
								position: absolute;
								width: 90px;
								height: 90px;
								background: url("/dist/img/video-icon.png") no-repeat;
								top: 50%;
								left: 50%;
								margin-top: -27px;
								margin-left: -27px;
								cursor: pointer;
								@include breakpoint('medium-small') {
								left: 50%;
								}
								@include breakpoint('small') {
								left: 50%;
								}
							}
							.video-mini-container {
								@include breakpoint('medium-small') {
								padding: 0;
								}
								@include breakpoint('small') {
								padding: 0;
								}
							}
						}
						
					}
					@include breakpoint('medium-small') {
						width:100%;
						.visible-sm{
							display: block;
						}
						.visble-lg{
							display: none;
						}
					}
					.add-width-100{
						width: 100%;
					}
					
				}
				
			}
			
		}
		.article-data-tool-placeholder{
		   width: 100%;
		   float: left;
		   margin-bottom: 0.75em;
		   .data-tool-placeholder{
				 float: left;
				 width: 50%;
				 margin-bottom:0;
				@include breakpoint('medium-small') {
					width:100%;
				}
				@include breakpoint('small') {
					width:100%;
				}	
		   }
		   .articleText{
				float: left;
				width: 50%;
				clear: right;
				padding: 15px;
				line-height: 30px;
				@include breakpoint('medium-small') {
					width:100%;
				}	
				@include breakpoint('small') {
					width:100%;
				}	
		   }
		}
		.data-tool-placeholder{
			width: 100%;
			margin-bottom: 0.75rem;
			h3.data-tool-heading{
				font-family: "Roboto Condensed", Arial Narrow, sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 1.5em
			}
			.data-tool-graph{
				width: 100%;
				clear: both;
				height: 600px;
			}
		}
		.data-tool-placeholder-right-rail{
			width: 100%;
			h3.data-tool-heading{
				font-family: "Roboto Condensed", Arial Narrow, sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 1.125em
			}
			.data-tool-graph{
				width: 100%;
				height: 600px;
			}
			p 
			 {
				margin-top:20px;
				 a{
					color: $color-red;
					font-family: "Roboto", Arial Narrow, sans-serif;
					font-style: normal;
					font-weight: 400;
				 }
			}
		}
		.articleText{
			width: 100%;
			font-family: "PT Serif", Georgia, serif;
			  font-style: italic;
			  border-top: 1px solid $color-light-gray;
			  font-weight: 400;
			  font-size: 1.125em;
			  color: $color-abbey-gray;
			  background-color: $color-concrete-table-gray;
			  clear: both;
			  text-align: left;
			  padding: 10px;
			  line-height: 30px;
			 p 
			 {
				margin-top:20px;
				 a{
					color: $color-red;
					font-family: "Roboto", Arial Narrow, sans-serif;
					font-style: normal;
					font-weight: 400;
				 }
			}	
		}
		.visible-sm{
			display: none;
		}
		  .modal {
			  .modal-dialog {
				  width: 60%;
				  margin: 0 auto;
			  }
			  .modal-content {
				margin-top:10%;
				@include breakpoint('medium-small') {
					margin-top:30%;
				}	
				@include breakpoint('small') {
					margin-top:30%;
				}	
			  }
			  .modal-header {
				  border-bottom: 0;
				  .close {
					  color: $color-white;
					  opacity: 2;
				  }
			  }
        }
		.embed-responsive .embed-responsive-item,
		.embed-responsive iframe,
		.embed-responsive embed,
		.embed-responsive object {
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  height: 100%;
		  width: 100%;
		  border: 0;
		}

		.embed-responsive.embed-responsive-16by9 {
		  padding-bottom: 56.25%;
		}
		
		.embed-responsive.embed-responsive-4by3 {
		  padding-bottom: 75%;
		}
		.video-mini-container .embed-responsive.embed-responsive-16by9 {padding-bottom:0;}
	
		.article-related-content{
			float: left;
			clear: both;
			h1{
				 font-family: 'Roboto Condensed';
				 font-style: normal;
				 font-weight: 700;
				 font-size: 1.875em;
			}
			.section-article{
				width: 29%;
				float: left;
				margin: 0 2em 0 0;
				
				span{
					 font-family: 'Roboto';
					 font-style: normal;
					 font-weight: 500;
					 font-size: 0.75em;
					 color: $color-dusty-gray;
					 letter-spacing: 1px;
					 display: block;
					 
				}
				.article-related-content__date:last-child {
					border-bottom: 1px solid #d1d3d4 !important;
				}	
				.article-related-content__category{
					 text-transform: uppercase;
					 margin-top:10px;
					 margin-bottom:5px;
				}
				h5{	
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 500;
					font-size: 1.125em;
					line-height: 25px;
					margin: 2px 0;
					clear: both;
				}
				@include breakpoint('medium'){
					width: 45%;
				}
				
				@include breakpoint('medium-small'){
					width: 100%;
				}
				@include breakpoint('small'){
					width: 100%;
				}
			}
			
		}
		#chartdiv{
			width:100% !important;
		}