.inf-standard-form-field {
	padding: 8px;
	border: 1px solid $color-light-gray;
	font-size: 15px;

	// NOTE — Each of these need to be their own rule, cannot be combined.
	// An "invalid" selector inside a group will invalidate the entire group
	// http://stackoverflow.com/a/2610741
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    font-style: italic;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-style: italic;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-style: italic;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 	font-style: italic;
	}
}

.form--single-row {
	margin-top: 1rem;

	.inf-standard-form-field {
		float: left;
	}
	button {
		float: right;
	}

	&:after {
		clear: both;
		display: block;
		content: "";
	}
}

.asterisk-required:before {
	color: $color-tree-poppy-orange;
	content: "*";
	display: inline-block;
	font-size: 1rem;
}

.checkbox-label {
	@include textMix('Roboto', 0.9375rem, 400);
	color: $color-abbey-gray;
	margin-bottom: 2rem;
	margin-left: 0.25rem;
	vertical-align: middle;
}

.labeled-checkbox {
	margin-bottom: 1rem;
}
