.inf-standard-form-field {
	padding: 8px;
	border: 1px solid $informa-light-gray-d;
	font-size: 15px;

	// NOTE — Each of these need to be their own rule, cannot be combined.
	// An "invalid" selector inside a group will invalidate the entire group
	// http://stackoverflow.com/a/2610741
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    font-style: italic;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-style: italic;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-style: italic;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 	font-style: italic;
	}
}

.form--single-row {
	margin-top: 1rem;

	.inf-standard-form-field {
		float: left;
	}
	button {
		float: right;
	}

	&:after {
		clear: both;
		display: block;
		content: "";
	}
}
