.iframe-component {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;

    &__mobile iframe {
        display: block;
        margin: 0px auto;
    }

    @include breakpoint('small') {
    		&__mobile iframe,
			&__desktop iframe {
				max-width: 100%;
				height: auto;
			}
    }
}
