.latest-news {

    &__header {
        position: relative;
        text-align: center;

        &:before {
            background-color: $informa-red;
            content: "";
            display: block;
            height: 4px;
            position: absolute;
            top: calc(50% - 2px);
            width: 100%;
            z-index: 1;
        }
        span {
            background-color: #fff;
            display: inline-block;
            padding: 24px 36px;
            position: relative;
            z-index: 2;
        }

        @include breakpoint('small') {
            border-bottom: 4px solid $informa-red;
            margin-bottom: 1.5rem;
            text-align: left;

            span {
                padding: 0 0 0.5rem 0;
            }

            &:before {
                display: none;
            }
        }
    }

    &__articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -1rem;

        .article-preview--small {
            border: 1px solid $informa-light-gray-d;
            flex: 1 0 auto;
            margin: 0 1rem 2.25rem;
            padding: 12px 24px 3rem;
            width: 300px;

            .article-preview__tags {
                bottom: 24px;
                left: 24px;
                position: absolute;
            }
        }
    }
}
