.latest-news {
    clear: both;

    > h1 { // Only target the first / main section header
        color: $informa-black;
        border-left: 12px solid $informa-red;
        padding-left: 18px;
        margin-bottom: 1.5rem;

        a {
            @include textMix('Roboto', 1rem, 500);
            margin-left: 1.5rem;
        }

        @include breakpoint('medium') {
            margin-bottom: 3rem;

            a {
                margin-left: 0;
                display: block;
                position: absolute;
            }
        }

        @include breakpoint('small') {
            font-size: 2rem;

            a {
                margin-top: 0.5rem;
            }
        }
    }

    h4 {
        text-align: center;
        position: relative;

        &:before {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $informa-red;
            content: "";
            top: calc(50% - 2px);
            z-index: 1;
        }
        span {
            background-color: #fff;
            display: inline-block;
            padding: 24px 36px;
            position: relative;
            z-index: 2;
        }
    }

    .article-preview {

        &--wide {
            background-color: $informa-light-gray-f;
            border-top: 2px solid $informa-light-gray-d;
            margin-bottom: 24px;
            padding: 24px;
            width: 100%;

            .article-tags {
                bottom: 0;
                display: inline-block;
                position: relative;
            }

            .article-preview__metadata {
                float: right;
                width: calc(100% - 384px);
                margin-bottom: 1rem;
            }

            .article-preview__content-wrapper {
                margin-left: 384px;
            }

            @include breakpoint('medium') {
                .article-preview__metadata {
                    float: none;
                    width: 100%;
                }

                .article-preview__content-wrapper {
                    margin-left: 264px;
                }
            }
        }

        &--small {
            float: left;
            width: calc(33.3333% - 24px);
            margin-right: 36px;
            margin-bottom: 36px;
            padding: 12px 24px;
            border: 1px solid $informa-light-gray-d;
            clear: right;
            height: 400px;

            &:nth-child(3n+1) {
                margin-right: 0;
            }

            .article-tags {
                left: 24px;
            }

            // These are a bit magic-number'ey, but given the contents of
            // this component, need to collapse from 3 -> 2 and 2 -> 1 before
            // the standard breakpoints.

            @media ('max-width: 1000px') {
                width: calc(50% - 12px);
                margin-right: 24px;
                margin-bottom: 24px;

                &:nth-child(3n+1) {
                    margin-right: 24px;
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            @media ('max-width: 600px') {
                width: 100%;
                margin-right: 0;

                &:nth-child(3n+1),
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }

        &__image {
            float: left;
            margin-right: 24px;
            width: 360px;

            @include breakpoint('medium') {
                width: 240px;
            }
        }

        // .latest-news previews need a wrapper for all content besides the image
        // Image floats left, but other content needs to stay within right "col"
        &__wrapper {
            margin-left: 388px;
        }


    }

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}
