.ll-casualty-form {
	.form-control {
        float: left;
        margin-bottom: 20px;
        @include breakpoint('small') {
    		width: 100%;
    		float: none;
    	}
    	@media only screen and (min-width: 768px) and (max-width: 1024px) {
    		width: 50%;
    	}
        label {
        	float: left;
        	margin-top: 8px;
        	margin-right: 5px;
        	@include breakpoint('small') {
        		width: 100%;
        		margin-bottom: 1em;
        	}
        	@media only screen and (min-width: 768px) and (max-width: 1024px) {
	    		width: 100%;
	    		margin-bottom: 1em;
	    	}
        }
        &:last-child {
        	float: right;
        }
     }
     .selectivity-single-select-input {
     	visibility: hidden;
     }
     .selectivity-input {
     	position: relative;
     }
     .selectivity-dropdown {
        right: 0;
        top: 100% !important;
        left: auto !important;
     }
}
.lli-brand-container {
    margin-bottom: 20px;
    h3 {
	    background-color: #414042;
	    padding: 10px;
	    color: #fff;
	}
	.lli-brand-box {
	    padding: 10px;
	    background: #f7f7f7;
	 }
	 fieldset {
	    border: 0;
	 }
	 .selectivity-single-select {
	 	background: $color-white;
	 }
	 .select-field {
	 	position: relative;
	 	display: inline-block;
	 }
	 .selectivity-input {
     	position: relative;
     }
	 .selectivity-dropdown {
        right: 0;
        top: 100%;
     }
    .form-control {
	    margin-bottom: 20px;
	}
	.form-control label{
	    width: 200px;
	    display: inline-block;
	     @include breakpoint('small') {
	     	margin-bottom: 0.5em;
	     }
	}
	.submit {
	    border: 1px solid transparent;
	    color: #ffffff;
	    padding: 12px;
	    background-color: #9E310D;
	    width: 146px;
	    font-family: 'Roboto', Arial Narrow, sans-serif;
	    font-style: normal;
	    font-weight: 700;
	    font-size: 0.75em;
	    float: left;
	    margin-left: 205px;
	    text-transform: uppercase;
	    @include breakpoint('small') {
	    	margin-left: 0;
	    }
	}
}
.graybg {
	border-bottom: 1px solid #d1d3d4;
}
.lloyd-related-links {
    margin-top: 1.25rem;
}
.merge-acquistion {
	input[type="text"] {
	    width: 100%;
	    color: #000;
	}
	.selectivity-input {
	    width: 100%;
	    color: #000;
	 }
	.range-wrapper {
	    float: none;
	    width: 100%;
	 }
	 input.range-field {
	    width: 30px !important;
	 }

	 th span, .sorting-buttons {
	    float: left;
	    margin-right: 5px;
	 }
	 .selectivity-single-select {
	    box-sizing: border-box;
	 }
	 .selectivity-single-select-input {
	       padding: 2px !important;
	       width: 100% !important;
	 }
	 .selectivity-single-result-container {
	    top: 4px;
	 }
	 .form-control {
	    margin-bottom: 20px;
	 }
	 .form-control input {
	    width: 100%;
	 }
 }

.marketdata-links{
	.hideMarketData{
		&.hide{
			display: none;
		}
	}
	.shippingData{
		&.hide{
			display: none;
		}
	}
}