.ll-casualty-form {
	form {
        float: left;
        margin-bottom: 20px;
        position: relative;
        @include breakpoint('small') {
    		width: 100%;
    	}
        label {
        	float: left;
        	margin-top: 8px;
        	margin-right: 5px;
        	@include breakpoint('small') {
        		width: 100%;
        	}
        }
        &#jump-to {
        	float: right;
        }
     }
     .selectivity-dropdown {
        right: 0;
        top: 100%;
     }
}
.lli-brand-container {
    margin-bottom: 20px;
    h3 {
	    background-color: #414042;
	    padding: 10px;
	    color: #fff;
	}
	.lli-brand-box {
	    padding: 10px;
	    background: #f7f7f7;
	 }
	 form {
	 	position: relative;
	 }
	 form fieldset {
	    border: 0;
	 }
	 .select-field {
	 	position: relative;
	 	display: inline-block;
	 }
	 .selectivity-dropdown {
        right: 0;
        top: 100%;
     }
    .form-control {
	    margin-bottom: 20px;
	}
	.form-control label{
	    width: 200px;
	    display: inline-block;
	}
	.submit {
	    border: 1px solid transparent;
	    color: #ffffff;
	    padding: 12px;
	    background-color: #9E310D;
	    width: 146px;
	    font-family: 'Roboto', Arial Narrow, sans-serif;
	    font-style: normal;
	    font-weight: 700;
	    font-size: 0.75em;
	    float: left;
	    margin-left: 205px;
	    @include breakpoint('small') {
	    	margin-left: 0;
	    }
	}
}