.ll-casualty-form {
	.form-control {
        float: left;
        margin-bottom: 20px;
        @include breakpoint('small') {
    		width: 100%;
    		float: none;
    	}
    	@media only screen and (min-width: 768px) and (max-width: 1024px) {
    		width: 50%;
    	}
        label {
        	float: left;
        	margin-top: 8px;
        	margin-right: 5px;
        	@include breakpoint('small') {
        		width: 100%;
        		margin-bottom: 1em;
        	}
        	@media only screen and (min-width: 768px) and (max-width: 1024px) {
	    		width: 100%;
	    		margin-bottom: 1em;
	    	}
        }
        &:last-child {
        	float: right;
        }
     }
     .selectivity-single-select-input {
     	visibility: hidden;
     }
     .selectivity-input {
     	position: relative;
     } 
     .selectivity-dropdown {
        right: 0;
    	top: 100% !important;
    	left: auto !important;
     }
}

.casualtyPan{
	h2{
		font-size: 46px;
		font-weight: bold; 
	}
	&.table-responsive {
		.table {
			.table_head {
				background-color: #0f5487;
				color: #ffffff;
				th{
					font-size: 14px;
					&.pad-20{
						padding: 20px;
					}
				}
			}
			tbody{
				.R16{
					border-bottom: 1px solid #e0e0e0;
					padding: 20px;
				}
				.R16:nth-child(1){
					border-right: 1px solid #e0e0e0;
					font-weight: bold;
				}
			}
		}
		hr{
			margin: 20px 0;
		}
	}
}

#market-data-tool, #tanker-fixtures{
	&.table-responsive .table {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		&.mobView{
			display: none;
		}
		&.descView{
			display: block;
		}
		@include breakpoint('small') {
			&.mobView{
				display: table;
			}
			&.descView{
				display: none;
			}
		}
		.table_head{
			background-color: #0f5487;
			color: #ffffff;
			th{
				font-size: 16px;
				font-weight: normal;
			}
			.visible-lg{
				background: #1191d1;
				color: #fff;
				font-weight: normal;
			}
		}
		tbody.visible-lg td{
			border-bottom: 1px solid #d1d3d4;
		}
		.pad-10 {
			padding: 16px 10px;
		}
		.R21_GrayColor{
			font-size: 18px;
		}
		.R21_GrayColorVal{
			font-size: 16px;
			a{
				color: #1191d1;
				text-decoration: none;
			}
		}
		.RB18{
			color: #000;
			a{
				color: #58595b;
				border-left: 1px solid #979797;
				padding: 8px 0px 8px 20px;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.R16{
			font-size: 15px;
		} 
		@include breakpoint('small') {
			.visible-sm {
				display: block;
			} 
		}
	}

	.lli-brand-container {
		margin-bottom: 20px;
		h3 {
			background-color: #414042;
			padding: 10px;
			color: #fff;
		}
		.lli-brand-box {
			padding: 10px 0;
			/*background: #f7f7f7;*/
		 }
		 p{
			margin-bottom: 35px;
		 }
		 fieldset {
			border: 0;
			margin: 0px;
			padding: 0px;
		 }
		 .form-control {
			margin-bottom: 20px;
			float: left;
			width: 50%;
			@include breakpoint('small') {
				width: 100%;
			}
			&:nth-child(2){
				float: right;
				text-align: right;
				.selectivity-single-result-container{
					text-align: left;
				}
			}
		 }
		 .dataProImg{
			float: right;
			text-align: right;
			@include breakpoint('small') {
				float: inherit;
				text-align: left;
			}
			span{
				position: relative;
				top: -26px;
				margin-right: 10px;
			}
		  }
		 .selectivity-single-select {
			background: $color-white;
		 }
		 .select-field {
			position: relative;
			display: inline-block;
		 }
		 .selectivity-input {
			position: relative;
		 }
		 #areaCode{
			&.selectivity-input {
				width: 300px;
			}
		 }
		 #movementType.selectivity-input, #selectDay.selectivity-input {
			width: 200px;
		 }
		 .selectivity-dropdown {
			right: 0;
			top: 100%;
		 } 
		.form-control label{
			/*width: 200px;*/
			margin-right: 20px;
			display: inline-block;
			 @include breakpoint('small') {
				margin-bottom: 0.5em;
			 }
		}
		.submit {
			border: 1px solid transparent;
			color: #ffffff;
			padding: 12px 80px;
			background-color: #1191d1;
			font-family: 'Roboto', Arial Narrow, sans-serif;
			font-style: normal;
			font-size: 1rem;
			float: right;
			@include breakpoint('small') {
				margin-left: 0;
			}
		}  
	}
	h2{
		font-size: 46px;
		font-weight: bold;
		margin-bottom: 40px;
	}
	h3{
		font-size: 26px;
		font-weight: normal;
		font-style: italic;
	}
	hr{
		margin: 25px 0 35px;
	}
}
 
.graybg {
	border-bottom: 1px solid #d1d3d4;
	border-top: 1px solid #d1d3d4;
}
.lloyd-related-links {
    margin-top: 1.25rem;
}
.merge-acquistion {
	input[type="text"] {
	    width: 100%;
	    color: #000;
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	.selectivity-input {
	    width: 100%;
	    color: #000;
	 }
	.range-wrapper {
	    float: left;
	    width: 100%;
	 }
	 input.range-field {
	    width: 30px !important;
	 }

	 th span, .sorting-buttons {
	    float: left;
	    margin-right: 5px;
	 }
	 .selectivity-single-select {
	    box-sizing: border-box;
	 }
	 .selectivity-single-select-input {
	       padding: 2px !important;
	       width: 100% !important;
	 }
	 .selectivity-single-result-container {
	    top: 4px;
	 }
	 .form-control {
	    margin-bottom: 20px;
	 }
	 .form-control input {
	    width: 100%;
	 }
 }

.marketdata-links{
	.hideMarketData{
		&.hide{
			display: none;
		}
	}
	.shippingData{
		&.hide{
			display: none;
		}
	}
}

.graphs-container { background-color: #EEEEEE; margin: 0 6px 20px; overflow: auto; }
.graphs-container h4 { text-transform: uppercase; padding: 10px; }
.graph-container h5 { font-weight: bold; font-size: 11px; color: #333333; padding: 5px; }
.graphs-container .graph-container {
    display: inline-block;
    text-align: left;
    padding: 0 8px;
    padding-bottom: 10px;
    background-color: #EEEEEE;
    float: left;
    border-left: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    width: 25%;
    @include breakpoint('small') {
    	width: 100%;
    }
    &:first-child {
    	border-left: none;
    }
}
.graphs-container .dealsOmitted {
	float: right;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    background-color: #fff;
}
 
#market-data{
	#marketDataTable{
		width: 760px;
		@include breakpoint('small') {
    		width: 100%;
    	}
		span.rise {
			color: #56c405;
			font-weight: bold;
			margin-left: 10px;
		}
		span.fall {
			color: #f40600;
			font-weight: bold;
			margin-left: 10px;
		}
	}
}