.main-menu {

	@include textMix('Roboto', 14px, 400);

	align-items: stretch;
	background-color: $informa-light-gray-e;
	border-right: 70px solid $informa-dark-gray;
	flex: 0 0 auto;
	float: left;
	width: 330px;

	// Start off translated on-screen just enough to see the toggler
	transform: translate3d(70px, 0, 0);
	transition: all 300ms cubic-bezier(0.450, 0.520, 0.220, 1.085);

	&.is-active {
		transform: translate3d(330px, 0, 0);
	}

	// At smaller widths, we use the `--mini` toggler instead
	// Remove the thick border, don't show permatoggler on the left when closed
	@include breakpoint('medium') {
		border-right: 1px solid $informa-light-gray-d;
		font-size: 16px;
		margin-right: 70px;
		transform: translate3d(0, 0, 0);
		width: 260px;
	}

	// TODO break this out into component, similar to footer

	&__section {
		border-bottom: 1px solid $informa-light-gray-d;
		margin: 0;
		padding: 16px 0;
		background-color: $informa-light-gray-f;
	}

	&__section-title,
	&__section-link {
		line-height: 34px;
		position: relative;
	}

	&__section-title {
		padding: 0 0 0 30px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1.2px;

		&:after {
			content: "⌃";
			right: 10px;
			position: absolute;
			font-weight: 400;
		}
	}

	&__section-link {
		margin: 0;
	}

	&__section-wrapper {
		transition: all 150ms ease-out;
		transform: scaleY(0);
		transform-origin: top;
		max-height: 0;
	}

	&__footer-link {
		padding: 0 0 0 1rem;
		line-height: 1.5rem;
		margin: 0;
		font-size: 13px;

		a:after {
			// "\ao " is a non-breaking space
			content: "\a0 ›";
			display: inline;
			font-size: 1.25em;
		}
	}
}

// Toggle menu section link visibility on-click
.main-menu__section-title.is-active ~ .main-menu__section-wrapper {
	transform: scaleY(1);
	max-height: 999px;
}

.main-menu__hoverable {
	position: relative;

	a {
		padding: 0 0 0 42px;
	}
	&:hover:before {
		content: "";
		position: absolute;
		left: 0;
		display: block;
		height: 100%;
		width: 6px;
		background-color: $informa-dark-orange;
	}
}
