header{
	.advertising--leaderboard.visible-mobile{
		display: none;
		@include breakpoint('small') {
			display: block;
		}
	}
	.header__wrapper{
	 	position: relative;
	}
	.header-publication-links{
		@include breakpoint('medium-small') {
			top: 50px;
		}
		@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 667px) 
                   and (orientation: landscape) {
		}
		@media only screen and (min-width: 768px) and (max-width: 1000px){
			top: 50px !important;
			margin-right: 0 !important;
		}
		@media only screen and (max-width: 1024px) {
			top: 54px;
			font-size: 0.6875rem;
			margin-right: 20px;
		}	
	}
	.header-account-access{
		flex: 2 0 auto !important;
		padding: 0 !important;
		@media only screen and (min-width: 769px) and (max-width: 1024px) { 
			margin-top: -25px;
		}
		.myView-placeholder{				
				float: left;
				padding: 0.3em 0;
				position: relative;
				text-align: center;
				.btn-my-view{
					border: 1px solid transparent;
					color: $color-white;
					padding: 12px;
					width: 146px;
					font-family: 'Roboto', Arial Narrow, sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: 0.75em;
					display: block;
					@include breakpoint('wide'){
						text-transform: uppercase;
					}
					@media (max-width: 1024px) {
						text-transform: uppercase;
					}
					@include breakpoint('medium-small') {
						background: none; 
						color: $color-my-view;
						padding: 0;
						width: auto;
						font-family: 'Roboto', Arial Narrow, sans-serif;
						font-style: normal;
						font-weight: 400;
					}
					@include breakpoint('small') {
						background: none; 
						color: $color-my-view;
						padding: 0;
						width: 60px;
						font-family: 'Roboto', Arial Narrow, sans-serif;
						font-style: normal;
						font-weight: 400;
					}
					@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { 
						background: none; 
						color: $color-my-view;
						padding: 0;
						width: 60px;
						font-family: 'Roboto', Arial Narrow, sans-serif;
						font-style: normal;
						font-weight: 400;
					}
				}
				@media (max-width: 1024px) {
					float: right;
					margin-right: 20px;
					clear: both;
					display: block
				}
				@include breakpoint('medium-small') {
					float: right;
					width: 60px;
				}
				@include breakpoint('small') {
					position: absolute;
					top: 0;
					margin-right: 12px;
					right: 0;
					z-index: 99;
				}
			.arrow{
				display: none;
				float: left;
				margin-top: 3px;
				margin-right: 3px;
				@include breakpoint('small') {
						display: block;
				}
				@include breakpoint('medium-small') {
						display: block;
				}
				@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { 
					display: block;
				}
				
			}
				
		}
		.header-account-right-access{
			float: right;
			padding: 1rem 0;
			@media (max-width: 1024px) {
				float: right;
				margin-right: 20px;
				clear: both;
				display: block;
			}
			@include breakpoint('small') {
				float: left;
				padding: 9px 0;
			}
			
		}
	}
	.header__logo{
		@include breakpoint('small') {
			margin-right:0 !important;
		}
	}
	.header__icons--search, .header__icons--dismiss-search{
		@include breakpoint('small') {
		margin: 2.5rem 0 1rem 0.5rem !important;
		}
		@include breakpoint('medium-small') {
		margin: 2.5rem 0 1rem 0.5rem !important;
		}
	}

	
}

@media only screen and (max-width: 1024px) {
	div.header__logo {
		width:auto !important;
	}
}
main{
	.advertising--leaderboard.visible-desktop{
		padding: 13px 0 13px 0;
		@include breakpoint('small') {
			display: none;
		}
	}
	.action-flags-bar, .banner--highlights{
		margin-top: 0 !important;
	}
}