@mixin folow-btn($w, $h){
	border: 1px solid $color-tree-poppy-orange;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.75em;
	font-family: "Roboto";
	font-weight: 700;
	height: $h;
	text-align: center;
	display: inline-block;
    line-height: $h;
	float: right;
}
@mixin tableData($px){ 
	padding: 0.75rem 1.25rem;
	line-height: 1.5rem;
	vertical-align: top;
	border-top: $px solid #ddd;
}
@mixin getMove(){
	float: right;
	margin-top: 0.1875rem;
	position: relative;
	span{
		height: 0.125rem;
		width: 1.3125rem;
		background: #d1d3d5;
		display: block;
		margin-bottom: 3px;
	}
	.move{
		position: absolute;
		left: -2.6875rem;
		top: 1px;
		text-transform: uppercase;
		font-size: 0.75em;
		display: none;
		@include breakpoint('small') {
			z-index: -1;
		}
	}
}
@mixin unfollowBtnLbl(){
	@include folow-btn(auto, 2rem);
	padding: 0 20px;
	background-color: $color-tree-poppy-orange;
	color: $color-white;
	margin: 0.5rem 0 0 1.25rem;
	&.mtp{
		margin-top: -6px;
		margin-bottom: 25px;
	}
}
@mixin followBtnLbl(){
	@include folow-btn(auto, 2rem);
	padding: 0 1.5625rem;
	margin-top: 0.5rem;
	&:hover{
		background-color: $color-tree-poppy-orange;
		color: $color-white;
	}
	&.mtp{
		margin-top: -6px;
		margin-bottom: 25px;
	}
}

.myview-settings {
	padding-bottom: 50px !important;
	margin-bottom: 3.125rem;
	h1{
		margin-bottom: 0rem;
		float: left;
		@include breakpoint('medium-small') {
			font-size: 2rem;
		}
	}
	.mysettingsHead{
		border-bottom: 1px solid #d1d3d4;
		padding-bottom: 0.625rem;
		margin-bottom: 1.25rem;
		@include breakpoint('small') {
			margin-bottom: 0rem;
			border-bottom: none;
		}
	}
	.mtop-10{
		margin-top: 0.625rem;
	}
	.mb-10{
		margin: 0.625rem 0 1.25rem;
	}
	.desktophide{
		display: none !important;
	}
	.sub-heading-text{
		font-size: 1.125em;
		margin-bottom: 1.25rem;
		p{
			line-height: 1rem;
			font-style: normal;
			font-family: "PT Serif Caption";
			font-weight: 400;
			font-size: 1.125em;
			@include breakpoint('medium-small') {
				font-family: "Roboto";
				font-size: 0.85em;
				margin: 0rem;
				padding: 0rem;
				line-height: 1.375rem;
			}
		}
	}
	.publicationPan{
		margin-bottom: 1.5625rem;
		border: 1px solid #d9dadb;
		h2{
			text-align: left;
			float: left;
			width: 30rem;
			line-height: 2.5rem;
			@include breakpoint('medium-small') {
				font-size: 1.25em;
				margin-bottom: 0.75rem;
				float: none;
				width: auto;
				line-height: 1.625rem;
			}
		}
		.subscribed{
			border-left: 1px solid #d9dadb;
			float: left;
			cursor: pointer;
			padding-left: 1.25rem;
			margin: 3px 20px;
			vertical-align: top;
			line-height: 30px;
			position: relative;
			@include breakpoint('medium-small') {
				font-size: 0.875em;
				border-left: none;				
				padding-left: 0rem;
				margin: 0rem;
			}
		}
		.subscribe{
			float: left;
			width: 7.5rem;
			height: 2rem;
			background: $color-tree-poppy-orange;
			color: $color-white;
			margin: -4px 0 0 1.25rem;
			line-height: 2rem;
			font-size: 0.75rem;
			cursor: pointer;
			padding-left: 0rem;
			@include breakpoint('small') {
				font-size: 0.875em;
				border-left: none;				
				padding-left: 0rem;
				margin: 0 !important;
			}
		}
	}
	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		.table{
			border-collapse: collapse;
			width: 100%;
			max-width: 100%;
			font-family: "Roboto Condensed";
			font-style: normal;
			@include breakpoint('small') {
				display: block;
				position: relative;
			}
			tbody{
				 tr{
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					transition: all 0.2s ease; 
					td{
						@include tableData(1px);
					}
					.followingBtn{
						@include folow-btn(7.5rem, 2rem);
						padding: 0 1.625rem;
						&:hover{
							background: $color-tree-poppy-orange;
							color: $color-white;
						}
						@include breakpoint('medium-small'){
							background: url(/dist/img/follow-mob.jpg) no-repeat 0 0;
							height: 1.875rem;
							width: 1.875rem;
							border: none;
							padding: 0 1rem;
							display: inline-block;
							margin-left: 0.625rem;
							text-indent: -9999px;
						}
					}
					.followBtn{
						@include folow-btn(7.5rem, 2rem);
						padding: 0 2.25rem;
						background: $color-tree-poppy-orange;
						color: $color-white;
						@include breakpoint('medium-small'){
							background: url(/dist/img/follow-mob.jpg) no-repeat 0 -31px;
							height: 1.875rem;
							width: 1.875rem;
							display: inline-block;
							margin-left: 0.625rem;
							border: none;
							padding: 0 1rem;
							text-indent: -9999px;
						}
					}
					&.followingrow{
						.rowlines{
							@include getMove();
						}
						&:hover{
							background: #f5f5f5;
							cursor: move;
							& .rowlines{
								span{
									background: #acacad;
								}
							}
							& .move{
								@include breakpoint('small') {
									display: none;
								}
								display: block;
							}
						}
					}
					&.followrow{
						background: #f9f9f9;
						@include breakpoint('small') {
							background: $color-white;
						}
						.rowlines{
							@include getMove();
						}
						&.frow{
							border-top: 2px solid #d1d3d4;
							@include breakpoint('small') {
								border-top: none;
							}
						}
						& .move{
							display: none;
						}
					}
				 }
			}
			thead{
				tr{
					@include breakpoint('small') {
						&.expandHide{
							display: none;
							&.collapseshow{
								display: block !important;
							}
						}
					}
				}
				th{
					@include tableData(0px);
					background: #f9f9f9;
					@include breakpoint('small') {
						/*padding: 0.5rem 0rem 0.625rem 0.625rem;*/
					}
					p{
						font-size: 1em; 
						text-align: left;
						padding: 0.75rem 0 0;
						font-weight: normal;
						@include breakpoint('medium-small') {
							padding: 0;
							font-size: 1em;
							font-weight: normal;
						}
						
						&.nosubscr{
							margin: -40px 0 0;
							font-weight: normal;
						} 
					} 
					&.firstrow{
						padding: 2.5rem 1.25rem 0.625rem;
						@include breakpoint('medium-small') {
							padding: 1.25rem 0.625rem 0.625rem;
						}
					}
					&.nopad{
						padding: 0rem 1.25rem;
						@include breakpoint('small') {
							padding:  0rem 0.625rem;
						}
					}
					&.pbot{
						padding: 0rem 1.25rem 0.9375rem;
					}
					& .rowlines{
						@include getMove();
						margin-top: -1.5rem;
						@include breakpoint('medium-small') {
							top: 4px;
							margin-top: 0px;
						}
						span{
							@include breakpoint('medium-small') {
								background: #808081;
							}
						}
						& .vline{
							border: 1px solid #dadada;
							height: 40px;
							width: 1px;
							float: left;
							position: relative;
							top: -13px;
							right: 22px;
							@include breakpoint('medium-small'){
								display: none;
							}
							@include breakpoint('medium'){
								right: 12px;
							}
						}
					}
					& .accordionImg{
						a{
							background: url(/dist/img/accordion.png) no-repeat 0 -21px;
							height: 1.0625rem;
							width: 2rem;
							display: inline-block;
							margin-right: 10%;
							@include breakpoint('medium-small') {
								background: url(/dist/img/mob-arrow.png) no-repeat 0 -33px;
								height: 0.75rem;
								width: 1.4375rem;
								position: relative;
								left: 0;
								&.expanded{
									position: relative;
									left: 0;
									background-position: 0 0; 
								}
							}
							@media screen and (min-width: 667px) and (max-width: 767px){
								margin-right: 3.125rem;
							}
							&.expanded{
								background-position: 0 0;
							}
							@media screen and (min-width: 801px) and (max-width: 1130px){
								margin-right: 50%;
							}
						}
					}
					&.notsubscr{
						text-align: left;
						padding-bottom: 1.5rem;
						padding-top: 0rem;
					}
				} 
				.followAllBtn{
					@include followBtnLbl();
					@include breakpoint('small') {
						float: none;
					}
				}
				.followinglbl{
					@include followBtnLbl();
					cursor: text;
					@include breakpoint('medium-small') {
						margin: 0px !important;
						float: left;
					}
				}
				.unfollowAllBtn{
					@include unfollowBtnLbl();
					padding: 0 1rem;
					@media screen and (min-width: 667px) and (max-width: 767px){
						padding: 0 1.25rem;
					}
				}
				.followlbl{
					@include unfollowBtnLbl();
					padding: 0 2.25rem;
					cursor: text;
					@include breakpoint('medium-small') {
						margin: 0px !important;
						float: left;
					}
				}
			}
			.wd-55{
				width: 55%;
				@include breakpoint('small') {
					width: 65%;
				}
				@include breakpoint('medium-small') {
					width: 45%;
				}
			}
			.wd-25{
				width: 25%;
				@include breakpoint('small') {
					width: 20%;
					padding: 0.5rem 0rem 0rem 0.625rem;
					text-align: right;
				}
				@include breakpoint('medium-small') {
					width: 25%;
				}
			}
			.wd-15{
				width: 15%;
				@include breakpoint('small') {
					width: 10%;
				}
				@include breakpoint('medium-small') {
					width: 15%;
				}
			}
			.graybg{
				background: #f9fafa;
			}
		}
  }
  .hideBtn{
	  display: none !important;
  }
  .saveoption{
	  float: left;
	  width: 100%;
	  .gotoview{
		 @include folow-btn(auto, 2rem);
		  margin-left: 1.25rem;
		  a{
			color: $color-abbey-gray;
			display: block;
			padding: 0 25px;
			&:hover{
				background: $color-tree-poppy-orange;
				color: $color-white;
				text-decoration: none;
			}
			&:focus{
				text-decoration: none;
			}
		  }
		@include breakpoint('small') {
			@include folow-btn(7.5rem, 2rem);
			margin: 0 0.625rem;
		}
		
	  }
	  .complete-settings{
			display: inline-block;
			float: right;
		}
	  .saveview{
		padding: 0 2rem;
		 @include folow-btn(auto, 2rem);
		  margin-left: 1.25rem;
		  background: $color-tree-poppy-orange;
		  color: $color-white;
		  @include breakpoint('small') {
			float: right;
			margin: 0px;
			padding: 0 2.5rem;
		  }
	  }
	  .registrationBtn{
		padding: 0 2rem;
		 @include folow-btn(auto, 2rem);
		  margin-left: 1.25rem;
		  background: $color-tree-poppy-orange;
		  color: $color-white;
		  @include breakpoint('small') {
			width: 7.5rem;
		  }
	  }
  }
  
  .dosubscribe{
	& .followrow{
		background: #f9f9f9;
		@include breakpoint('small') {
			background: $color-white;
		}
		& .rowlines{
			display: none;
		}
	}
  }
  & .hidden{
	display: none !important;
  }
  .vh{
	visibility: hidden;
	background: #f9f9f9;
  }
    .modal-view {
	    position: fixed;
		width: 25rem;
		height: 8.125rem;
		top: 50%;
		left: 50%;
		z-index: 5000;
		margin-left: -12.5rem;
		margin-top: -4.0625rem;
		background: $color-white;
		padding: 2.1875rem 2.5rem 2.5rem;
		border: 1px solid $color-tree-poppy-orange;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		display: none;
		@include breakpoint('small') {
			width: 18.75rem;
			height: 6.25rem;
			margin-left: -9.375rem;
			margin-top: -9.375rem;
			padding: 1.625rem 2.5rem 2.5rem;
		}
		h4{
			font-size: 1.125rem;
			text-align: center;
			line-height: 1.875rem;
			
			@include breakpoint('small') {
				font-size: 0.875rem;
				text-align: center;
				line-height: 1.5rem;
			}
		}
		
	  .modal-inner {
			display: inline-block;
			text-align: left;
			background-color: #eee;
			color: #000;
			padding: 1.25rem;
			
			@include breakpoint('small') {
				padding: 0.625rem;
			}
		}

		.close-modal {
			position: absolute;
			right: 0.625rem;
			top: 0.625rem;
			color: #f7941e;
			font-family: "Roboto";
			font-weight: bold;
			font-size: 1rem;
			cursor: pointer;
		}
	}
	.modal-overlay{
		&.in{
			background: #000;
			height: 100%;
			width: 100%;
			position: fixed;
			top: 0rem;
			left: 0rem;
			z-index: 99;
			opacity: 0.5;
		}
	}
	.hidden-large{
		display: none;
	}
	
	.alert-success{
		margin-bottom: 20px;
	}
	.alert-error{
		margin-bottom: 20px;
	}
	.tbodyhidden{
		display: none;
	}	
}

@include breakpoint('medium-small') {
	.myview-settings{ 
		.hidden-large{
			display: table-row-group !important;
		}
	}
}

@include breakpoint('medium') {
	.myview-settings{
		.desktopMode{
			margin-left: -1.875rem;
		}
		.firstrow{
			h2{
				width: auto;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.myview-settings{
		.firstrow h2{
			width: 15rem;
		}
	}
}
@media screen and (min-width: 800px) and (max-width: 900px){
	.myview-settings{
		.desktopMode{
			margin-left: -2.5rem;
		}
	}
}
@media screen and (min-width: 640px) and (max-width: 900px){
	.myview-settings{
		.desktopMode{
			margin-left: -3.4375rem;
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 640px){
	.myview-settings{
		.accordionStatus{
			&.hideRow{
				display: none;
			}
		}
	}
}
@include breakpoint('small') {
	.myview-settings{ 
		.smfollowingBtn{
			margin-top: -0.5rem;
			
			.unfollowAllBtn{
				background-position: 0 0;
				text-indent: -8.75rem;
				color: $color-abbey-gray !important;
			} 
			.followAllBtn{
				background-position: 0 -31px;
				text-indent: -124px;
				border: none !important;
				&.fr{float: right !important;}
			}
		}
		.accordionStatus{
			&.hideRow{
				display: none;
			}
		}
	}
}
@include breakpoint('medium-small') {
	.hidden-xs{
		display: none !important;
	}
	.smfollowingBtn{
		margin: 0.1rem 0;
		span{
			background: url(/dist/img/follow-mob.jpg) no-repeat 0 -31px;
			border: none;
			height: 30px !important;
			width: 30px !important;
			line-height: 1.75rem !important;
			&.unfollowAllBtn{
				background-position: 0 0;
				text-indent: -8.75rem;
				color: $color-abbey-gray !important;
			} 
			&.followAllBtn{
				background-position: 0 -31px;
				text-indent: -124px;
				border: none !important;
			}
		}		
	} 
}
 
/************ drag and drop styles ***********/
.drop {
	-webkit-animation: drop 1s ease;
	-moz-animation: drop 1s ease;
	-ms-animation: drop 1s ease;
	-o-animation: drop 1s ease;
	animation: drop 1s ease;
}

.followingrow.over{
	background: $color-tree-poppy-orange;
}
 
@-moz-keyframes drop {
	0%, 100% {
		background: $color-tree-poppy-orange;
		color: $color-white;
	}
	50% {
		color: $color-tree-poppy-orange;
		background: $color-white;
	}
}
@-webkit-keyframes "drop" {
	0%, 100% {
		background: $color-tree-poppy-orange;
		color: $color-white;
	}
	50% {
		color: $color-tree-poppy-orange;
		background: $color-white;
	}
}
@-ms-keyframes "drop" {
	0%, 100% {
		background: $color-tree-poppy-orange;
		color: $color-white;
	}
	50% {
		color: $color-tree-poppy-orange;
		background: $color-white;
	}
}
@-o-keyframes "drop" {
	0%, 100% {
		background: $color-tree-poppy-orange;
		color: $color-white;
	}
	50% {
		color: $color-tree-poppy-orange;
		background: $color-white;
	}
}
@include breakpoint('medium') {
	.desktophide{
		display: block !important;
	}
}
.pub-subscription-subtitle{
	clear: both;
	float: left;
	margin: 15px 0 0 0;
	padding: 0;
}