@mixin editView(){ 
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-family: "Roboto";
	font-weight: 500;
	width: 8.75rem;
	height: 2.125rem;
	text-align: center;
	display: inline-block;
	line-height: 2.125rem;
	background: $color-tree-poppy-orange;
	color: $color-white;
}

.personalisationhome{
	@include breakpoint('large') {
		.topic-featured-article__headline{
			font-size: 1.5rem;
			line-height: 1.625rem;
		}
		.article-preview--small{
			.article-preview__headline{
				font-size: 1.375rem;
				line-height: 1.625rem;
			}
		}
	
		.hidespin{
			display: none;
		} 

	}
	.hidden-lg{
		display: none !important;
	}
	.article-preview__headline{
		font-size: 1.625rem; 
	}
	.article-metadata{
		margin-top: 0px;
		@include breakpoint('large') {
			li{
				margin-right: 0.25rem;
				padding-right: 0.25rem;
			}
		}
	}
	.personalHead{
		border-bottom: 1px solid $color-light-gray;
		padding-bottom: 0.625rem;
		margin-bottom: 1.25rem;
		h1{
			float: left;
			margin-right: 1.5625rem;
			@include breakpoint('small') {
				font-size: 2rem;
			}
		}
		@include breakpoint('small') {
			border-bottom: none;
			margin-bottom: 0.875rem;
			padding-bottom: 0rem;
		}
	}
	.sub-heading-text{
		margin-bottom: 1.25rem;
		p{
			line-height: 1rem;
			font-style: normal;
			font-weight: 400;
			font-size: 1.125em;
			@include breakpoint('small') {
				font-size: 0.875em;
				margin: 0px;
				padding: 0px;
				font-family: "Roboto";
				line-height: 1.3125rem;
			}
		}
	}
	@media (min-width: 768px){ 
		.latestSubject{
			color: $color-zeus-black;
			position: relative;
			margin: 3.125rem 0;
			span{
				background: $color-white;
				padding-right: 1.25rem;
				font-size: 2rem;
				font-family: "Roboto condensed";
				position: relative; 
				font-weight: bold;
				z-index: 2;
			}
			&:before {
				background-color: $color-cardinal-red;
				content: "";
				display: block;
				height: 4px;
				position: absolute;
				top: calc(60% - 2px);
				width: 85%;
				@include breakpoint('large') {
					width: 80%;
				}
				z-index: 1;
			}
			.editView{	
				@include editView();
				float: right;
				margin: 0px;
				padding: 0px;
				position: relative;
				top: 5px;
			}
		}
	}
	.latest-news__articles {
		.article-small-preview {
		  border: 1px solid $color-light-gray;
		  -webkit-box-flex: 1;
			  -ms-flex: 1 0 auto;
				  flex: 1 0 auto;
		  height: 13.75rem;
		  width: 18.75rem;
		  margin: 0 1rem 2.25rem;
		  padding: 1rem 1.25rem 3rem;
		  line-height: 1.5rem;
		  line-height: 1.5rem;
		  overflow: hidden;
		  @include breakpoint('small') {
			&.mobview{
				border: none;
				border-top: 2px solid #d1d3d4;
				padding: 1rem 0 0;
				margin: 0 0.9rem;
			}
		  }
		}
		.sm-articles{
			height: 29.375rem;
			border: none;
			
			.sm-article{
				margin: 0 -1rem;
				padding: 1rem 1.25rem 3rem;
				border: 1px solid #d1d3d4;
				-webkit-box-flex: 1;
				-ms-flex: 1 0 auto;
				flex: 1 0 auto; 
				height: 13.75rem; 
				line-height: 1.5rem;
				overflow: hidden;
				@include breakpoint('small') {
					&.mobview{
						border: none;
						border-top: 2px solid #d1d3d4;
						padding: 1rem 0 0;
						margin: 0 -1.25rem !important;
					}
				}
			}
		}
	}
	
	.editView{
		@include editView();
		float: left;
		margin: 1.125rem 0 0;
	}
	
	.article-preview--small{
		&.topics{
			background: $color-concrete-gray;
			&:after{
				height: 0rem;
			}
			h6{
				margin-bottom: 0.625rem;
			}
			@include breakpoint('small') {
				height: auto;
			}
		}
		.article-preview_rheadline{
			font-family: "Roboto Condensed", Arial Narrow, sans-serif;
			border-bottom: 1px solid $color-light-gray;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 2.125rem;
			height: 7.5rem;
			overflow: hidden;
			&:last-child {
				border-bottom: none;
			}
			&.nobord{
				border-bottom: none;
				@include breakpoint('small') {
					margin-bottom: -0.625rem;
					padding: 0px;
				}
			}
			a{
				color: $color-zeus-black;
				height: 100px;
				overflow: hidden;
				display: block;
				&:hover{
					color: $color-cardinal-red;
				}
			}
			@include breakpoint('small') {
				height: auto;
			}
			@include breakpoint('large') {
				a{
					font-size: 1.375rem;
					height: 6.25rem;
					overflow: hidden;
					display: block;
				}
			}
		}
	}
	.loadmore{
		text-align: center;
		margin-bottom: 2.5rem;
		span{
			font-family: "Roboto";
			font-size: 0.875rem;
			padding: 1.25rem 4.375rem 1.25rem 3.75rem;
			border: 1px solid $color-light-gray;
			display: inline-block;
			cursor: pointer;
			font-weight: bold;
			position: relative;
			&:after {
				content: '';
				background: url("/dist/img/sprite-image.png") no-repeat -17px -124px;
				width: 18px;
				height: 14px;
				position: absolute;
				right: 40px;
				top: 20px;
			}
		}
	}
	
 
	.topic-featured-article__image2{ 
		margin-bottom: 1rem; 
		width: 21.0625rem;
		height: 11.875rem;
		@include breakpoint('small') {
			margin-top: 1.25rem;
		}
	}
	.googleAdd{
		margin-bottom: 5rem;
		text-align: center;
	}
	 
	.article-preview--small {
		&.preview2{
			height: 43.75rem; 
			@include breakpoint('small') {
				padding: 0px;
				margin-bottom: 0px;
			}
		}
	}
	.mtop{
		margin-top: -15rem !important;
		@include breakpoint('medium-small') {
			margin-top: 0px !important;
		}
	}
	@include breakpoint('medium-small') {
		.googleAdd{
			margin-bottom: 2.5rem;
			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.artheight{
		height: 28.75rem
	}
	.sm-article{
		&:nth-child(2n+1){ 
			position: relative;
			top: -0.4375rem;
			margin-bottom: 0.625rem !important;
		}
	}
	
	@include breakpoint('small') {
		.hidden-xs{
			display: none;
		}
		.hidden-lg{
			display: block !important;
		}
		.article-preview--small{
			border: none;
		    border-top: 2px solid #d1d3d4;
			&.mobview{
				padding: 1rem 0 0;
				margin: 0 0.9rem;
			}
		}
		.topic-featured-article{
			&.article-preview{
				padding: 1rem;
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1090px){
		.article-preview--small {
			width: 12.5rem;
		}
		.latest-news__articles{
			.article-small-preview {
				width: 12.5rem;
				
				.article-preview__inner-wrapper{
					height: 100px;
					overflow: hidden;
					
					@include breakpoint('large') {
						.article-preview__headline{
							font-size: 1.375rem;
							line-height: 1.625rem;
						}
					}
				}
				ul li{
					font-size: 0.875rem;
					.article-metadata{
						font-size: 0.8125rem;
					}
					h6{
						font-size: 0.8125rem;
					}
				}
			}
		}
		.article-metadata {
			ul {
				display: block;
				width: calc(100% - 20px);
				li {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	@media screen and (max-width: 767px){
		.article-preview--small{
			width: 90%;
		}
		.latest-news__articles .article-small-preview{
			width: 90%;
		}
		.mtop{
			margin-top: 0px !important;			 
		}
		.googleAdd{
			img{
				max-width: 100%;
				width: 100%;
			}
		}
		.latestSubject{
			margin-bottom: 1rem;
			color: $color-zeus-black;
			span.sub{
				border-left: 0.625rem solid $color-cardinal-red;
				font-size: 2rem;
				font-family: "Roboto condensed";
				font-weight: bold;
				min-height: 2.3125rem;
				display: block;
				padding-left: 0.625rem;
				letter-spacing: -1px;
			}
			.editView{
				@include editView();
				
				&.mobview{
					margin: 1.5rem 1.25rem .5rem;
				}
			}
		}
	}
}