.pop-out {
    display: none;

    &:before {
		background-color: #f1f2f2;
		border: 1px solid #d1d3d4;
        border-bottom: 0;
		content: "";
		display: block;
		height: 80px;
        left: -20px;
		padding: 20px;
		position: absolute;
		top: calc(-100% + 3px);
        z-index: 9;
        width: calc(100% + 41px);
	}

    &__trigger {
        position: relative;
        height: 18px;

        &-content {
            position: relative;
            z-index: 10;
        }

        &:hover .pop-out,
        &.is-active .pop-out {
            display: block;
        }
    }

    &__internal {
        @include textMix('Roboto', 14px, 400);
        background-color: #f1f2f2;
        border: 1px solid #d1d3d4;
        left: calc(50% - 150px);
        padding: 20px;
        position: absolute;
        text-transform: none;
        top: calc(100% + 46px);
        width: 300px;
        z-index: 8;

        &--wide {
            width: 420px;
            padding: 30px;
        }

        &--flush-right {
            right: -21px; // Flush right, minus padding and border
            left: auto;
        }

        &--flush-left {
            left: -20px; // Flush right, minus padding and border
            right: auto;
        }

        h3 {
            margin: 0;
            display: inline;
            font-size: 18px;
            font-weight: 500;
        }

        input, textarea {
            width: 100%;
            margin-bottom: 12px;
            border: 1px solid $informa-light-gray-d;
        }
        textarea {
            min-height: 150px;
        }

        .button--pumpkin {
            float: right;
        }
    }

    &__header {
        margin: 0 0 24px;
    }

    &__details {
        color: $informa-mid-gray;
        font-style: italic;
        line-height: 1.25rem;
        clear: both;
    }
}
