.register{
	.register_newsletter{
		div{
			display: block;
			position: relative;
			.page-registration__header{
				display: inline;
			}
			.next_right{
				display: inline;
				float: right;
				a{
					color: $color-zeus-black;
				}
			}
		}
		
	}
}