.ID-Responsive-Table{
			position:relative;
			width: 100%;
			float: left;
			margin-bottom: 2rem;
			.table_head{
				background-color: $color-ship-gray;
				color: $color-white;
				padding: 10px;
				.RB16{
				   @include textMix('Roboto', 1.0625em, 700);
				   font-style: normal;
				}
				.R16{
				   @include textMix('Roboto', 1.0625em, 400);
				   font-style: normal;
				}
			}
			.graybg {
			    background-color: #f1f1f1;
			    padding: 12px;
			    min-height: 45px;
			}
			.states_heading{
				position:relative;
				float:left;
				width:30%;
				border-right:1px solid $color-light-gray; 
				z-index: 9;
				@include breakpoint('small') {
					width: 40%;
				}
				.redbg{
					background-color: $color-red !important;
				}	
				div{
					margin-bottom:10px;
					padding:10px;
				}
				div:nth-child(odd){
					background-color: $color-concrete-table-gray;
				}
				@include breakpoint('small') {
					width: 40%;
				}
			}
			.RB16{
				   @include textMix('Roboto', 1em, 700);
				   font-style: normal;
				}
			.article{
				width:100%;
				text-align: center;
				div:nth-child(odd){
				 background-color: #f1f1f1;

				}
				.R16{
				    height: 58px;
					padding-top: 14px;
					margin-top: 10px;
				}
				
			}
			.year_heading{
			  background-color: #bb1528 !important;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				position:relative;
				margin-right: 0;
				height: 6em;
			}
			.owl-dots{
			  float: left;
			  margin-top: 20px;
			}
			.owl-nav {
				float:right;
			}
			.owl-item{
				&.active{
					// width:5% !important;
					margin-right: 1px !important;
				}
				.year_heading span{ 
					width:100% !important;
					display: block;
				}
			} 
			.owl-controls{
				position:absolute;
				top:-51px;
				right: 0px;
			}	
			.owl-theme .owl-controls .owl-nav div{
				background: none;
				padding:0;
				margin:0 3px;
			}
			
}
#financialresults.ID-Responsive-Table .owl-item.active {
	width: 5% !important;
}
#quarterlyresults .tableRow > .tableCell, #annualresults .tableRow > .tableCell {
	text-align: center;
}
#quarterlyresults .tableRow > .tableCell:first-child, #annualresults .tableRow > .tableCell:first-child {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}
#annualresults .year_heading {
	height: auto;
}
#annualresults .owl-item.active {
	    width: 7% !important;
}
#annualresults .graybg, #quarterlyresults .graybg {
	display: none;
	@include breakpoint('small') {
		display: block;
	}
}