.ID-Responsive-Table{
			position:relative;
			width: 100%;
			float: left;
			margin-bottom: 2rem;
			border: 1px solid #d1d3d4;
			    font-family: 'Roboto';
			.table-sort {
				background: url('img/Bitmap.png');
				width: 7px !important;
				height: 5px !important;
				display: block;
				@include breakpoint('small') {
					display: none;
				}
			}
			&#financialresults {
				border: 1px solid #d1d3d4;
				@include textMix('Roboto', 1em, 500);
				.article {
					text-align: right;
					.year_heading, .R16 {
						padding-right: 10px;
					}
				}
			}
			.table_head{
				background-color: #91211E;
				color: $color-white;
				padding: 10px;
				padding-right: 95px !important;
				&:after {
					visibility: hidden;
				    display: block;
				    font-size: 0;
				    content: " ";
				    clear: both;
				    height: 0;
				}
				.RB16{
				   @include textMix('Roboto', 1em, 500);
				   font-style: normal;
				   float: left;
				}
				a[data-toggle] {
					float: left;
					margin: 5px 0 0 15px;
				}
				.R16{
				   @include textMix('Roboto', 1.0625em, 400);
				   font-style: normal;
				}
			}
			.graybg {
			    display: none;
			}
			.states_heading{
				position:relative;
				float:left;
				width:20%;
				z-index: 9;
				@media only screen and (min-width: 767px) and (max-width: 1024px) {
					width: 40%;
				}
				@include breakpoint('small') {
					width: 40%;
				}
				.redbg{
					background-color: $color-red !important;
				}	
				div{
					// margin-bottom:10px;
					padding:10px;
					@include textMix('Roboto', 1em, 500);
				}
				div:first-child{ 
					@include textMix('Roboto', 1em, bold);
				}
				div:nth-child(odd){
					background-color: $color-concrete-table-gray;
				}
			}
			.owl-wrapper {
				width: 80%;
			    float: right;
			    @media only screen and (min-width: 768px) and (max-width: 1024px) {
					width: 60%;
				}
			    @include breakpoint('small') {
			    	width: 60%;
			    }
			}
			.RB16{
				   @include textMix('Roboto', 1em, 500);
				   font-style: normal;
				}
			.article{
				width:100%;
				text-align: center;
				div:nth-child(odd){
				 background-color: #f1f1f1;

				}
				.R16{
				    height: 58px;
					padding-top: 14px;
					// margin-top: 10px;
				}
				
			}
			.year_heading{
			  background-color: #de4361 !important;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				position:relative;
				margin-right: 0;
				padding-right: 40px;
				height: 5em;
				word-wrap: break-word;
				@include textMix('Roboto', 1em, bold);
				@media only screen and (min-width: 767px) and (max-width: 1024px) {
				    padding-left: 10px;
				}
				@include breakpoint('small') {
					padding-left: 5px;
				}
			}
			.owl-dots{
			  float: left;
			  margin-top: 20px;
			  .owl-dot {
			  	span {
			  		background: #de4361;
			  	}
			  	&.active {
			  		span {
			  			background: $color-white !important;
			  		}
			  		&:hover {
				  		span {
				  			background: $color-white;
				  		}
				  	}
			  	}
			  	&:hover {
			  		span {
			  			background: #de4361;
			  		}
			  	}
			  }
			}
			.owl-nav {
				float:right;
			}
			.owl-item{
				&.active{
					// width:5% !important;
					// margin-right: 1px !important;
				}
				.year_heading span{ 
					width:100%;
					display: block;
				}
			} 
			.owl-next.disabled, .owl-prev.disabled {
				pointer-events: none;
			}
			.owl-controls{
				position:absolute;
				top:-51px;
				right: 0px;
			}	
			.owl-theme .owl-controls .owl-nav div{
				background: none;
				padding:0;
				margin:0 3px;
			}
			
}
// #annualresults.ID-Responsive-Table .owl-item.active {
// 	width: 5% !important;
// }
#quarterlyresults {
	border: 1px solid #d1d3d4;
	.table-wrapper .tableHead {
		text-align: right;
		@include textMix('Roboto', 1em, bold);
		&:first-child {
			text-align: left;
		}
	}
}
#financialresults, #quarterlyresults {
	@media only screen and (min-width: 767px) and (max-width: 1024px) {
		.table_head {
			position: relative;
			a[data-toggle] {
				position: absolute;
				right: 15px;
				top: 15px;
			}
		}
	}
}
#financialresults .tableRow > .tableCell {
	text-align: right;
	@include textMix('Roboto', 1em, 400);
}
#financialresults .tableHead:first-child {
	text-align: left;
}
#financialresults .tableHead {
	@include textMix('Roboto', 1em, bold);
}
#quarterlyresults .tableRow > .tableCell:first-child, #financialresults .tableRow > .tableCell:first-child {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    @include textMix('Roboto', 1em, 500);
    text-align: left;
}
#financialresults .year_heading {
	height: auto;
	@include breakpoint('small') {
		padding-right: 0;
	}
}
#financialresults .owl-wrapper {
	width: 60%;
    float: right;

}
.activate-hover {background: #efd0d8 !important} 