.rolling-stream {
	background-color: #f1f2f2;
	padding: 20px 25px;
	&.white-bg {
		background-color: #ffffff;
		.rolling-stream-wrapper:after {
			display: none;
		}
		.scrollbar-container {
			background-color: #ffffff !important;
		}
	}
	h2 {
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	.rolling-stream-wrapper {
		height: 600px;
		overflow: hidden;
		position: relative;
		&.hide-scroll {
			.content {
				overflow: hidden;
			}
			.scrollbar-container {
				display: none;
			}
		}
		&:after {
		  	content: '';
		  	width: calc(100% - 20px);
		  	background: #f1f2f2;
		  	position: absolute;
		  	height: 85px;
		  	left: 0;
		  	bottom: 0;
		  	opacity: 0.5;
		  	z-index: 10;
		  }
		.rolling-stream-article {
			padding: 20px 0;
    		border-bottom: 1px solid #d1d3d4;
    		@media only screen and (min-width: 767px) and (max-width: 1024px) {
    			padding-right: 10px;
    		}
    		&:first-child {
    			padding-top: 0;
    		}
    		&:last-child {
    			border-bottom: none;
    			z-index: 12;
    			position: relative;
    		}
		}
		.content {
		  height:100%;
		  width: 100%;
		  overflow-y: scroll;
		  margin: 0;
		  padding: 0;
		  position: relative;
		   padding-right: 5px;
			.article-related-content__date {
				float: right;
				width: auto;
				padding: 0;
				margin-top: 5px;
				font-family: 'Roboto', Arial Narrow, sans-serif;
			}

		}
		.scrollbar-container {
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    top: 0;
		    width: 16px;
		    background-color: #f1f2f2;
		    z-index: 9;
		    &:after {
		    	content: '';
		    	position: absolute;
		    	top: 0;
		    	right: 3px;
		    	width: 1px;
		    	height: 100%;
		    	background:#d1d3d4;
		    	z-index:1;
		    }
		}
		h5 {
			a {
				font-family: 'Roboto', Arial Narrow, sans-serif;
				font-size: 20px;
				
			}
			@include breakpoint('small') {
				padding-right: 12px;
			}
			span {
				font-size: 1rem;
				line-height: 1.18rem;
			}
			
		}
		.scrollbar {
		  position: absolute;
		  right: 0;
		  height: 30px;
		  width: 7px;
		  background: #777777;
		  z-index:2;
		}
	}
}