.sub-topic-links {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;

    span {
        @include textMix('Roboto Condensed', 0.875rem, 700);
        color: $color-zeus-black;
        text-transform: uppercase;
        vertical-align: top;
    }

    a {
        @include textMix('Roboto', 0.875rem, 400);
        color: $informa-dark-gray;
        border-right: 1px solid $informa-light-gray-d;
        display: inline-block;
        padding: 0 0.75rem;
        flex: 0 0 auto;

        &:last-child {
            border: 0;
        }
    }

    // Offset topic header anchors to create headroom for sticky mobile menu bar
    &__invisible-topic-header-anchor {
        position: absolute;
        margin-top: -2.5rem;
    }
}
