.agroBuyers{
	h1{
		margin-bottom: 0.75rem;
	}
	.sub-heading-text{
	    font-family: "PT Serif", Georgia, serif;
		font-style: italic;
		font-weight: 400;
		color: #231f20;
		margin-bottom: 2rem;
		font-size: 1.5em;
		line-height: 30px;
	}
	.buyers-guide-listing{
		width: 100%;
		float: left;
		margin-bottom: 1.5rem;
			.buyers-guide-row{
				width: 100%;
				float: left;
				.buyers-guide{
					width: 30%;
					@include breakpoint('small'){
						width: 100%;
					}
					float: left;
					margin-top: 0.75rem;	
					margin-bottom: 2rem;
					margin-right: 3%;
					.image{
						width: 100%;
						img{
							width: 100%;
						}
					}
					h4{
						font-family: 'Roboto Condensed' Helvetica, Arial, sans-serif;
						font-size: 1.5em;
						font-weight: 700;
						font-style: normal;
											
					}
				}
			}
	}
	hr{
		margin-bottom: 1.5rem;
	}
	.contact_terms{
		margin-bottom: 1.5rem;
		clear: both;
		font-family: "PT Serif", Georgia, serif;
		font-style: regular;
		font-weight: 400;
		font-size: 1.125rem;
		.orange{
			color: $color-pumpkin-orange;
		}
	}
}