@mixin fontFamily($family){
	font-family: $family;
}

#main-carousel {
		.owl-carousel .item{
			height: 290px;
			@include breakpoint('small') {
				height: auto;
			}
		}
		.owl-theme .owl-nav [class*='owl-']{
			background: none;
		}
		.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
			background: #9E310D;
		}
		.li-content-company {
		  border: none;
		  background-color: #fff;
		  height: 100%;
		  padding: 15px 18px;
		  margin-top: 10px;
		}
		.li-content-company img {
		  float: left;
		  margin: 0 10px 10px 0;
		  width:100px;
		}
		.li-content-company p {
		  padding: 0 0 8px 0;
		  font-size: smaller;
		  margin-bottom: 20px;
		}
		.li-content-company a {
			color: #000;
		}
		.li-content-company a:hover {
		  
		}
		.li-content-graph {
		  border: none;
		  background-color: #eeeeee;
		  height: 100%;
		  padding: 15px 18px;
		  margin: 10px 0 0 10px;
		  
		  > a{
			  height: 224px;
			  display: block;
			  background: #fff;
			  div{
				  div{
					  height: 220px !important;
					  svg{
						height: 220px !important;
					  }
				  }
			  }
		  }
		}
		.li-content-graph p {
		  font-size: smaller;
		  padding: 0 0 0 0;
		  margin-bottom: 22px;
		}
		.li-content-graph p a {
			color: #000;
		}
		.li-content-graph p a:hover {
		}
		.hideinMob{
			display: block;
			@include breakpoint('small') {
				display: none;
			}
		}
		.showinMob{
			display: none;
			@include breakpoint('small') {
				display: block;
			}
		}
		/*.owl-item{
			float: left;
		}*/
		.marketDataTable{
			.owl-item.active{
				@include breakpoint('small') {
					width: auto !important;
				}
			}
		}
		.owl-dots{
			position: absolute;
			top: 0;
			margin-top: -28px;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
		.owl-prev{
			position: absolute;
			top: 50px;
			left: 0;
			margin-left: -18px;
			margin-top: 0;
			margin-bottom: 0;
		}
		.owl-next{
			position: absolute;
			top: 50px;
			right: 0;
			margin-right: -18px;
			margin-top: 0;
			margin-bottom: 0;
		}
		.companies_heading {
			display: block;
			width: 100%;
			position: relative;
			span{
				width: 100%;
				display: inline-block;
				padding: 10px 0 10px 20px;
				color: #fff;
				background-color: #de4361;
			}
		}
}
#graph-carousel{
	margin-bottom: 2rem;
	&:after{
		clear: both;
		content: '';
		display: block;
	}
	.loadChart{
		width: 24%;
		float: left;
		@media screen and (max-width: 767px) {
			width: 100%;
			float: inherit;
		}
	}
	.owl-controls{
		.owl-nav{
			display: none !important;
		}
	}
	#chartdiv_GWP, #chartdiv_NWP, #chartdiv_UR, #chartdiv_NP, #chartdiv_SF, #chartdiv_NWPNR, #chartdiv_SFNR, #chartdiv_NPSFR{
		background: #fff;
		margin: 0px auto;
		width: 80%;
		height: 180px;
		@include breakpoint('medium') {
			height: 180px !important;
		}
		@media screen and (min-width: 768px) and (max-width: 1024px) {
			width: 90% !important;
		}
	}
	.graph_heading {
		display: block;
		width: 100%;
		position: relative;
		border-top: 1px solid #d1d3d4;
		padding-top: 20px;
		@media screen and (max-width: 767px) {
			border-top: none;
			padding-top: 0px;
		}
		span{
			width: 100%;
			display: inline-block;
			padding: 10px 0 10px 20px;
			color: #fff;
			background-color: #de4361;
		}
	}
	.owl-theme .owl-dots{
		text-align: right;
	}
	.owl-theme .owl-dots .owl-dot span{
		margin: 5px; 
	}
	.graph-container{
		margin-top: 1rem;
		margin-left: 0.5%;
		margin-right: 0.5%;
		background-color: #eee;
		height: 280px; 
		@include breakpoint('medium-small') {
			height: 260px;
		}
		h5{
			width: 80%;
			margin: 0px auto;
			font-size: 14px;
			font-weight: 500;
			height: 70px;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			 
		}
	}
	.owl-dots{
		position: absolute;
		top: 0;
		margin-top: -28px;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.owl-prev{
		position: absolute;
		top: 50px;
		left: 0;
		margin-left: -18px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.owl-next{
		position: absolute;
		top: 50px;
		right: 0;
		margin-right: -18px;
		margin-top: 0;
		margin-bottom: 0;
	}
	@include fontFamily("verdana");
	.owl-carousel .item{
		height: 290px;
	}
	.owl-theme .owl-nav [class*='owl-']{
		background: none;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background: #9E310D;
	}
	
	.li-content-graph {
	  border: none;
	  background-color: #eeeeee;
	  height: 100%;
	  padding: 15px 18px;
	  margin: 10px 0 0 10px;
	  
	  > a{
		  height: 224px;
		  display: block;
		  background: #fff;
		  div{
			  div{
				  height: 220px !important;
				  svg{
					height: 220px !important;
				  }
			  }
		  }
	  }
	}
	.li-content-graph p {
	  font-size: smaller;
	  padding: 0 0 0 0;
	  margin-bottom: 22px;
	}
	.li-content-graph p a {
		color: #000;
	}
	.li-content-graph p a:hover {
	}
	.showin-desktop{
		float: left;
		
		@include breakpoint('small') {
			display: none;
		}
		
		
	}
	.showinMob{
		display: none;
		
		@include breakpoint('small') {
			display: block;
		}
		.li-content-graph {
			margin: 10px 0 0 0;
		}	
	}
	
}