@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.IAuthored_Content

<div>
    <h1>@Html.Glass().Editable(x => x.Title)</h1>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            @Html.Glass().Editable(x => x.Body)
        </dd>
    </dl>
</div>
