{# aka: latest-news__header #}
{% if latestLabelText == false %}
	{% set latestLabelText = "This Page's Topic" %}
{% elseif latestLabelText == "random" %}
	{% set latestLabelText = random(randomTitles).text %}
{% endif %}
<h4 class="latest-news__header">
	<span>Latest From {{latestLabelText}}</span>
</h4>
