<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Merck Is Finding PD-L1 Testing Is Helping Keytruda</title>
      <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
      <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/dist/index-generated.css">
	  
   </head>
   <body >
      <header>
         <div class="banner banner--cookie-policy" data-banner-id="cookie-policy-0001" data-dismiss-all-subdomains="true">
            <div class="banner__wrapper">
               <div class="dismiss-button js-dismiss-banner">
                  <svg class="dismiss-button__icon">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </div>
               <span>In order to deliver a personalized, responsive service and to improve the site, we remember and store information about how you use it. This is done using simple text files called cookies which sit on your computer. By continuing to use this site and access its features, you are consenting to our use of cookies. To find out more about the way Informa uses cookies please go to our <a href="https://pharmaintelligence.informa.com/cookies/">Cookie Policy</a> page.</span>
            </div>
         </div>
         <div class="informa-ribbon">
            <div class="informa-ribbon__wrapper">
               <div class="informa-ribbon__detail">
                  <div class="informa-ribbon__left">
                     <p> is part of the Business Intelligence Division of Informa PLC</p>
                     <ul>
                        <li class="iribbon-mainlink">
                           <a href='http://informa.com/' target=''>Informa PLC</a>
                        </li>
                        <li>
                           <a href='http://informa.com/About-Us/' target=''>About us</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Investors/' target=''>Investor relations</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Talent/' target=''>Talent</a>
                        </li>
                     </ul>
                  </div>
                  <div class="informa-ribbon__right">
                     <p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC’s registered office is 5 Howick Place, London SW1P 1WG. Registered in England and Wales. Number 8860726.</p>
                  </div>
               </div>
               <button class="informa-ribbon__title">
               Informa
               </button>
            </div>
         </div>
         <div class="header__wrapper clearfix">
                     <div class="menu-toggler menu-toggler--mini js-menu-toggle-button">
                        <button class="menu-toggler__button">
                        <span>Toggle Menu</span>
                        </button>
                        Menu
                     </div>
                     <div class="header__logo">
                         <a href="/"><img src="http://products/-/media/images/scriplogo.png"></a>
                     </div>
                     <div class="header-logo-print">
                        <a href="/"><img src=""></a>
                     </div>
                     <div class="header-search__wrapper">
                        <form action="/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda" method="post">
                           <input name="__RequestVerificationToken" type="hidden" value="lJuPfs_F5TDytd9kcY2Jp2WxYI0TPOTkhNBq5L0UzC8qKCvIIa9TFeX3x479JIombiG-6Oqp_4D91XoCD5HsT7Wqrz8x5-Wa2MZWRwNZr615vpNiSoxYwgrgkR-hLQV60" /><input id="fhController" name="fhController" type="hidden" value="HeaderSearch" /><input id="fhAction" name="fhAction" type="hidden" value="Search" />        <input class="header-search__field" type="search" placeholder="Search the site" name="SearchTerm">
                           <svg class="header__icons header__icons--search js-header-search-trigger">
                              <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
                           </svg>
                           <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                              <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                           </svg>
                        </form>
                     </div>
                     <div class="header-account-access">
         
                         <div class="header-account-access__friendly-greeting">Hi, Open License</div>
         				
                         <div class="header-account-access__sign-in-out click-logout">
                             <svg class="header__icons icon-sign-out">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                             </svg>
                             <span class="header-account-access__label"><a href="/Account/LogoutWebUser/Logout?returnUrl=http%3A%2F%2Fproducts%2F">Sign Out</a></span>
                     </div>        
         			</div>
                     <div class="boxout-print-info">
                        <p></p>
                        <p>Printed By <b>  Daniel Dewey Test</b></p>
                     </div>
                  </div>      </header>
	  
	  
	   <main>
         <div class="main-menu js-full-menu-toggle">
            <div class="menu-toggler js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
			
			<ul class="main-menu__section">
				<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
					<svg class="main-menu__arrow-icon  js-hoist-menu-click">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
					</svg>
					<a href="/commercial" target="">Commercial</a>
				</li>
				<li class="main-menu__section-wrapper">
					<ul>
						<li class="main-menu__hoverable">
							<a href="/commercial/companies" target="" class="main-menu__section-link" name="123455-09A1-4452-9B78-0E7B64ED9632">Companies</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/companies" target="" class="main-menu__section-link" name="123456-09A1-4452-9B78-0E7B64ED9632">Pipeline Watch</a>
						</li>
						<li class="main-menu__hoverable">      
							<a href="/commercial/deals" target="" class="main-menu__section-link" name="123457-09A1-4452-9B78-0E7B64ED9632">Deals</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/strategy" target="" class="main-menu__section-link" name="123458-09A1-4452-9B78-0E7B64ED9632">Strategy</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-access" target="" class="main-menu__section-link" name="123459-09A1-4452-9B78-0E7B64ED9632">Market Access</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-intelligence" target="" class="main-menu__section-link" name="123460-09A1-4452-9B78-0E7B64ED9632">Market Intelligence</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/appointments" target="" class="main-menu__section-link" name="123461-09A1-4452-9B78-0E7B64ED9632">Appointments</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/strategy" target="" class="main-menu__section-link" name="123462-09A1-4452-9B78-0E7B64ED9632">Clinical Trials</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-access" target="" class="main-menu__section-link" name="123463-09A1-4452-9B78-0E7B64ED9632">Approvals</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-intelligence" target="" class="main-menu__section-link" name="123464-09A1-4452-9B78-0E7B64ED9632">Post Marketing</a>
						</li>
					</ul>
				</li>
			</ul>
         </div>
         <div class="main__wrapper" data-request-verification-token="WeShyS9vDy3l5rBrFnq2K6Fu1jC0xiiFun6mBbE62mH4A_n1MawPiLTF9pXLMY-dEsmgC7GQCUwShq7rf6JJZN7xfWcEmOwt9ZCLev_S0K01:zhx2Rr_STiS7L78rvrOXurIcBxOQgTgU0uupB73ZMSRVMAxpwLxGeXHMAJ5Rme6JqWVGSNYK3SYGZVj1fODHLMZfGWTA91dYvw8wJihwA4Rv2QtJxcVZNgtaZ3WBN4ua0">
            <div class="general-header">
            </div>          
            <div class="main__content">
				<div class="action-flags-bar article-prologue"></div>
				<div class="article-left-rail">
				
					<div class="compareChart">
						<div class="showAll">
							<a class="expandAll" href="javascript: void(0);">expand all<a/> / <a class="collapseAll" href="javascript: void(0);">collapse all</a>
						</div>
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="GWP">
								<div class="title">GROSS WRITTEN PREMIUM ($M)</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="GWP-DATA">
								<div id="GWP-CHART"></div>
								<script>var chartData1_GWP=[{"colour":"217bb7","value":49452.0,"year":2011},{"colour":"217bb7","value":51969.0,"year":2012},{"colour":"217bb7","value":51060.0,"year":2013},{"colour":"217bb7","value":48848.0,"year":2014},{"colour":"217bb7","value":50374.0,"year":2015}];</script>
								<script>var chartData2_GWP=[{"colour":"217bb7","value":28664.0,"year":2011},{"colour":"217bb7","value":31723.0,"year":2012},{"colour":"217bb7","value":32934.0,"year":2013},{"colour":"217bb7","value":33276.0,"year":2014},{"colour":"217bb7","value":32249.0,"year":2015}];</script>
								<script>var chartData3_GWP=[{"colour":"217bb7","value":31505.0,"year":2010},{"colour":"217bb7","value":33579.0,"year":2011},{"colour":"217bb7","value":36409.0,"year":2012},{"colour":"217bb7","value":37999.0,"year":2013},{"colour":"217bb7","value":0.0,"year":2014}];</script>
								<script>var chartData4_GWP=[{"colour":"217bb7","value":11429.41,"year":2010},{"colour":"217bb7","value":12095.66,"year":2011},{"colour":"217bb7","value":13775.37,"year":2012},{"colour":"217bb7","value":14362.04,"year":2014},{"colour":"217bb7","value":17068.86,"year":2015}];</script>
								<script>var chartData5_GWP=[{"colour":"217bb7","value":7602.0,"year":2011},{"colour":"217bb7","value":9514.0,"year":2012},{"colour":"217bb7","value":10253.0,"year":2013},{"colour":"217bb7","value":11316.0,"year":2014},{"colour":"217bb7","value":13421.0,"year":2015}];</script>
								<script>var chartDataSet=["Munich Re Group","Swiss Re Group","Berkshire Hathaway","Hannover Re Group","Scor SE"];</script>
							</div> 
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="NWP">
								<div class="title">NET WRITTEN PREMIUM ($M)</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="NWP-DATA">
								<div id="NWP-CHART"></div>
								<script>var chartData1_NWP=[{"colour":"a6d64f","value":18801.0,"year":2011},{"colour":"a6d64f","value":19595.0,"year":2012},{"colour":"a6d64f","value":19499.0,"year":2013},{"colour":"a6d64f","value":19014.0,"year":2014},{"colour":"a6d64f","value":19626.0,"year":2015}];</script>
								<script>var chartData2_NWP=[{"colour":"a6d64f","value":77200.0,"year":2011},{"colour":"a6d64f","value":80522.0,"year":2012},{"colour":"a6d64f","value":80423.0,"year":2013},{"colour":"a6d64f","value":81929.0,"year":2014},{"colour":"a6d64f","value":86898.0,"year":2015}];</script>
								<script>var chartData3_NWP=[{"colour":"a6d64f","value":63013.2,"year":2011},{"colour":"a6d64f","value":63096.0,"year":2012},{"colour":"a6d64f","value":60731.0,"year":2013},{"colour":"a6d64f","value":64295.0,"year":2014},{"colour":"a6d64f","value":68451.0,"year":2015}];</script>
								<script>var chartData4_NWP=[{"colour":"a6d64f","value":28336.0,"year":2009},{"colour":"a6d64f","value":25713.0,"year":2010},{"colour":"a6d64f","value":25267.0,"year":2011},{"colour":"a6d64f","value":18595.0,"year":2012},{"colour":"a6d64f","value":9387.0,"year":2013}];</script>
								<script>var chartData5_NWP=[{"colour":"a6d64f","value":9505.5,"year":2010},{"colour":"a6d64f","value":9130.9,"year":2011},{"colour":"a6d64f","value":9623.5,"year":2012},{"colour":"a6d64f","value":8897.3,"year":2014},{"colour":"a6d64f","value":9062.5,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div> 
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="UR">
								<div class="title">UNDERWRITING RESULT ($M)</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="UR-DATA">
								<div id="UR-CHART"></div>
								<script>var chartData1_UR=[{"colour":"c6c6c6","value":39.0,"year":2011},{"colour":"c6c6c6","value":-379.0,"year":2012},{"colour":"c6c6c6","value":-111.0,"year":2013},{"colour":"c6c6c6","value":-417.0,"year":2014},{"colour":"c6c6c6","value":-255.0,"year":2015}];</script>
								<script>var chartData2_UR=[{"colour":"c6c6c6","value":114.0,"year":2011},{"colour":"c6c6c6","value":263.0,"year":2012},{"colour":"c6c6c6","value":693.0,"year":2013},{"colour":"c6c6c6","value":460.0,"year":2014},{"colour":"c6c6c6","value":1134.0,"year":2015}];</script>
								<script>var chartData3_UR=[{"colour":"c6c6c6","value":656.0,"year":2011},{"colour":"c6c6c6","value":842.0,"year":2012},{"colour":"c6c6c6","value":806.0,"year":2013},{"colour":"c6c6c6","value":1186.0,"year":2014},{"colour":"c6c6c6","value":1324.0,"year":2015}];</script>
								<script>var chartData4_UR=[{"colour":"c6c6c6","value":435.0,"year":2009},{"colour":"c6c6c6","value":354.0,"year":2010},{"colour":"c6c6c6","value":349.0,"year":2011},{"colour":"c6c6c6","value":225.0,"year":2012},{"colour":"c6c6c6","value":250.0,"year":2013}];</script>
								<script>var chartData5_UR=[{"colour":"c6c6c6","value":-55.7,"year":2010},{"colour":"c6c6c6","value":130.9,"year":2011},{"colour":"c6c6c6","value":229.7,"year":2012},{"colour":"c6c6c6","value":228.8,"year":2014},{"colour":"c6c6c6","value":355.7,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="NP">
								<div class="title">NET RESULT ($M)</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="NP-DATA">
								<div id="NP-CHART"></div>
								<script>var chartData1_NP=[{"colour":"f08000","value":-209.0,"year":2011},{"colour":"f08000","value":468.0,"year":2012},{"colour":"f08000","value":352.0,"year":2013},{"colour":"f08000","value":14.0,"year":2014},{"colour":"f08000","value":383.0,"year":2015}];</script>
								<script>var chartData2_NP=[{"colour":"f08000","value":4190.0,"year":2011},{"colour":"f08000","value":4057.0,"year":2012},{"colour":"f08000","value":4482.0,"year":2013},{"colour":"f08000","value":5024.0,"year":2014},{"colour":"f08000","value":5617.0,"year":2015}];</script>
								<script>var chartData3_NP=[{"colour":"f08000","value":856.1,"year":2011},{"colour":"f08000","value":94.0,"year":2012},{"colour":"f08000","value":1915.0,"year":2013},{"colour":"f08000","value":1670.0,"year":2014},{"colour":"f08000","value":2030.0,"year":2015}];</script>
								<script>var chartData4_NP=[{"colour":"f08000","value":-1006.0,"year":2009},{"colour":"f08000","value":2810.0,"year":2010},{"colour":"f08000","value":5766.0,"year":2011},{"colour":"f08000","value":4161.0,"year":2012},{"colour":"f08000","value":3232.0,"year":2013}];</script>
								<script>var chartData5_NP=[{"colour":"f08000","value":223.1,"year":2010},{"colour":"f08000","value":-578.2,"year":2011},{"colour":"f08000","value":743.0,"year":2012},{"colour":"f08000","value":475.6,"year":2014},{"colour":"f08000","value":770.2,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="SF">
								<div class="title">SHAREHOLDERS' FUNDS ($M)</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="SF-DATA">
								<div id="SF-CHART"></div>
								<script>var chartData1_SF=[{"colour":"de8100","value":9769.0,"year":2011},{"colour":"de8100","value":10463.0,"year":2012},{"colour":"de8100","value":9687.0,"year":2013},{"colour":"de8100","value":9804.0,"year":2014},{"colour":"de8100","value":10263.0,"year":2015}];</script>
								<script>var chartData2_SF=[{"colour":"de8100","value":46417.0,"year":2011},{"colour":"de8100","value":53606.0,"year":2012},{"colour":"de8100","value":52923.0,"year":2013},{"colour":"de8100","value":65219.0,"year":2014},{"colour":"de8100","value":68475.0,"year":2015}];</script>
								<script>var chartData3_SF=[{"colour":"de8100","value":15485.6,"year":2011},{"colour":"de8100","value":19013.0,"year":2012},{"colour":"de8100","value":19778.0,"year":2013},{"colour":"de8100","value":23204.0,"year":2014},{"colour":"de8100","value":23565.0,"year":2015}];</script>
								<script>var chartData4_SF=[{"colour":"de8100","value":15887.0,"year":2009},{"colour":"de8100","value":20159.0,"year":2010},{"colour":"de8100","value":23475.0,"year":2011},{"colour":"de8100","value":26423.0,"year":2012},{"colour":"de8100","value":19691.0,"year":2013}];</script>
								<script>var chartData5_SF=[{"colour":"de8100","value":8247.1,"year":2010},{"colour":"de8100","value":7760.3,"year":2011},{"colour":"de8100","value":9799.4,"year":2012},{"colour":"de8100","value":10223.3,"year":2014},{"colour":"de8100","value":11376.1,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="NWPNR">
								<div class="title">NET RESULT / NWP %</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="NWPNR-DATA">
								<div id="NWPNR-CHART"></div>
								<script>var chartData1_NWPNR=[{"colour":"919191","value":-1.11,"year":2011},{"colour":"919191","value":2.39,"year":2012},{"colour":"919191","value":1.81,"year":2013},{"colour":"919191","value":0.07,"year":2014},{"colour":"919191","value":1.95,"year":2015}];</script>
								<script>var chartData2_NWPNR=[{"colour":"919191","value":5.43,"year":2011},{"colour":"919191","value":5.04,"year":2012},{"colour":"919191","value":5.57,"year":2013},{"colour":"919191","value":6.13,"year":2014},{"colour":"919191","value":6.46,"year":2015}];</script>
								<script>var chartData3_NWPNR=[{"colour":"919191","value":1.36,"year":2011},{"colour":"919191","value":0.15,"year":2012},{"colour":"919191","value":3.15,"year":2013},{"colour":"919191","value":2.6,"year":2014},{"colour":"919191","value":2.97,"year":2015}];</script>
								<script>var chartData4_NWPNR=[{"colour":"919191","value":-3.55,"year":2009},{"colour":"919191","value":10.93,"year":2010},{"colour":"919191","value":22.82,"year":2011},{"colour":"919191","value":22.38,"year":2012},{"colour":"919191","value":34.43,"year":2013}];</script>
								<script>var chartData5_NWPNR=[{"colour":"919191","value":2.35,"year":2010},{"colour":"919191","value":-6.33,"year":2011},{"colour":"919191","value":7.72,"year":2012},{"colour":"919191","value":5.35,"year":2014},{"colour":"919191","value":8.5,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="SFNR">
								<div class="title">NWP / SHAREHOLDERS' FUNDS %</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="SFNR-DATA">
								<div id="SFNR-CHART"></div>
								<script>var chartData1_SFNR=[{"colour":"92d551","value":192.46,"year":2011},{"colour":"92d551","value":187.28,"year":2012},{"colour":"92d551","value":201.29,"year":2013},{"colour":"92d551","value":193.94,"year":2014},{"colour":"92d551","value":191.23,"year":2015}];</script>
								<script>var chartData2_SFNR=[{"colour":"92d551","value":166.32,"year":2011},{"colour":"92d551","value":150.21,"year":2012},{"colour":"92d551","value":151.96,"year":2013},{"colour":"92d551","value":125.62,"year":2014},{"colour":"92d551","value":126.9,"year":2015}];</script>
								<script>var chartData3_SFNR=[{"colour":"92d551","value":406.91,"year":2011},{"colour":"92d551","value":331.86,"year":2012},{"colour":"92d551","value":307.06,"year":2013},{"colour":"92d551","value":277.09,"year":2014},{"colour":"92d551","value":290.48,"year":2015}];</script>
								<script>var chartData4_SFNR=[{"colour":"92d551","value":178.36,"year":2009},{"colour":"92d551","value":127.55,"year":2010},{"colour":"92d551","value":107.63,"year":2011},{"colour":"92d551","value":70.37,"year":2012},{"colour":"92d551","value":47.67,"year":2013}];</script>
								<script>var chartData5_SFNR=[{"colour":"92d551","value":115.26,"year":2010},{"colour":"92d551","value":117.66,"year":2011},{"colour":"92d551","value":98.2,"year":2012},{"colour":"92d551","value":87.03,"year":2014},{"colour":"92d551","value":79.66,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
						
						<div class="eachChartData company-graphs-accordion-stockchart">
							<div class="dataTitle" id="NPSFR">
								<div class="title">NET RESULT / SHAREHOLDERS' FUNDS %</div>
								<div class="chartexpand"></div>
							</div>
							<div class="chartData hide" id="NPSFR-DATA">
								<div id="NPSFR-CHART"></div>
								<script>var chartData1_NPSFR=[{"colour":"689500","value":-2.14,"year":2011},{"colour":"689500","value":4.47,"year":2012},{"colour":"689500","value":3.63,"year":2013},{"colour":"689500","value":0.14,"year":2014},{"colour":"689500","value":3.73,"year":2015}];</script>
								<script>var chartData2_NPSFR=[{"colour":"689500","value":9.03,"year":2011},{"colour":"689500","value":7.57,"year":2012},{"colour":"689500","value":8.47,"year":2013},{"colour":"689500","value":7.7,"year":2014},{"colour":"689500","value":8.2,"year":2015}];</script>
								<script>var chartData3_NPSFR=[{"colour":"689500","value":5.53,"year":2011},{"colour":"689500","value":0.49,"year":2012},{"colour":"689500","value":9.68,"year":2013},{"colour":"689500","value":7.2,"year":2014},{"colour":"689500","value":8.61,"year":2015}];</script>
								<script>var chartData4_NPSFR=[{"colour":"689500","value":-6.33,"year":2009},{"colour":"689500","value":13.94,"year":2010},{"colour":"689500","value":24.56,"year":2011},{"colour":"689500","value":15.75,"year":2012},{"colour":"689500","value":16.41,"year":2013}];</script>
								<script>var chartData5_NPSFR=[{"colour":"689500","value":2.71,"year":2010},{"colour":"689500","value":-7.45,"year":2011},{"colour":"689500","value":7.58,"year":2012},{"colour":"689500","value":4.65,"year":2014},{"colour":"689500","value":6.77,"year":2015}];</script>
								<script>var chartDataSet=["Achmea","Axa SA","Assicurazioni Generali","ING","Ageas"];</script>
							</div>
						</div>
					</div> 
				
				</div>
				
				<div class="article-right-rail">
				  <!--start of Related Content-->
					 <div class="article-related-content">
						
						<h2>AVAILABLE GRAPHS</h2>
						<div class="availableGraphs">	
							<ul>
								<li class="article-topics__li"><a id="AG-GWP" href="javascript: void(0);">Gross Written Premium</a></li>
								<li class="article-topics__li"><a id="AG-NWP" href="javascript: void(0);">Net Written Premium</a></li>
								<li class="article-topics__li"><a id="AG-UR" href="javascript: void(0);">Underwriting Result</a></li>
								<li class="article-topics__li"><a id="AG-NP" href="javascript: void(0);">Net Result</a></li>
								<li class="article-topics__li"><a id="AG-SF" href="javascript: void(0);">Shareholders' Funds</a></li>
								<li class="article-topics__li"><a id="AG-NWPNR" href="javascript: void(0);">Net Result / NWP %</a></li>
								<li class="article-topics__li"><a id="AG-SFNR" href="javascript: void(0);">NWP / Shareholders' Funds %</a></li>
								<li class="article-topics__li"><a id="AG-NPSFR" href="javascript: void(0);">Net Result / Shareholders' Funds %</a></li>
							</ul>
						</div>
					</div>	
				</div>
			</div>
			
      
            <div class="pop-out js-pop-out__sign-in">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">You must sign in to use this functionality</h3>
                     <div class="js-login-container">
                        <form 	method="post"
                           class="js-sign-in-submit"
                           data-on-submit="/Account/api/LoginWebUserApi/Login/">
                           <div class="pop-out__form-error js-form-error js-form-error-general">
                              Your login and/or password information does not match our records. Please try again.
                           </div>
                           <input name="username"
                              class="pop-out__input header__hover-input"
                              placeholder="Email Address (User Name)"
                              type="text">
                           <input name="password"
                              class="pop-out__input header__hover-input"
                              placeholder="Password"
                              type="password">
                           <div class="pop-out__form-actions-wrapper">
                              <div>
                                 <span class="pop-out__form-actions pop-out__reset-password js-show-forgot-password">Forgot your password?</span>
                                 <div class="pop-out__sign-in-remember-me">
                                    <input name="persist" type="checkbox" data-checkbox-type="boolean"> Remember Me
                                 </div>
                              </div>
                              <div class="sign-in__submit-wrapper">
                                 <button type="submit" class="button--filled sign-in__submit" data-login-redirect-url="">Sign In</button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="pop-out__forgot-password js-reset-password-container">
                        <form class="form-reset-password" data-on-submit="/Account/api/ResetPasswordApi/Generate/" data-is-password="false">
                           <div class="alert-success js-reset-password-success">
                              <svg class="alert__icon">
                                 <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                              </svg>
                              <p>Thanks, we&#39;ve sent a link to reset your password</p>
                           </div>
                           <div class="pop-out__sign-in-forgot-password-nested js-reset-password-request-form">
                              <p class="pop-out__form-error js-form-error js-form-error-EmailRequirement">Please enter a valid email address.</p>
                              <p class="pop-out__form-error js-form-error js-form-error-general">Unfortunately we&#39;ve not been able to process this request.</p>
                              <input name="email"
                                 class="pop-out__input"
                                 type="text"
                                 placeholder="Email Address">
                              <div class="pop-out__form-actions-wrapper">
                                 <div></div>
                                 <div class="sign-in__submit-wrapper">
                                    <button class="button--filled  click-utag" type="submit" data-info='{"event_name" : "reset-password-request"}'>Submit</button>
                                 </div>
                              </div>
                           </div>
                           <p class="pop-out__details pop-out__details--inset u-italic u-centered">
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__register js-register-user-container">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <form	class="pop-out__register form-pre-registration"
                     data-on-submit="/Account/api/RegistrationApi/PreRegister/"
                     data-forwarding-url="?returnUrl=/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda">
                     <div class="dismiss-button" data-target-element=".js-pop-out__register">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                           UsernamePublicRestriction
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">Register</h3>
                     <input name="username"
                        class="pop-out__register-input header__hover-input js-register-username"
                        type="text"
                        placeholder="Email Address (User Name)">
                     <p class="js-form-error js-form-error-UsernameRequirements pop-out__form-error"
                        style="display: none;">Your username does not meet the requirements.</p>
                     <p class="js-form-error js-form-error-UsernameCompetitorRestriction pop-out__form-error"
                        style="display: none;">Sorry - this email domain is not allowed.</p>
                     <p class="js-form-error js-form-error-UsernamePublicRestriction pop-out__form-error"
                        style="display: none;">Sorry - public email accounts are not allowed. Please provide a work email address.</p>
                     <p class="js-form-error js-form-error-UsernameExists pop-out__form-error"
                        style="display: none;">An account with that username already exists.</p>
                     <p class="js-form-error js-form-error-error-general pop-out__form-error"
                        style="display: none;">Unfortunately we&#39;ve not been able to process your registration. Please contact support.</p>
                     <button type="submit" class="pop-out__register-submit js-pre-register-user-submit">
                     Register
                     </button>
                  </form>
               </div>
            </div>
            <div class="pop-out js-pop-out__email-article">
               <div class="pop-out__form-error">
                  <!--TODO Add error message-->
                  SC065123
               </div>
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="dismiss-button js-dismiss-email-article" data-target-element=".js-pop-out__email-article">
                     <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                     </svg>
                  </div>
                  <h3 class="pop-out__header">
                     Email Article
                  </h3>
                  <div class="alert-success js-email-article-success">
                     <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                     </svg>
                     <p>All set! This article has been sent to <b class="js-email-article-recip-success">my&#64;email.address</b>.</p>
                  </div>
                  <div class="js-email-article-form-wrapper">
                     <p class="pop-out__details u-italic">
                        All fields are required. For multiple recipients, separate email addresses with a semicolon.
                     </p>
                     <form 	class="form-email-article"
                        data-on-submit="/Account/api/EmailFriend/Email/">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-general">
                           Please make sure all fields are completed.
                        </p>
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please enter a valid e-mail address
                        </p>
                        <input	name="RecipientEmail"
                           class="pop-out__input js-email-article-recip-addr"
                           type="text"
                           placeholder="Recipient Email Address">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderName"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Name"
                           value="">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderEmail"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Email"
                           value="admin">
                        <p>
                           <span class="pop-out__run-in">Subject:</span> Merck Is Finding PD-L1 Testing Is Helping Keytruda
                           <input type="hidden" name="ArticleTitle" value="Merck Is Finding PD-L1 Testing Is Helping Keytruda">
                        </p>
                        <p>
                           <span class="pop-out__run-in">Add a personalized message to your email</span>
                        </p>
                        <textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>
                        <input type="hidden" name="ArticleNumber" value="SC065123">
                        <div class="pop-out__form-actions-wrapper">
                           <div class="dismiss-button" data-target-element=".js-pop-out__email-article">
                              <span class="highlight-link">Cancel</span>
                           </div>
                           <div class="sign-in__submit-wrapper">
                              <button type="submit" class="button--filled click-utag"  data-info='{"event_name" : "toolbar_use", "toolbar_tool" : "email" }'>Send</button>
                           </div>
                        </div>
                        <input type='hidden' name='AuthToken' value='27-AE-91-F8-09-5D-6D-13-6E-0E-61-DB-25-B7-24-6F'/>
                     </form>
                     <p class="pop-out__details u-italic">
                        <b>Please Note:</b> Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
                     </p>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__save-search">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button js-close-lightbox-modal" ng-click="oneClickSaveFocus = false" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <form
                        method="post"
                        class="form-save-search"
                        data-on-submit="/api/SavedSearches"
                        data-is-search="false">
                        <div class="pop-out__save-search-container">
                           <input type="hidden"
                              name="Title"
                              class="js-save-search-title" value="">
                           <input type="hidden"
                              name="Url"
                              class="js-save-search-url"
                              value="">
                           <input type="hidden"
                              id="AlertEnabled"
                              name="AlertEnabled"
                              value="true">
                           <p class="pop-out__details">
                              Your alert for <span class="js-save-search-title"></span> will be saved to your account - "Saved Searches and Alerts".
                           </p>
                           <button
                              type="submit"
                              class="pop-out__sign-in-submit button--filled"
                              ng-click="searchIsSaved = true">
                           Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </main>



<footer>
         <div class="footer__wrapper">
            <ul class="footer__section footer__section--corporate">
               <li>
                  <img class="footer__logo" src="/-/media/images/web_pharmaintelligence_4a.png">&#169; 2016 Informa plc. All Rights Reserved.
               </li>
            </ul>
            <div class="footer__section footer__section--double">
               <ul>
                  <li>
                     <a href="/about-us">About Us</a>
                  </li>
                  <li>
                     <a href="/customer-support">Customer Support</a>
                  </li>
                  <li>
                     <a href="/contact-us">Contact Us</a>
                  </li>
                  <li>
                     <a href="/get-started">Get Started</a>
                  </li>
                  <li>
                     <a href="/terms-and-conditions">Terms and Conditions</a>
                  </li>
                  <li>
                     <a href="/privacy-policy">Privacy Policy</a>
                  </li>
               </ul>
            </div>
            <ul class="footer__section footer__section--social">
               <li class="footer__section-header">following</li>
               <li>
                  <a href="https://www.linkedin.com/company/scrip-intelligence" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="LinkedIn">
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
                     </svg>
                  </a>
                  <a href="https://twitter.com/scripnews" target="_blank" title="Twitter" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
                     </svg>
                  </a>
                  <a href="https://feeds.feedblitz.com/scrip" target="_blank" title="RSS Feed" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>
                  <img class="footer__share-icons" src="/-/media/images/emailiconrss.png"/>
                  </a>
               </li>
            </ul>
            <hr class="footer__separator">
            <div class="footer__section footer__section--single">
               <span class="footer__section-header">
               PHARMA INSIGHT PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/the-pink-sheet/">The Pink Sheet</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/in-vivo">In Vivo</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/medtech-insight">Medtech Insight</a>
                  </li>
               </ul>
            </div>
            <div class="footer__section footer__section--triple">
               <span class="footer__section-header">
               OTHER PHARMA &amp; HEALTHCARE PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.biomedtracker.com/">BioMedTracker</a>
                  </li>
                  <li>
                     <a href="https://www.catalysttracker.com/">CatalystTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/chinatrove/">ChinaTrove</a>
                  </li>
                  <li>
                     <a href="http://www.datamonitorhealthcare.com">Datamonitor Healthcare</a>
                  </li>
                  <li>
                     <a href="https://www.meddevicetracker.com/">MedDeviceTracker</a>
                  </li>
                  <li>
                     <a href="https://www.medtrack.com/">Medtrack</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/pharmaprojects/">PharmaProjects</a>
                  </li>
                  <li>
                     <a href="https://www.placementtracker.com">PlacementTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/sitetrove/">Sitetrove</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/deals">Strategic Transactions</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialpredict/">Trialpredict</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialtrove/">Trialtrove</a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <div class="boxout-print-info footer">
         <p></p>
         <p>Printed By <b>  Daniel Dewey Test</b></p>
      </div>
	  <script src="/dist/js/index.js"></script>   
	  <script src="/dist/js/amstock.js" type="text/javascript"></script> 
	  <script src="/dist/js/accordionStockChart.js" type="text/javascript"></script>
   </body>
</html>