<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type='text/javascript'>if(console){console.error('Failed to load page metadata.')}</script>
      <title>Merck Is Finding PD-L1 Testing Is Helping Keytruda</title>
      <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
      <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/dist/index-generated.css">
   </head>
   <body class="theme-lloydslist">
      <header>
         <div class="banner banner--cookie-policy" data-banner-id="cookie-policy-0001" data-dismiss-all-subdomains="true">
            <div class="banner__wrapper">
               <div class="dismiss-button js-dismiss-banner">
                  <svg class="dismiss-button__icon">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </div>
               <span>In order to deliver a personalized, responsive service and to improve the site, we remember and store information about how you use it. This is done using simple text files called cookies which sit on your computer. By continuing to use this site and access its features, you are consenting to our use of cookies. To find out more about the way Informa uses cookies please go to our <a href="https://pharmaintelligence.informa.com/cookies/">Cookie Policy</a> page.</span>
            </div>
         </div>
         <div class="informa-ribbon">
            <div class="informa-ribbon__wrapper">
               <div class="informa-ribbon__detail">
                  <div class="informa-ribbon__left">
                     <p> is part of the Business Intelligence Division of Informa PLC</p>
                     <ul>
                        <li class="iribbon-mainlink">
                           <a href='http://informa.com/' target=''>Informa PLC</a>
                        </li>
                        <li>
                           <a href='http://informa.com/About-Us/' target=''>About us</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Investors/' target=''>Investor relations</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Talent/' target=''>Talent</a>
                        </li>
                     </ul>
                  </div>
                  <div class="informa-ribbon__right">
                     <p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC’s registered office is 5 Howick Place, London SW1P 1WG. Registered in England and Wales. Number 8860726.</p>
                  </div>
               </div>
               <button class="informa-ribbon__title">
               Informa
               </button>
            </div>
         </div>
         <div class="header__wrapper clearfix">
            <div class="menu-toggler menu-toggler--mini js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
            <div class="header__logo">
                <a href="/"><img src="http://products/-/media/images/scriplogo.png"></a>
            </div>
            <div class="header-logo-print">
               <a href="/"><img src=""></a>
            </div>
            <div class="header-search__wrapper">
               <form action="/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda" method="post">
                  <input name="__RequestVerificationToken" type="hidden" value="lJuPfs_F5TDytd9kcY2Jp2WxYI0TPOTkhNBq5L0UzC8qKCvIIa9TFeX3x479JIombiG-6Oqp_4D91XoCD5HsT7Wqrz8x5-Wa2MZWRwNZr615vpNiSoxYwgrgkR-hLQV60" /><input id="fhController" name="fhController" type="hidden" value="HeaderSearch" /><input id="fhAction" name="fhAction" type="hidden" value="Search" />        <input class="header-search__field" type="search" placeholder="Search the site" name="SearchTerm">
                  <svg class="header__icons header__icons--search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
                  </svg>
                  <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </form>
            </div>
            <div class="header-account-access">

                    <div class="header-account-access__friendly-greeting">Hi, Open License</div>

                <div class="header-account-access__my-account">
                    <svg class="header__icons icon-my-account">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                    </svg>
                    <span class="header-account-access__label"><a href="/my-account/contact-information">My Cart</a></span>
                </div>
				<div class="header-account-access__my-account">
                    <svg class="header__icons icon-my-account">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                    </svg>
                    <span class="header-account-access__label"><a href="/my-account/contact-information">My Account</a></span>
                </div>
                <div class="header-account-access__sign-in-out click-logout">
                    <svg class="header__icons icon-sign-out">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                    </svg>
                    <span class="header-account-access__label"><a href="/Account/LogoutWebUser/Logout?returnUrl=http%3A%2F%2Fproducts%2F">Sign Out</a></span>
            </div>        
			</div>
            <div class="boxout-print-info">
               <p></p>
               <p>Printed By <b>  Daniel Dewey Test</b></p>
            </div>
         </div>
      </header>
	  
	  
	   <main>
         <div class="main-menu js-full-menu-toggle">
            <div class="menu-toggler js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
         </div>
         <div class="main__wrapper" data-request-verification-token="WeShyS9vDy3l5rBrFnq2K6Fu1jC0xiiFun6mBbE62mH4A_n1MawPiLTF9pXLMY-dEsmgC7GQCUwShq7rf6JJZN7xfWcEmOwt9ZCLev_S0K01:zhx2Rr_STiS7L78rvrOXurIcBxOQgTgU0uupB73ZMSRVMAxpwLxGeXHMAJ5Rme6JqWVGSNYK3SYGZVj1fODHLMZfGWTA91dYvw8wJihwA4Rv2QtJxcVZNgtaZ3WBN4ua0">
            <div class="general-header">
            </div>          
            <div class="main__content">
				<div class="small_table">
					<div class="article-left-rail"> 
						<div class="table-responsive casualtyPan">
							 <h2>Casualty</h2>
							 <hr/>
							  <table class="table" id="casualty-detail-table">
								 <!-- <thead class="table_head">
									<tr>
									  <th colspan="2" class="pad-10">RONJA VIKING (NORWAY)</th>
									</tr> 
								</thead>
								<tbody>
									<tr>
									  <td class="RB16 pad-10">Title</td>
									  <td class="R16 pad-10">RONJA VIKING (Norway)</td>
									</tr>
									<tr>
									  <td class="RB16 pad-10">Date</td>
									  <td class="R16 pad-10">11 Dec 2016</td>
									</tr>
									<tr>
									  <td class="RB16 pad-10">Type</td>
									  <td class="R16 pad-10">Marine</td>
									</tr>
									<tr>
									  <td class="RB16 pad-10">Precis</td>
									  <td class="R16 pad-10">Experienced gearbox & clutch problems in 55 54 N 06 06 W 11 Dec 2016. To proceed to Skye anchorage. Ar Mallaig in tow 13 Dec.</td>
									</tr>
									<tr>
									  <td class="RB16 pad-10">Location</td>
									  <td class="R16 pad-10">British Isles, North Sea, English Channel, Bay of Biscay</td>
									</tr>
									<tr>
									  <td class="RB16 pad-10">Vessels Involved</td>
									  <td class="R16 pad-10"><a href="#">Ronja Viking</a></td>
									</tr> 
									<tr>
									  <td class="RB16 pad-10">Messages</td>
									  <td class="R16 pad-10">
										<p><strong>Tue, 13 Dec 2016</strong>
London, Dec 13 -- Following received from Belfast Coastguard, timed 1307, UTC: Fish carrier Ronja Viking safely berthed in Mallaig harbour with the assistance of tug SD Kyle of Lochalsh and Mallaig lifeboat at 1127, UTC, today. Vessel is awaiting arrival of engineers from Finnoy manufacture.</p>
										<p><strong>Tue, 13 Dec 2016</strong>
London, Dec 13 -- Following received from Belfast Coastguard, timed 1307, UTC: Fish carrier Ronja Viking safely berthed in Mallaig harbour with the assistance of tug SD Kyle of Lochalsh and Mallaig lifeboat at 1127, UTC, today. Vessel is awaiting arrival of engineers from Finnoy manufacture.</p>
										<p><strong>Tue, 13 Dec 2016</strong>
London, Dec 13 -- Following received from Belfast Coastguard, timed 1307, UTC: Fish carrier Ronja Viking safely berthed in Mallaig harbour with the assistance of tug SD Kyle of Lochalsh and Mallaig lifeboat at 1127, UTC, today. Vessel is awaiting arrival of engineers from Finnoy manufacture.</p>
										<p><strong>Tue, 13 Dec 2016</strong>
London, Dec 13 -- Following received from Belfast Coastguard, timed 1307, UTC: Fish carrier Ronja Viking safely berthed in Mallaig harbour with the assistance of tug SD Kyle of Lochalsh and Mallaig lifeboat at 1127, UTC, today. Vessel is awaiting arrival of engineers from Finnoy manufacture.</p>
										<p><strong>Tue, 13 Dec 2016</strong>
London, Dec 13 -- Following received from Belfast Coastguard, timed 1307, UTC: Fish carrier Ronja Viking safely berthed in Mallaig harbour with the assistance of tug SD Kyle of Lochalsh and Mallaig lifeboat at 1127, UTC, today. Vessel is awaiting arrival of engineers from Finnoy manufacture.</p>
									  </td>
									</tr>
								</tbody> -->
							  </table>
						 </div>
					  </div>
				  <div class="article-right-rail">
				      
				  
				  <!-- I'm an edit -->
				     <div class="ll-market-details">
                     <div class="article-related-content">
                        <h2>Market News</h2>
                        <div class="contentRecomm-article"> 
                           <img src="https://commodities.qa.informa.products.com/-/media/legacy-images/2016/december/mandarins_40335583.jpg" width="100%">
                           <h5>
                              <a class="click-utag" href="#">Newbuilding deliveries and demand side weakness to keep tanker earnings volatile</a>
                           </h5>
                           <p class="article-related-content__date">Expected oil production volumes and vessel scrapping...</p>
                        </div>
                        <div class="contentRecomm-article"> 
                           <img src="https://commodities.qa.informa.products.com/-/media/legacy-images/2016/december/mandarins_40335583.jpg" width="100%">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                           <p class="article-related-content__date">Weaker earnings and lower asset values are general...</p>
                        </div>
                        <div class="contentRecomm-article">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                        </div>
                        <div class="contentRecomm-article">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                        </div>
                     </div> 
                     <div class="article-related-content">
                        <h2>Market Commentary</h2>
                        <div class="contentRecomm-article"> 
                           <img src="https://commodities.qa.informa.products.com/-/media/legacy-images/2016/december/mandarins_40335583.jpg" width="100%">
                           <h5>
                              <a class="click-utag" href="#">Newbuilding deliveries and demand side weakness to keep tanker earnings volatile</a>
                           </h5>
                           <p class="article-related-content__date">Expected oil production volumes and vessel scrapping...</p>
                        </div>
                        <div class="contentRecomm-article"> 
                           <img src="https://commodities.qa.informa.products.com/-/media/legacy-images/2016/december/mandarins_40335583.jpg" width="100%">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                           <p class="article-related-content__date">Weaker earnings and lower asset values are general...</p>
                        </div>
                        <div class="contentRecomm-article">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                        </div>
                        <div class="contentRecomm-article">
                           <h5>
                              <a class="click-utag" href="#">Crude tankers in 2016: VLCCs outperform suezmaxes and aframaxes</a>
                           </h5>
                        </div>
                     </div> 
                 </div>
				  </div>				
            </div>
			</div>
      
            <div class="pop-out js-pop-out__sign-in">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">You must sign in to use this functionality</h3>
                     <div class="js-login-container">
                        <form 	method="post"
                           class="js-sign-in-submit"
                           data-on-submit="/Account/api/LoginWebUserApi/Login/">
                           <div class="pop-out__form-error js-form-error js-form-error-general">
                              Your login and/or password information does not match our records. Please try again.
                           </div>
                           <input name="username"
                              class="pop-out__input header__hover-input"
                              placeholder="Email Address (User Name)"
                              type="text">
                           <input name="password"
                              class="pop-out__input header__hover-input"
                              placeholder="Password"
                              type="password">
                           <div class="pop-out__form-actions-wrapper">
                              <div>
                                 <span class="pop-out__form-actions pop-out__reset-password js-show-forgot-password">Forgot your password?</span>
                                 <div class="pop-out__sign-in-remember-me">
                                    <input name="persist" type="checkbox" data-checkbox-type="boolean"> Remember Me
                                 </div>
                              </div>
                              <div class="sign-in__submit-wrapper">
                                 <button type="submit" class="button--filled sign-in__submit" data-login-redirect-url="">Sign In</button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="pop-out__forgot-password js-reset-password-container">
                        <form class="form-reset-password" data-on-submit="/Account/api/ResetPasswordApi/Generate/" data-is-password="false">
                           <div class="alert-success js-reset-password-success">
                              <svg class="alert__icon">
                                 <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                              </svg>
                              <p>Thanks, we&#39;ve sent a link to reset your password</p>
                           </div>
                           <div class="pop-out__sign-in-forgot-password-nested js-reset-password-request-form">
                              <p class="pop-out__form-error js-form-error js-form-error-EmailRequirement">Please enter a valid email address.</p>
                              <p class="pop-out__form-error js-form-error js-form-error-general">Unfortunately we&#39;ve not been able to process this request.</p>
                              <input name="email"
                                 class="pop-out__input"
                                 type="text"
                                 placeholder="Email Address">
                              <div class="pop-out__form-actions-wrapper">
                                 <div></div>
                                 <div class="sign-in__submit-wrapper">
                                    <button class="button--filled  click-utag" type="submit" data-info='{"event_name" : "reset-password-request"}'>Submit</button>
                                 </div>
                              </div>
                           </div>
                           <p class="pop-out__details pop-out__details--inset u-italic u-centered">
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__register js-register-user-container">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <form	class="pop-out__register form-pre-registration"
                     data-on-submit="/Account/api/RegistrationApi/PreRegister/"
                     data-forwarding-url="?returnUrl=/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda">
                     <div class="dismiss-button" data-target-element=".js-pop-out__register">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                           UsernamePublicRestriction
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">Register</h3>
                     <input name="username"
                        class="pop-out__register-input header__hover-input js-register-username"
                        type="text"
                        placeholder="Email Address (User Name)">
                     <p class="js-form-error js-form-error-UsernameRequirements pop-out__form-error"
                        style="display: none;">Your username does not meet the requirements.</p>
                     <p class="js-form-error js-form-error-UsernameCompetitorRestriction pop-out__form-error"
                        style="display: none;">Sorry - this email domain is not allowed.</p>
                     <p class="js-form-error js-form-error-UsernamePublicRestriction pop-out__form-error"
                        style="display: none;">Sorry - public email accounts are not allowed. Please provide a work email address.</p>
                     <p class="js-form-error js-form-error-UsernameExists pop-out__form-error"
                        style="display: none;">An account with that username already exists.</p>
                     <p class="js-form-error js-form-error-error-general pop-out__form-error"
                        style="display: none;">Unfortunately we&#39;ve not been able to process your registration. Please contact support.</p>
                     <button type="submit" class="pop-out__register-submit js-pre-register-user-submit">
                     Register
                     </button>
                  </form>
               </div>
            </div>
            <div class="pop-out js-pop-out__email-article">
               <div class="pop-out__form-error">
                  <!--TODO Add error message-->
                  SC065123
               </div>
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="dismiss-button js-dismiss-email-article" data-target-element=".js-pop-out__email-article">
                     <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                     </svg>
                  </div>
                  <h3 class="pop-out__header">
                     Email Article
                  </h3>
                  <div class="alert-success js-email-article-success">
                     <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                     </svg>
                     <p>All set! This article has been sent to <b class="js-email-article-recip-success">my&#64;email.address</b>.</p>
                  </div>
                  <div class="js-email-article-form-wrapper">
                     <p class="pop-out__details u-italic">
                        All fields are required. For multiple recipients, separate email addresses with a semicolon.
                     </p>
                     <form 	class="form-email-article"
                        data-on-submit="/Account/api/EmailFriend/Email/">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-general">
                           Please make sure all fields are completed.
                        </p>
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please enter a valid e-mail address
                        </p>
                        <input	name="RecipientEmail"
                           class="pop-out__input js-email-article-recip-addr"
                           type="text"
                           placeholder="Recipient Email Address">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderName"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Name"
                           value="">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderEmail"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Email"
                           value="admin">
                        <p>
                           <span class="pop-out__run-in">Subject:</span> Merck Is Finding PD-L1 Testing Is Helping Keytruda
                           <input type="hidden" name="ArticleTitle" value="Merck Is Finding PD-L1 Testing Is Helping Keytruda">
                        </p>
                        <p>
                           <span class="pop-out__run-in">Add a personalized message to your email</span>
                        </p>
                        <textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>
                        <input type="hidden" name="ArticleNumber" value="SC065123">
                        <div class="pop-out__form-actions-wrapper">
                           <div class="dismiss-button" data-target-element=".js-pop-out__email-article">
                              <span class="highlight-link">Cancel</span>
                           </div>
                           <div class="sign-in__submit-wrapper">
                              <button type="submit" class="button--filled click-utag"  data-info='{"event_name" : "toolbar_use", "toolbar_tool" : "email" }'>Send</button>
                           </div>
                        </div>
                        <input type='hidden' name='AuthToken' value='27-AE-91-F8-09-5D-6D-13-6E-0E-61-DB-25-B7-24-6F'/>
                     </form>
                     <p class="pop-out__details u-italic">
                        <b>Please Note:</b> Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
                     </p>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__save-search">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button js-close-lightbox-modal" ng-click="oneClickSaveFocus = false" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <form
                        method="post"
                        class="form-save-search"
                        data-on-submit="/api/SavedSearches"
                        data-is-search="false">
                        <div class="pop-out__save-search-container">
                           <input type="hidden"
                              name="Title"
                              class="js-save-search-title" value="">
                           <input type="hidden"
                              name="Url"
                              class="js-save-search-url"
                              value="">
                           <input type="hidden"
                              id="AlertEnabled"
                              name="AlertEnabled"
                              value="true">
                           <p class="pop-out__details">
                              Your alert for <span class="js-save-search-title"></span> will be saved to your account - "Saved Searches and Alerts".
                           </p>
                           <button
                              type="submit"
                              class="pop-out__sign-in-submit button--filled"
                              ng-click="searchIsSaved = true">
                           Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </main>



<footer>
         <div class="footer__wrapper">
            <ul class="footer__section footer__section--corporate">
               <li>
                  <img class="footer__logo" src="/-/media/images/web_pharmaintelligence_4a.png">&#169; 2016 Informa plc. All Rights Reserved.
               </li>
            </ul>
            <div class="footer__section footer__section--double">
               <ul>
                  <li>
                     <a href="/about-us">About Us</a>
                  </li>
                  <li>
                     <a href="/customer-support">Customer Support</a>
                  </li>
                  <li>
                     <a href="/contact-us">Contact Us</a>
                  </li>
                  <li>
                     <a href="/get-started">Get Started</a>
                  </li>
                  <li>
                     <a href="/terms-and-conditions">Terms and Conditions</a>
                  </li>
                  <li>
                     <a href="/privacy-policy">Privacy Policy</a>
                  </li>
               </ul>
            </div>
            <ul class="footer__section footer__section--social">
               <li class="footer__section-header">Follow</li>
               <li>
                  <a href="https://www.linkedin.com/company/scrip-intelligence" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="LinkedIn">
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
                     </svg>
                  </a>
                  <a href="https://twitter.com/scripnews" target="_blank" title="Twitter" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
                     </svg>
                  </a>
                  <a href="https://feeds.feedblitz.com/scrip" target="_blank" title="RSS Feed" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>
                  <img class="footer__share-icons" src="/-/media/images/emailiconrss.png"/>
                  </a>
               </li>
            </ul>
            <hr class="footer__separator">
            <div class="footer__section footer__section--single">
               <span class="footer__section-header">
               PHARMA INSIGHT PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/the-pink-sheet/">The Pink Sheet</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/in-vivo">In Vivo</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/medtech-insight">Medtech Insight</a>
                  </li>
               </ul>
            </div>
            <div class="footer__section footer__section--triple">
               <span class="footer__section-header">
               OTHER PHARMA &amp; HEALTHCARE PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.biomedtracker.com/">BioMedTracker</a>
                  </li>
                  <li>
                     <a href="https://www.catalysttracker.com/">CatalystTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/chinatrove/">ChinaTrove</a>
                  </li>
                  <li>
                     <a href="http://www.datamonitorhealthcare.com">Datamonitor Healthcare</a>
                  </li>
                  <li>
                     <a href="https://www.meddevicetracker.com/">MedDeviceTracker</a>
                  </li>
                  <li>
                     <a href="https://www.medtrack.com/">Medtrack</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/pharmaprojects/">PharmaProjects</a>
                  </li>
                  <li>
                     <a href="https://www.placementtracker.com">PlacementTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/sitetrove/">Sitetrove</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/deals">Strategic Transactions</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialpredict/">Trialpredict</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialtrove/">Trialtrove</a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <div class="boxout-print-info footer">
         <p></p>
         <p>Printed By <b>  Daniel Dewey Test</b></p>
      </div>
      <script type="text/javascript">
         var jsonCasualtyDetailData =[
           {
             "casualtyDetail": {
               "Heading": "APL DENVER (Gibraltar)",
               "Title": "APL DENVER (Gibraltar) / WAN HAI 301 (Singapore)",
               "Date": "03 Jan 2017",
               "Type": "MARINE",
               "Precis": "Contacted by c.c. Wan Hai 301 while anch off Pasir Gudang 03 Jan 2016. Bunker tank damaged, resulting in spillage of 300 tonnes of oil. Boom deployed. Under way at slow speed off Pasir Gudang 04 Jan.",
               "Location": "South China, Indo China, Indonesia and Philippines",
               "Vessels Involved": [
                 "APL Denver",
                 "Wan Hai 301"
               ],
               "Messages": [
                 {
                   "date": "Fri, 6 Jan 2017",
                   "message": "Manila, Jan 6 -- According to Johor Health and Environment committee chairman, Datuk Ayub, fully cellular containership Wan Hai 301 and fully cellular containership APL Denver have been reportedly detained under Section 38 of the Environmental Quality Act 1974. The owners of the vessels must come up with the RM1 million bond as insurance that they will not leave port. They can be charged in court should they fail to raise the bonds. -- Correspondent."
                 },
                 {
                   "date": "Fri, 6 Jan 2017",
                   "message": "Manila, Jan 6 -- According to Johor Health and Environment committee chairman, Datuk Ayub, fully cellular containership Wan Hai 301 and fully cellular containership APL Denver have been reportedly detained under Section 38 of the Environmental Quality Act 1974. The owners of the vessels must come up with the RM1 million bond as insurance that they will not leave port. They can be charged in court should they fail to raise the bonds. -- Correspondent."
                 }
               ]
             }
           }
         ]
      </script>
      <script src="/dist/js/index.js"></script> 
   </body>
</html>