<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type='text/javascript'>if(console){console.error('Failed to load page metadata.')}</script>
      <title>Merck Is Finding PD-L1 Testing Is Helping Keytruda</title>
      <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
      <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/dist/index-generated.css">
	  
	  <script type="text/javascript">
		var shippingMovements = [  
			  {
				"Areas": [{      
					  "Value": "UKE",
					  "Text": "United Kingdom inc Eire"
					},
					{
					  "Value": "SCN",
					  "Text": "North European Atlantic coast"
					},
				  {
					  "Value": "IBE",
					  "Text": "Spain / Portugal inc Atlantic Islands"
					},
				  {
					  "Value": "SEU",
					  "Text": "European Mediterranean coast"
					}],
				"MovementTypes":[{ 
					  "Value": "ALL",
					  "Text": "All"
					},
					{
					  "Value": "A",
					  "Text": "Arrivals"
					},
				   {
					  "Value": "S",
					  "Text": "Sailings"
					},
				   {
					  "Value": "P",
					  "Text": "Passings"
					}]
				}
			]
		
			var tableObj = [  
				  {
				  "areaname":"United Kingdom inc Eire",
					"Aberdeen(GBR)": [{   
						  "Move Date": "11.01.2017",
						  "Vessel Name": "Bibby Topaz",
						  "Flag": "Panama",
						  "Gross": "8009",
						  "Origin": "--",
						  "Destination": "Aberdeen(GBR",
						  "Vessel Type": "Support"
						},
						{
						  "Move Date": "11.01.2017",
						  "Vessel Name": "Viking Princess",
						  "Flag": "Bahamas",
						  "Gross": "5381",
						  "Origin": "--",
						 "Destination": "Aberdeen(GBR",
						"Vessel Type": "Supply"
						}],
					"Avonmouth":[{                                                                                                                                      
						  "Move Date": "11.01.2017",
						  "Vessel Name": "F. Arslan V",
						  "Flag": "Antigua & Barbuda",
						  "Gross": "3854",
						  "Origin": "",
						  "Destination": "--",
						   "Vessel Type": "General Cargo With Container Capacity"
						},
						{
						  "Move Date": "11.01.2017",
						  "Vessel Name": "Kurkse",
						  "Flag": "St. Vincent & Grenadines",
						  "Gross": "2658",
						  "Origin": "",
						   "Destination": "Portugal",
						 "Vessel Type": "General Cargo With Container Capacity"
						}
					  ]
					}
				]
	  </script>
   </head>
   <body >
      <header>
         <div class="banner banner--cookie-policy" data-banner-id="cookie-policy-0001" data-dismiss-all-subdomains="true">
            <div class="banner__wrapper">
               <div class="dismiss-button js-dismiss-banner">
                  <svg class="dismiss-button__icon">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </div>
               <span>In order to deliver a personalized, responsive service and to improve the site, we remember and store information about how you use it. This is done using simple text files called cookies which sit on your computer. By continuing to use this site and access its features, you are consenting to our use of cookies. To find out more about the way Informa uses cookies please go to our <a href="https://pharmaintelligence.informa.com/cookies/">Cookie Policy</a> page.</span>
            </div>
         </div>
         <div class="informa-ribbon">
            <div class="informa-ribbon__wrapper">
               <div class="informa-ribbon__detail">
                  <div class="informa-ribbon__left">
                     <p> is part of the Business Intelligence Division of Informa PLC</p>
                     <ul>
                        <li class="iribbon-mainlink">
                           <a href='http://informa.com/' target=''>Informa PLC</a>
                        </li>
                        <li>
                           <a href='http://informa.com/About-Us/' target=''>About us</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Investors/' target=''>Investor relations</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Talent/' target=''>Talent</a>
                        </li>
                     </ul>
                  </div>
                  <div class="informa-ribbon__right">
                     <p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC’s registered office is 5 Howick Place, London SW1P 1WG. Registered in England and Wales. Number 8860726.</p>
                  </div>
               </div>
               <button class="informa-ribbon__title">
               Informa
               </button>
            </div>
         </div>
         <div class="header__wrapper clearfix">
            <div class="menu-toggler menu-toggler--mini js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
            <div class="header__logo">
               <a href="/"><img src="http://products/-/media/images/scriplogo.png"></a>
            </div>
            <div class="header-logo-print">
               <a href="/"><img src=""></a>
            </div>
            <div class="header-search__wrapper">
               <form action="/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda" method="post">
                  <input name="__RequestVerificationToken" type="hidden" value="lJuPfs_F5TDytd9kcY2Jp2WxYI0TPOTkhNBq5L0UzC8qKCvIIa9TFeX3x479JIombiG-6Oqp_4D91XoCD5HsT7Wqrz8x5-Wa2MZWRwNZr615vpNiSoxYwgrgkR-hLQV60" /><input id="fhController" name="fhController" type="hidden" value="HeaderSearch" /><input id="fhAction" name="fhAction" type="hidden" value="Search" />        <input class="header-search__field" type="search" placeholder="Search the site" name="SearchTerm">
                  <svg class="header__icons header__icons--search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
                  </svg>
                  <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </form>
            </div>
            <div class="header-account-access">
               <div class="header-account-access__friendly-greeting">Hi, Open License</div>
               <div class="header-account-access__my-account">
                  <svg class="header__icons icon-my-account">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                  </svg>
                  <span class="header-account-access__label"><a href="/my-account/contact-information">My Cart</a></span>
               </div>
               <div class="header-account-access__my-account">
                  <svg class="header__icons icon-my-account">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                  </svg>
                  <span class="header-account-access__label"><a href="/my-account/contact-information">My Account</a></span>
               </div>
               <div class="header-account-access__sign-in-out click-logout">
                  <svg class="header__icons icon-sign-out">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                  </svg>
                  <span class="header-account-access__label"><a href="/Account/LogoutWebUser/Logout?returnUrl=http%3A%2F%2Fproducts%2F">Sign Out</a></span>
               </div>
            </div>
            <div class="boxout-print-info">
               <p></p>
               <p>Printed By <b>  Daniel Dewey Test</b></p>
            </div>
         </div>
      </header>
      <main>
         <div class="main-menu js-full-menu-toggle">
            <div class="menu-toggler js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
         </div>
         <div class="main__wrapper" data-request-verification-token="WeShyS9vDy3l5rBrFnq2K6Fu1jC0xiiFun6mBbE62mH4A_n1MawPiLTF9pXLMY-dEsmgC7GQCUwShq7rf6JJZN7xfWcEmOwt9ZCLev_S0K01:zhx2Rr_STiS7L78rvrOXurIcBxOQgTgU0uupB73ZMSRVMAxpwLxGeXHMAJ5Rme6JqWVGSNYK3SYGZVj1fODHLMZfGWTA91dYvw8wJihwA4Rv2QtJxcVZNgtaZ3WBN4ua0">
            <div class="general-header">
            </div>
            <div class="main__content">
               <div class="small_table">
                  <div class="article-left-rail">
                     <div class="table-responsive" id="market-data-tool">
                        <h5 class="secondary_heading">Market Data</h5>
                        <hr/>
                        <div class="lli-brand-container shallow-bottom">
                           <h3 class="lli-brand-head-wide-trans">Shipping Movements</h3>
                           <div class="lli-brand-box">
                              <p>Select the area and movement type you wish to view and the database will
                                 return the latest vessel records including flag, tonnage, type, origin and destination.
                              </p>
                              <form id="shipping-movements-form" class="form" action="shipping-movements.htm" method="post">
                                 <fieldset>
                                    <div class="form-control">
                                       <form action="/ll/sector/markets/casualty-listing.htm" method="post" id="reported-date">
                                          <label for="areaCode">Area</label>
                                          <div class="select-field">
                                             <select id="areaCode" name="areaCode">
                                                
                                             </select>
                                          </div>
                                       </form>
                                    </div>
                                    <div class="form-control">
                                       <form action="/ll/sector/markets/casualty-listing.htm" method="post" id="reported-date">
                                          <label for="movementType">Movement type</label>
                                          <div class="select-field">
                                             <select id="movementType" name="movementType">
											 
                                             </select>
                                          </div>
                                       </form>
                                    </div>
                                    <input type="button" value="Search" class="submit">
                                    <input type="hidden" value="true" name="isSubmit">
                                 </fieldset>
                              </form>
                              <!-- .lli-brand-box -->
                           </div>
                           <!-- .lli-brand-container -->
                        </div>
                        <table class="table" id="marketDataTable">
                           <thead class="table_head">
                              <tr>
                                 <th colspan="7" class="pad-full-10">United Kingdom inc Eire</th>
                              </tr>
                              <tr class="visible-lg">
                                 <th class="pad-10">Move Date</th>
                                 <th class="pad-10">Vessel Name</th>
                                 <th class="pad-10">Flag</th>
                                 <th class="pad-10">Gross</th>
                                 <th class="pad-10">Origin</th>
                                 <th class="pad-10">Destination</th>
                                 <th class="pad-10">Vessel Type</th>
                              </tr>
                           </thead>
                           <!--<tbody class="visible-lg">
                              <tr>
                                 <td colspan="5" class="graybg RB18 pad-10">Aberdeen(GBR)</td>
                                 <td colspan="1" align="right" class="graybg RB18 pad-10"><a href="#">top</a></td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td colspan="5" class="graybg RB18 pad-10">Ardrossan(GBR)</td>
                                 <td colspan="1" align="right" class="graybg RB18 pad-10"><a href="#">top</a></td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td colspan="5" class="graybg RB18 pad-10">Aughinish Is.</td>
                                 <td colspan="1" align="right" class="graybg RB18 pad-10"><a href="#">top</a></td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="RB16 pad-10">29.12.2016</td>
                                 <td class="R16 pad-10">Hildasay</td>
                                 <td class="R16 pad-10">Isle of Man</td>
                                 <td class="R16 pad-10">7606</td>
                                 <td class="R16 pad-10">--</td>
                                 <td class="R16 pad-10">Aberdeen(GBR)  Roll On Roll Off</td>
                              </tr>
                           </tbody>-->
                           <tbody class="visible-sm">
                              <tr>
                                 <td colspan="6" class="graybg RB18 pad-full-10">Aberdeen(GBR)</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                             <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td colspan="6" class="graybg RB18 pad-full-10">Ardrossan(GBR)</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td colspan="6" class="graybg RB18 pad-full-10">Aughinish Is.</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Move Date</td>
                                 <td class="pad-10 R21_RedColor">29.12.2016</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Vessel Name</td>
                                 <td class="pad-10 R21_RedColor">Hildasay</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Flag</td>
                                 <td class="pad-10 R21_RedColor">Isle of Man</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Origin</td>
                                 <td class="pad-10 R21_RedColor">7606</td>
                                 </a>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Destination Vessel</td>
                                 <td class="pad-10 R21_RedColor">09.12.2016</td>
                              </tr>
                              <tr>
                                 <td class="pad-10 R21_GrayColor">Type</td>
                                 <td class="pad-10 R21_RedColor">Aberdeen(GBR) Roll On Roll Off</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="article-right-rail">
                     <!-- I'm an edit -->
                     <!-- <section class="article-preview article-preview--small">
                        <div class="advertising advertising">
                           <span class="advertising__label">Advertisement</span>
                           <script>
                              OAS_AD('Position2', 'home');
                           </script>
                           <a href="https://oasc-eu1.247realmedia.com/5c/www.scripnews.com/home/L22/2020656599/Position2/Informa/Covance-Scrip-Microsite-MPU/Covacne-Scrip-Microsite-MPU.html/665242624256654f44796f4143645a62" target="_blank"><img src="https://cdn.oas-eu1.adnxs.com/RealMedia/ads/Creatives/Informa/Covance-Scrip-Microsite-MPU/Xcellerate-BigBox-300x250.gif/1461658273" style="border:0px black solid;" width="300" height="250" alt=""></a>
                           <noscript class="MOAT-informaoas952337543472?moatClientLevel1=Covance&amp;moatClientLevel2=Informa/Covance-Scrip-Microsite-MPU&amp;moatClientLevel3=11233753&amp;moatClientSlicer1=www.scripnews.com/home/L22&amp;moatClientSlicer2=www.scripnews.com/home&amp;moatClientSlicer3=Position2"></noscript>
                           <script src="https://z.moatads.com/informaoas952337543472/moatad.js#moatClientLevel1=Covance&amp;moatClientLevel2=Informa/Covance-Scrip-Microsite-MPU&amp;moatClientLevel3=11233753&amp;moatClientSlicer1=www.scripnews.com/home/L22&amp;moatClientSlicer2=www.scripnews.com/home&amp;moatClientSlicer3=Position2" type="text/javascript"></script>
                        </div>
                     </section> -->
                     <!--<div class="lloyd-related-links">
                        <div class="ll-logo-img">
                           <a href="#">
                              <img src="/dist/img/lli_brand_head.png" alt="Brand Heading" width="100%">
                           </a>
                        </div>
                        <div class="allrelatedlinks">
                           <ul>
                              <li class="article-topics__section-header">Latest Casualties</li>
                           </ul>
                           <a href="http://www.lloydslistintelligence.com" class="lli-footer-link-casualty">For more up to the minute
                               casualty information
                               visit www.lloydslistintelligence.com</a>
                        </div>
                     </div>-->
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__sign-in">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">You must sign in to use this functionality</h3>
                     <div class="js-login-container">
                        <form    method="post"
                           class="js-sign-in-submit"
                           data-on-submit="/Account/api/LoginWebUserApi/Login/">
                           <div class="pop-out__form-error js-form-error js-form-error-general">
                              Your login and/or password information does not match our records. Please try again.
                           </div>
                           <input name="username"
                              class="pop-out__input header__hover-input"
                              placeholder="Email Address (User Name)"
                              type="text">
                           <input name="password"
                              class="pop-out__input header__hover-input"
                              placeholder="Password"
                              type="password">
                           <div class="pop-out__form-actions-wrapper">
                              <div>
                                 <span class="pop-out__form-actions pop-out__reset-password js-show-forgot-password">Forgot your password?</span>
                                 <div class="pop-out__sign-in-remember-me">
                                    <input name="persist" type="checkbox" data-checkbox-type="boolean"> Remember Me
                                 </div>
                              </div>
                              <div class="sign-in__submit-wrapper">
                                 <button type="submit" class="button--filled sign-in__submit" data-login-redirect-url="">Sign In</button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="pop-out__forgot-password js-reset-password-container">
                        <form class="form-reset-password" data-on-submit="/Account/api/ResetPasswordApi/Generate/" data-is-password="false">
                           <div class="alert-success js-reset-password-success">
                              <svg class="alert__icon">
                                 <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                              </svg>
                              <p>Thanks, we&#39;ve sent a link to reset your password</p>
                           </div>
                           <div class="pop-out__sign-in-forgot-password-nested js-reset-password-request-form">
                              <p class="pop-out__form-error js-form-error js-form-error-EmailRequirement">Please enter a valid email address.</p>
                              <p class="pop-out__form-error js-form-error js-form-error-general">Unfortunately we&#39;ve not been able to process this request.</p>
                              <input name="email"
                                 class="pop-out__input"
                                 type="text"
                                 placeholder="Email Address">
                              <div class="pop-out__form-actions-wrapper">
                                 <div></div>
                                 <div class="sign-in__submit-wrapper">
                                    <button class="button--filled  click-utag" type="submit" data-info='{"event_name" : "reset-password-request"}'>Submit</button>
                                 </div>
                              </div>
                           </div>
                           <p class="pop-out__details pop-out__details--inset u-italic u-centered">
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__register js-register-user-container">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <form class="pop-out__register form-pre-registration"
                     data-on-submit="/Account/api/RegistrationApi/PreRegister/"
                     data-forwarding-url="?returnUrl=/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda">
                     <div class="dismiss-button" data-target-element=".js-pop-out__register">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                           UsernamePublicRestriction
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">Register</h3>
                     <input name="username"
                        class="pop-out__register-input header__hover-input js-register-username"
                        type="text"
                        placeholder="Email Address (User Name)">
                     <p class="js-form-error js-form-error-UsernameRequirements pop-out__form-error"
                        style="display: none;">Your username does not meet the requirements.</p>
                     <p class="js-form-error js-form-error-UsernameCompetitorRestriction pop-out__form-error"
                        style="display: none;">Sorry - this email domain is not allowed.</p>
                     <p class="js-form-error js-form-error-UsernamePublicRestriction pop-out__form-error"
                        style="display: none;">Sorry - public email accounts are not allowed. Please provide a work email address.</p>
                     <p class="js-form-error js-form-error-UsernameExists pop-out__form-error"
                        style="display: none;">An account with that username already exists.</p>
                     <p class="js-form-error js-form-error-error-general pop-out__form-error"
                        style="display: none;">Unfortunately we&#39;ve not been able to process your registration. Please contact support.</p>
                     <button type="submit" class="pop-out__register-submit js-pre-register-user-submit">
                     Register
                     </button>
                  </form>
               </div>
            </div>
            <div class="pop-out js-pop-out__email-article">
               <div class="pop-out__form-error">
                  <!--TODO Add error message-->
                  SC065123
               </div>
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="dismiss-button js-dismiss-email-article" data-target-element=".js-pop-out__email-article">
                     <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                     </svg>
                  </div>
                  <h3 class="pop-out__header">
                     Email Article
                  </h3>
                  <div class="alert-success js-email-article-success">
                     <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                     </svg>
                     <p>All set! This article has been sent to <b class="js-email-article-recip-success">my&#64;email.address</b>.</p>
                  </div>
                  <div class="js-email-article-form-wrapper">
                     <p class="pop-out__details u-italic">
                        All fields are required. For multiple recipients, separate email addresses with a semicolon.
                     </p>
                     <form    class="form-email-article"
                        data-on-submit="/Account/api/EmailFriend/Email/">
                        <p class="  pop-out__error
                           js-form-error
                           js-form-error-general">
                           Please make sure all fields are completed.
                        </p>
                        <p class="  pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please enter a valid e-mail address
                        </p>
                        <input   name="RecipientEmail"
                           class="pop-out__input js-email-article-recip-addr"
                           type="text"
                           placeholder="Recipient Email Address">
                        <p class="  pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input   name="SenderName"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Name"
                           value="">
                        <p class="  pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input   name="SenderEmail"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Email"
                           value="admin">
                        <p>
                           <span class="pop-out__run-in">Subject:</span> Merck Is Finding PD-L1 Testing Is Helping Keytruda
                           <input type="hidden" name="ArticleTitle" value="Merck Is Finding PD-L1 Testing Is Helping Keytruda">
                        </p>
                        <p>
                           <span class="pop-out__run-in">Add a personalized message to your email</span>
                        </p>
                        <textFlag name="PersonalMessage" class="pop-out__input pop-out__textFlag"></textFlag>
                        <input type="hidden" name="ArticleNumber" value="SC065123">
                        <div class="pop-out__form-actions-wrapper">
                           <div class="dismiss-button" data-target-element=".js-pop-out__email-article">
                              <span class="highlight-link">Cancel</span>
                           </div>
                           <div class="sign-in__submit-wrapper">
                              <button type="submit" class="button--filled click-utag"  data-info='{"event_name" : "toolbar_use", "toolbar_tool" : "email" }'>Send</button>
                           </div>
                        </div>
                        <input type='hidden' name='AuthToken' value='27-AE-91-F8-09-5D-6D-13-6E-0E-61-DB-25-B7-24-6F'/>
                     </form>
                     <p class="pop-out__details u-italic">
                        <b>Please Note:</b> Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
                     </p>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__save-search">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button js-close-lightbox-modal" ng-click="oneClickSaveFocus = false" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <form
                        method="post"
                        class="form-save-search"
                        data-on-submit="/api/SavedSearches"
                        data-is-search="false">
                        <div class="pop-out__save-search-container">
                           <input type="hidden"
                              name="Title"
                              class="js-save-search-title" value="">
                           <input type="hidden"
                              name="Url"
                              class="js-save-search-url"
                              value="">
                           <input type="hidden"
                              id="AlertEnabled"
                              name="AlertEnabled"
                              value="true">
                           <p class="pop-out__details">
                              Your alert for <span class="js-save-search-title"></span> will be saved to your account - "Saved Searches and Alerts".
                           </p>
                           <button
                              type="submit"
                              class="pop-out__sign-in-submit button--filled"
                              ng-click="searchIsSaved = true">
                           Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer>
         <div class="footer__wrapper">
            <ul class="footer__section footer__section--corporate">
               <li>
                  <img class="footer__logo" src="/-/media/images/web_pharmaintelligence_4a.png">&#169; 2016 Informa plc. All Rights Reserved.
               </li>
            </ul>
            <div class="footer__section footer__section--double">
               <ul>
                  <li>
                     <a href="/about-us">About Us</a>
                  </li>
                  <li>
                     <a href="/customer-support">Customer Support</a>
                  </li>
                  <li>
                     <a href="/contact-us">Contact Us</a>
                  </li>
                  <li>
                     <a href="/get-started">Get Started</a>
                  </li>
                  <li>
                     <a href="/terms-and-conditions">Terms and Conditions</a>
                  </li>
                  <li>
                     <a href="/privacy-policy">Privacy Policy</a>
                  </li>
               </ul>
            </div>
            <ul class="footer__section footer__section--social">
               <li class="footer__section-header">Follow</li>
               <li>
                  <a href="https://www.linkedin.com/company/scrip-intelligence" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="LinkedIn">
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
                     </svg>
                  </a>
                  <a href="https://twitter.com/scripnews" target="_blank" title="Twitter" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
                     </svg>
                  </a>
                  <a href="https://feeds.feedblitz.com/scrip" target="_blank" title="RSS Feed" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>
                  <img class="footer__share-icons" src="/-/media/images/emailiconrss.png"/>
                  </a>
               </li>
            </ul>
            <hr class="footer__separator">
            <div class="footer__section footer__section--single">
               <span class="footer__section-header">
               PHARMA INSIGHT PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/the-pink-sheet/">The Pink Sheet</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/in-vivo">In Vivo</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/medtech-insight">Medtech Insight</a>
                  </li>
               </ul>
            </div>
            <div class="footer__section footer__section--triple">
               <span class="footer__section-header">
               OTHER PHARMA &amp; HEALTHCARE PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.biomedtracker.com/">BioMedTracker</a>
                  </li>
                  <li>
                     <a href="https://www.catalysttracker.com/">CatalystTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/chinatrove/">ChinaTrove</a>
                  </li>
                  <li>
                     <a href="http://www.datamonitorhealthcare.com">Datamonitor Healthcare</a>
                  </li>
                  <li>
                     <a href="https://www.meddevicetracker.com/">MedDeviceTracker</a>
                  </li>
                  <li>
                     <a href="https://www.medtrack.com/">Medtrack</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/pharmaprojects/">PharmaProjects</a>
                  </li>
                  <li>
                     <a href="https://www.placementtracker.com">PlacementTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/sitetrove/">Sitetrove</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/deals">Strategic Transactions</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialpredict/">Trialpredict</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialtrove/">Trialtrove</a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <div class="boxout-print-info footer">
         <p></p>
         <p>Printed By <b>  Daniel Dewey Test</b></p>
      </div>
      <script src="/dist/js/index.js"></script> 
   </body>
</html>