<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>Merck Is Finding PD-L1 Testing Is Helping Keytruda</title>
      <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
      <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/dist/index-generated.css">
	  <style type="">
		.visible-sm{
			display: block !important;
		}
	  </style>
   </head>
   <body class="theme-lloydslist">
      <header>
         <div class="banner banner--cookie-policy" data-banner-id="cookie-policy-0001" data-dismiss-all-subdomains="true">
            <div class="banner__wrapper">
               <div class="dismiss-button js-dismiss-banner">
                  <svg class="dismiss-button__icon">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </div>
               <span>In order to deliver a personalized, responsive service and to improve the site, we remember and store information about how you use it. This is done using simple text files called cookies which sit on your computer. By continuing to use this site and access its features, you are consenting to our use of cookies. To find out more about the way Informa uses cookies please go to our <a href="https://pharmaintelligence.informa.com/cookies/">Cookie Policy</a> page.</span>
            </div>
         </div>
         <div class="informa-ribbon">
            <div class="informa-ribbon__wrapper">
               <div class="informa-ribbon__detail">
                  <div class="informa-ribbon__left">
                     <p> is part of the Business Intelligence Division of Informa PLC</p>
                     <ul>
                        <li class="iribbon-mainlink">
                           <a href='http://informa.com/' target=''>Informa PLC</a>
                        </li>
                        <li>
                           <a href='http://informa.com/About-Us/' target=''>About us</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Investors/' target=''>Investor relations</a>
                        </li>
                        <li>
                           <a href='http://informa.com/Talent/' target=''>Talent</a>
                        </li>
                     </ul>
                  </div>
                  <div class="informa-ribbon__right">
                     <p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC’s registered office is 5 Howick Place, London SW1P 1WG. Registered in England and Wales. Number 8860726.</p>
                  </div>
               </div>
               <button class="informa-ribbon__title">
               Informa
               </button>
            </div>
         </div>
         <div class="header__wrapper clearfix">
            <div class="menu-toggler menu-toggler--mini js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
            <div class="header__logo">
               <a href="/"><img src="http://products/-/media/images/scriplogo.png"></a>
            </div>
            <div class="header-logo-print">
               <a href="/"><img src=""></a>
            </div>
            <div class="header-search__wrapper">
               <form action="/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda" method="post">
                  <input name="__RequestVerificationToken" type="hidden" value="lJuPfs_F5TDytd9kcY2Jp2WxYI0TPOTkhNBq5L0UzC8qKCvIIa9TFeX3x479JIombiG-6Oqp_4D91XoCD5HsT7Wqrz8x5-Wa2MZWRwNZr615vpNiSoxYwgrgkR-hLQV60" /><input id="fhController" name="fhController" type="hidden" value="HeaderSearch" /><input id="fhAction" name="fhAction" type="hidden" value="Search" />        <input class="header-search__field" type="search" placeholder="Search the site" name="SearchTerm">
                  <svg class="header__icons header__icons--search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
                  </svg>
                  <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                     <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                  </svg>
               </form>
            </div>
            <div class="header-account-access">
               <div class="header-account-access__friendly-greeting">Hi, Open License</div>
               <div class="header-account-access__my-account">
                  <svg class="header__icons icon-my-account">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                  </svg>
                  <span class="header-account-access__label"><a href="/my-account/contact-information">My Cart</a></span>
               </div>
               
              
            </div>
            <div class="boxout-print-info">
               <p></p>
               <p>Printed By <b>  Daniel Dewey Test</b></p>
            </div>
         </div>
      </header>
      <main>
         <div class="main-menu js-full-menu-toggle">
            <div class="menu-toggler js-menu-toggle-button">
               <button class="menu-toggler__button">
               <span>Toggle Menu</span>
               </button>
               Menu
            </div>
         </div>
         <div class="main__wrapper" data-request-verification-token="WeShyS9vDy3l5rBrFnq2K6Fu1jC0xiiFun6mBbE62mH4A_n1MawPiLTF9pXLMY-dEsmgC7GQCUwShq7rf6JJZN7xfWcEmOwt9ZCLev_S0K01:zhx2Rr_STiS7L78rvrOXurIcBxOQgTgU0uupB73ZMSRVMAxpwLxGeXHMAJ5Rme6JqWVGSNYK3SYGZVj1fODHLMZfGWTA91dYvw8wJihwA4Rv2QtJxcVZNgtaZ3WBN4ua0">
         <div class="general-header">
         </div>
         <div class="main__content">
         <div class="manually-curated-content">
            <div class="small_table">
               <div class="manually-curated-content__main-well">
                  <div class="table-responsive" id="tanker-Pure-ChemPage">
                     <h1 class="primary_heading">Lorem Ipsum</h1>
                     <h5 class="secondary_heading">Lorem Ipsum</h5>
                     <hr/>
					 <div class="ID-Responsive-Table" data-modal="modal-annualresults" id="tankerPureChemPage">
								
						<!-- <div class="table_head pad-10 clearfix">
							<span class="RB16">Current Fleet</span>
						</div>
                  <div class="table-wrapper">
                     <div class="table">
                        <div class="tableRow">
                           <div class="tableHead">
                              a
                           </div>
                           <div class="tableHead">
                              b
                           </div>
                           <div class="tableHead">
                              c
                           </div>
                        </div>
                        <div class="tableRow">
                           <div class="tableHead">
                              a
                           </div>
                           <div class="tableHead">
                              b
                           </div>
                           <div class="tableHead">
                              c
                           </div>
                           <div class="tableHead">
                              d
                           </div>
                           <div class="tableHead">
                              e
                           </div>
                           <div class="tableHead">
                              
                           </div>
                        </div>
                     </div>
                  </div>
						<div class="graybg pad-10">&nbsp;</div> -->
                  <div>
                     <div class="states_heading">
                        <div class="year_heading">
                           <span>COMPANY</span>
                           <a href="#" class="sort" category="companies" type="ascending"><svg class="sorting-arrows__arrow sorting-arrows__arrow--down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sorting-arrow-table"></use></svg></a>
                           <a href="#" class="sort" category="companies" type="descending"><svg class="sorting-arrows__arrow sorting-arrows__arrow--down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sorting-arrow-table"></use></svg></a>
                        </div>
                        <div class="RB16" >ACE Ltd </div>
                        <div class="RB16">Achmea </div>
                        <div class="RB16">American International Assurance</div>
                        <div class="RB16">Allianz Group</div>
                     </div>
                  
                     <div class="owl-carousel">
                        <div class="article">
                           <div class="year_heading">Gross Written Premium</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">Net Written Premium</div>
                           <div  class="R16">23390.0</div>
                           <div  class="R16">3068.9</div>
                           <div  class="R16">1441.3</div>
                           <div  class="R16">83495.5</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">Underwriting Results</div>
                           <div  class="R16">23390.0</div>
                           <div  class="R16">3068.9</div>
                           <div  class="R16">1441.3</div>
                           <div  class="R16">83495.5</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">Net Result</div>
                           <div  class="R16">17799.0</div>
                           <div  class="R16">1395.6</div>
                           <div  class="R16">77360.0</div>
                           <div  class="R16">15707.0</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">Shareholders' Funds</div>
                           <div  class="R16">17799.0</div>
                           <div  class="R16">1395.6</div>
                           <div  class="R16">77360.0</div>
                           <div  class="R16">15707.0</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">Net Result / NWP %</div>
                           <div  class="R16">23390.0</div>
                           <div  class="R16">3068.9</div>
                           <div  class="R16">1441.3</div>
                           <div  class="R16">83495.5</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">10/11</div>
                           <div  class="R16">17799.0</div>
                           <div  class="R16">1395.6</div>
                           <div  class="R16">77360.0</div>
                           <div  class="R16">15707.0</div>
                        </div>
                        <div class="article">
                           <div  class="year_heading">09/10</div>
                           <div  class="R16">17799.0</div>
                           <div  class="R16">1395.6</div>
                           <div  class="R16">77360.0</div>
                           <div  class="R16">15707.0</div>
                        </div>
                     </div>
                  </div>
						
					</div>
					
					 <div class="table ID-Responsive-Table" data-modal="modal-annualresults" id="onOrderTable">
					 
					 </div>
					
               <!--<div class="table ID-Responsive-Table" data-modal="modal-table" id="ID-Financial-Responsive-Table">
                        
                  <div class="table_head pad-10">
                     <span class="RB16">FINANCIAL RESULTS FOR THE MOST RECENT FIVE YEARS (€M)</span>
                     <a href="#" data-toggle="modal-table-finance" class="hidden-xs">
                        <img align="right" src="dist/img/breakout-arrows-transparent.png"/>
                     </a>
                  </div>
                  <div class="graybg pad-10">&nbsp;</div>
                  <div>
                     <div class="states_heading">
                     </div>
                  
                     <div class="owl-carousel">
                       
                     </div>
                  </div>
               </div>-->

               <!-- <div class="table ID-Responsive-Table" data-modal="modal-table-quaterly" id="ID-Quaterly-Responsive-Table">
                  <div class="table_head pad-10">
                     <span class="RB16">FINANCIAL RESULTS FOR THE MOST RECENT FIVE YEARS (€M)</span>
                     <a href="#" data-toggle="modal-table-quaterly" class="hidden-xs">
                        <img align="right" src="dist/img/breakout-arrows-transparent.png"/>
                     </a>
                  </div>
                  <div class="table-wrapper">
                     <div class="table">

                     </div>
                  </div>
               </div> -->

                  </div>
                  <!-- END article-left-rail-->
               </div>
               <div class="manually-curated-content__right-rail">
                  <div class="article-right-rail">
                     <!-- I'm an edit -->
                     <section class="article-preview article-preview--small">
                        <div class="advertising advertising">
                           <span class="advertising__label">Advertisement</span>
                           <script>
                              OAS_AD('Position2', 'home');
                           </script>
                           <a href="https://oasc-eu1.247realmedia.com/5c/www.scripnews.com/home/L22/2020656599/Position2/Informa/Covance-Scrip-Microsite-MPU/Covacne-Scrip-Microsite-MPU.html/665242624256654f44796f4143645a62" target="_blank"><img src="https://cdn.oas-eu1.adnxs.com/RealMedia/ads/Creatives/Informa/Covance-Scrip-Microsite-MPU/Xcellerate-BigBox-300x250.gif/1461658273" style="border:0px black solid;" width="300" height="250" alt=""></a>
                           <noscript class="MOAT-informaoas952337543472?moatClientLevel1=Covance&amp;moatClientLevel2=Informa/Covance-Scrip-Microsite-MPU&amp;moatClientLevel3=11233753&amp;moatClientSlicer1=www.scripnews.com/home/L22&amp;moatClientSlicer2=www.scripnews.com/home&amp;moatClientSlicer3=Position2"></noscript>
                           <script src="https://z.moatads.com/informaoas952337543472/moatad.js#moatClientLevel1=Covance&amp;moatClientLevel2=Informa/Covance-Scrip-Microsite-MPU&amp;moatClientLevel3=11233753&amp;moatClientSlicer1=www.scripnews.com/home/L22&amp;moatClientSlicer2=www.scripnews.com/home&amp;moatClientSlicer3=Position2" type="text/javascript"></script>
                        </div>
                     </section>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__sign-in">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">You must sign in to use this functionality</h3>
                     <div class="js-login-container">
                        <form 	method="post"
                           class="js-sign-in-submit"
                           data-on-submit="/Account/api/LoginWebUserApi/Login/">
                           <div class="pop-out__form-error js-form-error js-form-error-general">
                              Your login and/or password information does not match our records. Please try again.
                           </div>
                           <input name="username"
                              class="pop-out__input header__hover-input"
                              placeholder="Email Address (User Name)"
                              type="text">
                           <input name="password"
                              class="pop-out__input header__hover-input"
                              placeholder="Password"
                              type="password">
                           <div class="pop-out__form-actions-wrapper">
                              <div>
                                 <span class="pop-out__form-actions pop-out__reset-password js-show-forgot-password">Forgot your password?</span>
                                 <div class="pop-out__sign-in-remember-me">
                                    <input name="persist" type="checkbox" data-checkbox-type="boolean"> Remember Me
                                 </div>
                              </div>
                              <div class="sign-in__submit-wrapper">
                                 <button type="submit" class="button--filled sign-in__submit" data-login-redirect-url="">Sign In</button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="pop-out__forgot-password js-reset-password-container">
                        <form class="form-reset-password" data-on-submit="/Account/api/ResetPasswordApi/Generate/" data-is-password="false">
                           <div class="alert-success js-reset-password-success">
                              <svg class="alert__icon">
                                 <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                              </svg>
                              <p>Thanks, we&#39;ve sent a link to reset your password</p>
                           </div>
                           <div class="pop-out__sign-in-forgot-password-nested js-reset-password-request-form">
                              <p class="pop-out__form-error js-form-error js-form-error-EmailRequirement">Please enter a valid email address.</p>
                              <p class="pop-out__form-error js-form-error js-form-error-general">Unfortunately we&#39;ve not been able to process this request.</p>
                              <input name="email"
                                 class="pop-out__input"
                                 type="text"
                                 placeholder="Email Address">
                              <div class="pop-out__form-actions-wrapper">
                                 <div></div>
                                 <div class="sign-in__submit-wrapper">
                                    <button class="button--filled  click-utag" type="submit" data-info='{"event_name" : "reset-password-request"}'>Submit</button>
                                 </div>
                              </div>
                           </div>
                           <p class="pop-out__details pop-out__details--inset u-italic u-centered">
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__register js-register-user-container">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <form	class="pop-out__register form-pre-registration"
                     data-on-submit="/Account/api/RegistrationApi/PreRegister/"
                     data-forwarding-url="?returnUrl=/SC065123/Merck-Is-Finding-PDL1-Testing-Is-Helping-Keytruda">
                     <div class="dismiss-button" data-target-element=".js-pop-out__register">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                           UsernamePublicRestriction
                        </svg>
                     </div>
                     <h3 class="pop-out__register-header">Register</h3>
                     <input name="username"
                        class="pop-out__register-input header__hover-input js-register-username"
                        type="text"
                        placeholder="Email Address (User Name)">
                     <p class="js-form-error js-form-error-UsernameRequirements pop-out__form-error"
                        style="display: none;">Your username does not meet the requirements.</p>
                     <p class="js-form-error js-form-error-UsernameCompetitorRestriction pop-out__form-error"
                        style="display: none;">Sorry - this email domain is not allowed.</p>
                     <p class="js-form-error js-form-error-UsernamePublicRestriction pop-out__form-error"
                        style="display: none;">Sorry - public email accounts are not allowed. Please provide a work email address.</p>
                     <p class="js-form-error js-form-error-UsernameExists pop-out__form-error"
                        style="display: none;">An account with that username already exists.</p>
                     <p class="js-form-error js-form-error-error-general pop-out__form-error"
                        style="display: none;">Unfortunately we&#39;ve not been able to process your registration. Please contact support.</p>
                     <button type="submit" class="pop-out__register-submit js-pre-register-user-submit">
                     Register
                     </button>
                  </form>
               </div>
            </div>
            <div class="pop-out js-pop-out__email-article">
               <div class="pop-out__form-error">
                  <!--TODO Add error message-->
                  SC065123
               </div>
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="dismiss-button js-dismiss-email-article" data-target-element=".js-pop-out__email-article">
                     <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                     </svg>
                  </div>
                  <h3 class="pop-out__header">
                     Email Article
                  </h3>
                  <div class="alert-success js-email-article-success">
                     <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                     </svg>
                     <p>All set! This article has been sent to <b class="js-email-article-recip-success">my&#64;email.address</b>.</p>
                  </div>
                  <div class="js-email-article-form-wrapper">
                     <p class="pop-out__details u-italic">
                        All fields are required. For multiple recipients, separate email addresses with a semicolon.
                     </p>
                     <form 	class="form-email-article"
                        data-on-submit="/Account/api/EmailFriend/Email/">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-general">
                           Please make sure all fields are completed.
                        </p>
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please enter a valid e-mail address
                        </p>
                        <input	name="RecipientEmail"
                           class="pop-out__input js-email-article-recip-addr"
                           type="text"
                           placeholder="Recipient Email Address">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderName"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Name"
                           value="">
                        <p class="	pop-out__error
                           js-form-error
                           js-form-error-failType">
                           Please make sure you have filled out all fields
                        </p>
                        <input 	name="SenderEmail"
                           class="pop-out__input"
                           type="text"
                           placeholder="Your Email"
                           value="admin">
                        <p>
                           <span class="pop-out__run-in">Subject:</span> Merck Is Finding PD-L1 Testing Is Helping Keytruda
                           <input type="hidden" name="ArticleTitle" value="Merck Is Finding PD-L1 Testing Is Helping Keytruda">
                        </p>
                        <p>
                           <span class="pop-out__run-in">Add a personalized message to your email</span>
                        </p>
                        <textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>
                        <input type="hidden" name="ArticleNumber" value="SC065123">
                        <div class="pop-out__form-actions-wrapper">
                           <div class="dismiss-button" data-target-element=".js-pop-out__email-article">
                              <span class="highlight-link">Cancel</span>
                           </div>
                           <div class="sign-in__submit-wrapper">
                              <button type="submit" class="button--filled click-utag"  data-info='{"event_name" : "toolbar_use", "toolbar_tool" : "email" }'>Send</button>
                           </div>
                        </div>
                        <input type='hidden' name='AuthToken' value='27-AE-91-F8-09-5D-6D-13-6E-0E-61-DB-25-B7-24-6F'/>
                     </form>
                     <p class="pop-out__details u-italic">
                        <b>Please Note:</b> Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
                     </p>
                  </div>
               </div>
            </div>
            <div class="pop-out js-pop-out__save-search">
               <div class="pop-out__tab"></div>
               <div class="pop-out__internal">
                  <div class="pop-out__sign-in">
                     <div class="dismiss-button js-close-lightbox-modal" ng-click="oneClickSaveFocus = false" data-target-element=".js-pop-out__sign-in">
                        <svg class="dismiss-button__icon">
                           <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                     </div>
                     <form
                        method="post"
                        class="form-save-search"
                        data-on-submit="/api/SavedSearches"
                        data-is-search="false">
                        <div class="pop-out__save-search-container">
                           <input type="hidden"
                              name="Title"
                              class="js-save-search-title" value="">
                           <input type="hidden"
                              name="Url"
                              class="js-save-search-url"
                              value="">
                           <input type="hidden"
                              id="AlertEnabled"
                              name="AlertEnabled"
                              value="true">
                           <p class="pop-out__details">
                              Your alert for <span class="js-save-search-title"></span> will be saved to your account - "Saved Searches and Alerts".
                           </p>
                           <button
                              type="submit"
                              class="pop-out__sign-in-submit button--filled"
                              ng-click="searchIsSaved = true">
                           Save
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer>
         <div class="footer__wrapper">
            <ul class="footer__section footer__section--corporate">
               <li>
                  <img class="footer__logo" src="/-/media/images/web_pharmaintelligence_4a.png">&#169; 2016 Informa plc. All Rights Reserved.
               </li>
            </ul>
            <div class="footer__section footer__section--double">
               <ul>
                  <li>
                     <a href="/about-us">About Us</a>
                  </li>
                  <li>
                     <a href="/customer-support">Customer Support</a>
                  </li>
                  <li>
                     <a href="/contact-us">Contact Us</a>
                  </li>
                  <li>
                     <a href="/get-started">Get Started</a>
                  </li>
                  <li>
                     <a href="/terms-and-conditions">Terms and Conditions</a>
                  </li>
                  <li>
                     <a href="/privacy-policy">Privacy Policy</a>
                  </li>
               </ul>
            </div>
            <ul class="footer__section footer__section--social">
               <li class="footer__section-header">Follow</li>
               <li>
                  <a href="https://www.linkedin.com/company/scrip-intelligence" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="LinkedIn">
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
                     </svg>
                  </a>
                  <a href="https://twitter.com/scripnews" target="_blank" title="Twitter" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
                     <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
                     </svg>
                  </a>
                  <a href="https://feeds.feedblitz.com/scrip" target="_blank" title="RSS Feed" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>
                  <img class="footer__share-icons" src="/-/media/images/emailiconrss.png"/>
                  </a>
               </li>
            </ul>
            <hr class="footer__separator">
            <div class="footer__section footer__section--single">
               <span class="footer__section-header">
               PHARMA INSIGHT PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/the-pink-sheet/">The Pink Sheet</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/in-vivo">In Vivo</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/publications/medtech-insight">Medtech Insight</a>
                  </li>
               </ul>
            </div>
            <div class="footer__section footer__section--triple">
               <span class="footer__section-header">
               OTHER PHARMA &amp; HEALTHCARE PRODUCTS
               </span>
               <ul>
                  <li>
                     <a href="https://www.biomedtracker.com/">BioMedTracker</a>
                  </li>
                  <li>
                     <a href="https://www.catalysttracker.com/">CatalystTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/chinatrove/">ChinaTrove</a>
                  </li>
                  <li>
                     <a href="http://www.datamonitorhealthcare.com">Datamonitor Healthcare</a>
                  </li>
                  <li>
                     <a href="https://www.meddevicetracker.com/">MedDeviceTracker</a>
                  </li>
                  <li>
                     <a href="https://www.medtrack.com/">Medtrack</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/pharmaprojects/">PharmaProjects</a>
                  </li>
                  <li>
                     <a href="https://www.placementtracker.com">PlacementTracker</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/sitetrove/">Sitetrove</a>
                  </li>
                  <li>
                     <a href="https://www.pharmamedtechbi.com/deals">Strategic Transactions</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialpredict/">Trialpredict</a>
                  </li>
                  <li>
                     <a href="https://citeline.com/products/trialtrove/">Trialtrove</a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <div class="boxout-print-info footer">
         <p></p>
         <p>Printed By <b>  Daniel Dewey Test</b></p>
      </div>
      
      <script type="text/javascript">
         var currentFleetTableData = [{

"Current Fleet":[
{
"Age":"2017", "10-24,999 dwt (sub-handy)":[{"No":"56","m dwt":"992850" }], "25-39,999 dwt (handysize)":[{"No":"37","m dwt":"1190600" }], "40,000dwt+ (handymax)":[{"No":"11","m dwt":"547000" }], "Total":[{"No":"104","m dwt":"2730450" }] }
,{
"Age":"2018", "10-24,999 dwt (sub-handy)":[{"No":"46","m dwt":"868200" }], "25-39,999 dwt (handysize)":[{"No":"12","m dwt":"385950" }], "40,000dwt+ (handymax)":[{"No":"6","m dwt":"282000" }], "Total":[{"No":"64","m dwt":"1536150" }] }
,{
"Age":"2019-2021", "10-24,999 dwt (sub-handy)":[{"No":"10","m dwt":"178600" }], "25-39,999 dwt (handysize)":[{"No":"20","m dwt":"614450" }], "40,000dwt+ (handymax)":[{"No":"19","m dwt":"926500" }], "Total":[{"No":"49","m dwt":"1719550" }] }
,{
"Age":"Total", "10-24,999 dwt (sub-handy)":[{"No":"112","m dwt":"2039650" }], "25-39,999 dwt (handysize)":[{"No":"69","m dwt":"2191000" }], "40,000dwt+ (handymax)":[{"No":"36","m dwt":"1755500" }], "Total":[{"No":"217","m dwt":"5986150" }] }

],

"JAN 2017":[
{
"Age":"2017", "10-24,999 dwt (sub-handy)":[{"No":"59","m dwt":"1047921" }], "25-39,999 dwt (handysize)":[{"No":"41","m dwt":"1313600" }], "40,000dwt+ (handymax)":[{"No":"12","m dwt":"592500" }], "Total":[{"No":"112","m dwt":"2954021" }] }
,{
"Age":"2018", "10-24,999 dwt (sub-handy)":[{"No":"38","m dwt":"710200" }], "25-39,999 dwt (handysize)":[{"No":"12","m dwt":"385950" }], "40,000dwt+ (handymax)":[{"No":"6","m dwt":"282000" }], "Total":[{"No":"56","m dwt":"1378150" }] }
,{
"Age":"2019-2021", "10-24,999 dwt (sub-handy)":[{"No":"10","m dwt":"178600" }], "25-39,999 dwt (handysize)":[{"No":"20","m dwt":"614450" }], "40,000dwt+ (handymax)":[{"No":"19","m dwt":"926500" }], "Total":[{"No":"49","m dwt":"1719550" }] }
,{
"Age":"Total", "10-24,999 dwt (sub-handy)":[{"No":"107","m dwt":"1936721" }], "25-39,999 dwt (handysize)":[{"No":"73","m dwt":"2314000" }], "40,000dwt+ (handymax)":[{"No":"37","m dwt":"1801000" }], "Total":[{"No":"217","m dwt":"6051721" }] }

],

"DEC 2016":[
{
"Age":"Total", "10-24,999 dwt (sub-handy)":[{"No":"106","m dwt":"1924700" }], "25-39,999 dwt (handysize)":[{"No":"76","m dwt":"2426974" }], "40,000dwt+ (handymax)":[{"No":"31","m dwt":"1518500" }], "Total":[{"No":"213","m dwt":"5870174" }] }
,{
"Age":"2018-2020", "10-24,999 dwt (sub-handy)":[{"No":"46","m dwt":"845100" }], "25-39,999 dwt (handysize)":[{"No":"31","m dwt":"975400" }], "40,000dwt+ (handymax)":[{"No":"20","m dwt":"971500" }], "Total":[{"No":"97","m dwt":"2792000" }] }
,{
"Age":"2017", "10-24,999 dwt (sub-handy)":[{"No":"48","m dwt":"870800" }], "25-39,999 dwt (handysize)":[{"No":"39","m dwt":"1247600" }], "40,000dwt+ (handymax)":[{"No":"11","m dwt":"547000" }], "Total":[{"No":"98","m dwt":"2665400" }] }
,{
"Age":"2016", "10-24,999 dwt (sub-handy)":[{"No":"12","m dwt":"208800" }], "25-39,999 dwt (handysize)":[{"No":"6","m dwt":"203974" }], "40,000dwt+ (handymax)":[{"No":"0","m dwt":"0" }], "Total":[{"No":"18","m dwt":"412774" }] }

],

"NOV 2016":[
{
"Age":"2017", "10-24,999 dwt (sub-handy)":[{"No":"46","m dwt":"831250" }], "25-39,999 dwt (handysize)":[{"No":"40","m dwt":"1285600" }], "40,000dwt+ (handymax)":[{"No":"11","m dwt":"547000" }], "Total":[{"No":"97","m dwt":"2663850" }] }
,{
"Age":"2018-2020", "10-24,999 dwt (sub-handy)":[{"No":"45","m dwt":"832200" }], "25-39,999 dwt (handysize)":[{"No":"31","m dwt":"975400" }], "40,000dwt+ (handymax)":[{"No":"17","m dwt":"812500" }], "Total":[{"No":"93","m dwt":"2620100" }] }
,{
"Age":"Total", "10-24,999 dwt (sub-handy)":[{"No":"105","m dwt":"1912050" }], "25-39,999 dwt (handysize)":[{"No":"77","m dwt":"2464974" }], "40,000dwt+ (handymax)":[{"No":"30","m dwt":"1459000" }], "Total":[{"No":"212","m dwt":"5836024" }] }
,{
"Age":"2016", "10-24,999 dwt (sub-handy)":[{"No":"14","m dwt":"248600" }], "25-39,999 dwt (handysize)":[{"No":"6","m dwt":"203974" }], "40,000dwt+ (handymax)":[{"No":"2","m dwt":"99500" }], "Total":[{"No":"22","m dwt":"552074" }] }

],

"OCT 2016":[
{
"Age":"Total", "10-24,999 dwt (sub-handy)":[{"No":"103","m dwt":"1911850" }], "25-39,999 dwt (handysize)":[{"No":"84","m dwt":"2660974" }], "40,000dwt+ (handymax)":[{"No":"31","m dwt":"1519000" }], "Total":[{"No":"218","m dwt":"6091824" }] }
,{
"Age":"2018-2020", "10-24,999 dwt (sub-handy)":[{"No":"43","m dwt":"806200" }], "25-39,999 dwt (handysize)":[{"No":"31","m dwt":"975400" }], "40,000dwt+ (handymax)":[{"No":"16","m dwt":"771500" }], "Total":[{"No":"90","m dwt":"2553100" }] }
,{
"Age":"2016", "10-24,999 dwt (sub-handy)":[{"No":"19","m dwt":"326000" }], "25-39,999 dwt (handysize)":[{"No":"13","m dwt":"399974" }], "40,000dwt+ (handymax)":[{"No":"4","m dwt":"200500" }], "Total":[{"No":"36","m dwt":"926474" }] }
,{
"Age":"2017", "10-24,999 dwt (sub-handy)":[{"No":"41","m dwt":"779650" }], "25-39,999 dwt (handysize)":[{"No":"40","m dwt":"1285600" }], "40,000dwt+ (handymax)":[{"No":"11","m dwt":"547000" }], "Total":[{"No":"92","m dwt":"2612250" }] }

]

}]

var onOrderTableData = [{

"On Order":[
{
"Age":"2010", "10-39,999 dwt (Handysize)":[{"No":"164","m dwt":"4975405" }], "40-59,999 dwt (Handymax)":[{"No":"152","m dwt":"8519359" }], "60-79,999 dwt (Panamax)":[{"No":"31","m dwt":"2294491" }], "80-120,999 dwt (CapeSize)":[{"No":"68","m dwt":"6118082" }], "120,000 dwt+ (Capesize)":[{"No":"77","m dwt":"14053479" }], "Total":[{"No":"492","m dwt":"35960816" }] }
,{
"Age":"2011", "10-39,999 dwt (Handysize)":[{"No":"120","m dwt":"3803135" }], "40-59,999 dwt (Handymax)":[{"No":"126","m dwt":"6868345" }], "60-79,999 dwt (Panamax)":[{"No":"29","m dwt":"2179700" }], "80-120,999 dwt (CapeSize)":[{"No":"72","m dwt":"6675121" }], "120,000 dwt+ (Capesize)":[{"No":"46","m dwt":"8817786" }], "Total":[{"No":"393","m dwt":"28344087" }] }
,{
"Age":"2012", "10-39,999 dwt (Handysize)":[{"No":"122","m dwt":"3589526" }], "40-59,999 dwt (Handymax)":[{"No":"146","m dwt":"7791451" }], "60-79,999 dwt (Panamax)":[{"No":"96","m dwt":"6883467" }], "80-120,999 dwt (CapeSize)":[{"No":"135","m dwt":"11697878" }], "120,000 dwt+ (Capesize)":[{"No":"53","m dwt":"11941922" }], "Total":[{"No":"552","m dwt":"41904244" }] }
,{
"Age":"2013", "10-39,999 dwt (Handysize)":[{"No":"53","m dwt":"1718461" }], "40-59,999 dwt (Handymax)":[{"No":"47","m dwt":"2403808" }], "60-79,999 dwt (Panamax)":[{"No":"29","m dwt":"2050544" }], "80-120,999 dwt (CapeSize)":[{"No":"29","m dwt":"2538707" }], "120,000 dwt+ (Capesize)":[{"No":"26","m dwt":"5472747" }], "Total":[{"No":"184","m dwt":"14184267" }] }
,{
"Age":"2014", "10-39,999 dwt (Handysize)":[{"No":"31","m dwt":"1033942" }], "40-59,999 dwt (Handymax)":[{"No":"20","m dwt":"1014680" }], "60-79,999 dwt (Panamax)":[{"No":"31","m dwt":"2083304" }], "80-120,999 dwt (CapeSize)":[{"No":"15","m dwt":"1275091" }], "120,000 dwt+ (Capesize)":[{"No":"11","m dwt":"2593939" }], "Total":[{"No":"108","m dwt":"8000956" }] }
,{
"Age":"2015", "10-39,999 dwt (Handysize)":[{"No":"58","m dwt":"1984265" }], "40-59,999 dwt (Handymax)":[{"No":"8","m dwt":"434657" }], "60-79,999 dwt (Panamax)":[{"No":"43","m dwt":"2762715" }], "80-120,999 dwt (CapeSize)":[{"No":"22","m dwt":"1851046" }], "120,000 dwt+ (Capesize)":[{"No":"39","m dwt":"7424570" }], "Total":[{"No":"170","m dwt":"14457253" }] }
,{
"Age":"2016", "10-39,999 dwt (Handysize)":[{"No":"50","m dwt":"1862594" }], "40-59,999 dwt (Handymax)":[{"No":"21","m dwt":"1052831" }], "60-79,999 dwt (Panamax)":[{"No":"95","m dwt":"6146162" }], "80-120,999 dwt (CapeSize)":[{"No":"53","m dwt":"4385613" }], "120,000 dwt+ (Capesize)":[{"No":"41","m dwt":"8201100" }], "Total":[{"No":"260","m dwt":"21648300" }] }
,{
"Age":"2017", "10-39,999 dwt (Handysize)":[{"No":"143","m dwt":"5153244" }], "40-59,999 dwt (Handymax)":[{"No":"35","m dwt":"1764850" }], "60-79,999 dwt (Panamax)":[{"No":"164","m dwt":"10464929" }], "80-120,999 dwt (CapeSize)":[{"No":"118","m dwt":"9832973" }], "120,000 dwt+ (Capesize)":[{"No":"75","m dwt":"16234138" }], "Total":[{"No":"535","m dwt":"43450134" }] }
,{
"Age":"2018", "10-39,999 dwt (Handysize)":[{"No":"45","m dwt":"1577600" }], "40-59,999 dwt (Handymax)":[{"No":"10","m dwt":"562059" }], "60-79,999 dwt (Panamax)":[{"No":"40","m dwt":"2502939" }], "80-120,999 dwt (CapeSize)":[{"No":"30","m dwt":"2534052" }], "120,000 dwt+ (Capesize)":[{"No":"34","m dwt":"10484770" }], "Total":[{"No":"159","m dwt":"17661420" }] }
,{
"Age":"2019", "10-39,999 dwt (Handysize)":[{"No":"8","m dwt":"272900" }], "40-59,999 dwt (Handymax)":[{"No":"0","m dwt":"0" }], "60-79,999 dwt (Panamax)":[{"No":"9","m dwt":"562197" }], "80-120,999 dwt (CapeSize)":[{"No":"3","m dwt":"247941" }], "120,000 dwt+ (Capesize)":[{"No":"24","m dwt":"8810189" }], "Total":[{"No":"44","m dwt":"9893227" }] }
,{
"Age":"2020", "10-39,999 dwt (Handysize)":[{"No":"3","m dwt":"111000" }], "40-59,999 dwt (Handymax)":[{"No":"0","m dwt":"0" }], "60-79,999 dwt (Panamax)":[{"No":"3","m dwt":"183000" }], "80-120,999 dwt (CapeSize)":[{"No":"2","m dwt":"165750" }], "120,000 dwt+ (Capesize)":[{"No":"4","m dwt":"1116050" }], "Total":[{"No":"12","m dwt":"1575800" }] }
,{
"Age":"2021", "10-39,999 dwt (Handysize)":[{"No":"","m dwt":"null" }], "40-59,999 dwt (Handymax)":[{"No":"","m dwt":"null" }], "60-79,999 dwt (Panamax)":[{"No":"","m dwt":"null" }], "80-120,999 dwt (CapeSize)":[{"No":"","m dwt":"null" }], "120,000 dwt+ (Capesize)":[{"No":"","m dwt":"null" }], "Total":[{"No":"","m dwt":"null" }] }
,{
"Age":"Total", "10-39,999 dwt (Handysize)":[{"No":"199","m dwt":"7114744" }], "40-59,999 dwt (Handymax)":[{"No":"45","m dwt":"2326909" }], "60-79,999 dwt (Panamax)":[{"No":"216","m dwt":"13713065" }], "80-120,999 dwt (CapeSize)":[{"No":"153","m dwt":"12780716" }], "120,000 dwt+ (Capesize)":[{"No":"137","m dwt":"36645147" }], "Total":[{"No":"750","m dwt":"72580581" }] }

]

}]
      </script>
      <script src="/dist/js/index.js"></script>
      <!-- <script src="/dist/js/owlCarousel.js"></script> -->
     
   </body>
</html>