<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SitecoreTreeWalker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<appSettings>
		<add key="connectionString" value="server=localhost;user id=root; password=admin; database=fdc;port=3306" />
		<add key="ADServer" value="science.regn.net" />
		<add key="TitleStyle" value="1.0 Story Title" />
		<add key="DeckStyle" value="1.2 Deck" />
		<add key="LongSummaryStyle" value="7.0 Long Summary" />
		<add key="ShortSummaryStyle" value="7.1 Short Summary" />
		<add key="SubtitleStyle" value="1.1 Story Sub-Title" />
		<add key="hyperlinkStyle" value="Hyperlink" />
		<add key="CertificationFolder" value="\\localhost\certMonitoredFolder\" />
		<add key="ProductionFolder" value="\\elswshw-172195\monitoredFolder\" />
		<add key="VolumeYear" value="2010" />
		<add key="VoulmeVal" value="72" />
		<add key="LogFileDirectory" value="{path}\ElsevierWordPlugin\elsevier_word_addin_{date}.log" />
		<add key="DomainName" value="http://supportinforma.velir.com/" />
		<add key="TitleMaxCharacters" value="500" />
		<add key="TempFileName" value="{path}\ElsevierWordPlugin\temp.docx" />
		<add key="ForgotPasswordLink" value="http://supportinforma.velir.com/sitecore/login/passwordrecovery.aspx" />
	    <add key="Development" value="http://supportinforma.velir.com/services/scserver.asmx" />
	    <add key="Stage" value="http://supportinforma.velir.com/services/scserver.asmx" />
	    <add key="Production" value="http://supportinforma.velir.com/services/scserver.asmx" />
	    <add key="DevelopmentTree" value="http://supportinforma.velir.com/services/sctree.asmx" />
	    <add key="StageTree" value="http://supportinforma.velir.com/services/sctree.asmx" />
	    <add key="ProductionTree" value="http://supportinforma.velir.com/services/sctree.asmx" />
		<add key="DevelopmentForgotPasswordLink" value="http://supportinforma.velir.com/sitecore/login/passwordrecovery.aspx" />
	 	<add key="StageForgotPasswordLink" value="http://supportinforma.velir.com/sitecore/login/passwordrecovery.aspx" />
    	<add key="ProductionForgotPasswordLink" value="http://supportinforma.velir.com/sitecore/login/passwordrecovery.aspx" />
	</appSettings>
	<applicationSettings>
		<SitecoreTreeWalker.Properties.Settings>
   <setting name="SitecoreTreeWalker_SitecoreServer_SCServer" serializeAs="String">
    <value>http://supportinforma.velir.com/services/scserver.asmx</value>
   </setting>
   <setting name="SitecoreTreeWalker_SitecoreTree_SCTree" serializeAs="String">
    <value>http://supportinforma.velir.com/services/sctree.asmx</value>
   </setting>
  </SitecoreTreeWalker.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>