<form class="form-toggle-saved-search-alert onoffswitch"
	  data-on-submit="/api/SavedSearches"
	  data-submit-type="POST"
	  data-prevent-disabling="true"
	  data-analytics-title="@item.Title">

	<input name="Title" id="Title" type="hidden" value="title">
	<input name="Url" id="Url" type="hidden" value="#">
	<input type="checkbox"
		   class="onoffswitch-checkbox js-saved-search-alert-toggle"
		   id="id"
		   name="name"
		   checked="checked" value="on">
	<label class="onoffswitch-label form-submit" for="id">
		<span class="onoffswitch-inner"></span>
		<span class="onoffswitch-switch"></span>
	</label>
	<button type="submit" class="onoffswitch__submit"></button>
</form>
