<div class="action-flags-bar article-prologue">
	<div class="action-flags article-prologue__share-bar">
		<ul>
			{% if hideEmail == false %}
				<li class="action-flag pop-out__trigger js-pop-out-trigger">
					<span class="action-flag__label">Email</span>
					<svg class="action-flag__icon action-flag__icon--email">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#email"></use>
					</svg>
				</li>
			{% endif %}
			{% if hidePrint == false %}
			<li class="action-flag pop-out__trigger click-utag ">
				<span class="action-flag__label">Print</span>
				<svg class="action-flag__icon">
					<use xlink:href="/web/Website/dist/img/svg-sprite.svg#print"></use>
				</svg>
			</li>
			{% endif %}
			{% if hideBookmark == false %}
			<li class="action-flag pop-out__trigger js-bookmark-article">
				<span class="action-flag__label js-bookmark-label">Bookmarked</span>
				<svg class="action-flag__icon action-flag__icon--bookmark article-bookmark article-bookmark__bookmarked is-visible">
					<use xlink:href="/web/Website/dist/img/svg-sprite.svg#bookmarked"></use>
				</svg>

				<svg class="action-flag__icon action-flag__icon--bookmark article-bookmark">
					<use xlink:href="/web/Website/dist/img/svg-sprite.svg#bookmark"></use>
				</svg>
			</li>
			{% endif %}
			{% if hideShare == false %}
			<li class="action-flag action-flag--social">
				<span class="action-flag__label">Share</span>
				<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3a%2f%2fscrip.dev.ibi.velir.com%2farticles%2f2016%2f04%2f27%2fwhats-on-ceo-andrew-wittys-todo-list-before-exiting-gsk&amp;title=What%e2%80%99s+On+CEO+Andrew+Witty%e2%80%99s+To-Do+List+Before+Exiting+GSK&amp;summary=&amp;source=" target="_blank" class="link__no-hover click-utag">
					<svg class="action-flag__icon action-flag__icon--linkedin">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#linkedin"></use>
					</svg>
				</a>
				<a href="https://twitter.com/intent/tweet?text=What%e2%80%99s+On+CEO+Andrew+Witty%e2%80%99s+To-Do+List+Before+Exiting+GSK&amp;url=http%3a%2f%2fscrip.dev.ibi.velir.com%2farticles%2f2016%2f04%2f27%2fwhats-on-ceo-andrew-wittys-todo-list-before-exiting-gsk" class="link__no-hover click-utag">
					<svg class="action-flag__icon action-flag__icon--twitter">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#twitter"></use>
					</svg>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
	{% if tags == true %}
	<div class="article-tags-bar">
			<span class="article-tags-bar__label">Tags:</span>

			{% include "molecules-bar-separated-list" %}
	</div>
	{% else %}
	<div>

	</div>
	{% endif %}
</div>
