<table class="page-account__table sortable-table js-sortable-table">
	<thead class="sortable-table__header">
		<tr>
			<td class="sortable-table__col js-sortable-table-sorter" data-sortable-table-col="1">
				Publication
				<div class="sorting-arrows">
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-up-arrow"></use>
					</svg>
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-down-arrow"></use>
					</svg>
				</div>
			</td>
			<td class="sortable-table__col js-sortable-table-sorter" data-sortable-table-col="2">
				Subscription Type
				<div class="sorting-arrows">
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-up-arrow"></use>
					</svg>
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-down-arrow"></use>
					</svg>
				</div>
			</td>
			<td class="sortable-table__col js-sortable-table-sorter" data-sortable-table-col="3">
				Expiration Date
				<div class="sorting-arrows">
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-up-arrow"></use>
					</svg>
					<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
						<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-down-arrow"></use>
					</svg>
				</div>
			</td>
			<td class="sortable-table__col">
				Action
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="sortable-table__col">
				Data
			</td>
			<td class="sortable-table__col">
				Data
			</td>
			<td class="sortable-table__col">
				Data
			</td>
			<td class="sortable-table__col">
				Data
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>
