@using Glass.Mapper.Sc.Web.Mvc

<div class="manually-curated-articles">
    <div class="manually-curated-articles__left">
        @Html.Sitecore().Placeholder("left-rail")
    </div>
    <div class="manually-curated-articles__right">
        @Html.Sitecore().Placeholder("right-rail")
    </div>
</div>
