@using Glass.Mapper.Sc.Web.Mvc

<div class="manually-curated-articles">

    <div class="manually-curated-articles__left">
        @Html.Sitecore().Placeholder("left-rail")

        <section class="article-preview">
            <img class="article-preview__image" src="http://placehold.it/787x443">
            <div class="article-preview__metadata">
                <div class="article-preview__bookmarker">
                    Bookmark
                    <svg class="article-prologue__share-icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                    </svg>
                </div>
                <time class="article-preview__date">26 Sep 2015</time>
                <div class="article-preview__category">News</div>
                <div class="article-preview__graphicon">ICON</div>
            </div>
            <h1 class="article-preview__headline">1st U.S. Biosimilar Arrives; Zarcio Launches</h1>
            <span class="article-preview__byline">by Donna Young</span>
            <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
            <div class="article-preview__tags bar-separated-link-list">
                <a href="#">USA</a>
                <a href="#">Sandoz</a>
                <a href="#">Biosimilars</a>
            </div>
        </section>


        <section class="article-preview article-preview--small">
            <div class="article-preview__metadata">
                <div class="article-preview__bookmarker">
                    Bookmark
                    <svg class="article-prologue__share-icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                    </svg>
                </div>
                <time class="article-preview__date">26 Sep 2015</time>
                <div class="article-preview__category">Analysis</div>
            </div>
            <h1 class="article-preview__headline"></h1>
            <span class="article-preview__byline">by Donna Young</span>
            <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
        </section>

        <section class="article-preview article-preview--small">
            <div class="article-preview__metadata">
                <div class="article-preview__bookmarker">
                    Bookmark
                    <svg class="article-prologue__share-icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                    </svg>
                </div>
                <time class="article-preview__date">26 Sep 2015</time>
                <div class="article-preview__category">Analysis</div>
            </div>
            <h1 class="article-preview__headline">Stockwatch: Big Pharma And big Biotech Are The New Black</h1>
            <span class="article-preview__byline">by Donna Young</span>
            <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
            <div class="article-preview__tags bar-separated-link-list">
                <a href="#">USA</a>
                <a href="#">Sandoz</a>
                <a href="#">Biosimilars</a>
            </div>
        </section>
    </div>

    <div class="manually-curated-articles__right">
        @Html.Sitecore().Placeholder("right-rail")

        <section class="article-preview article-preview--small">
            <img class="article-preview__image" src="http://placehold.it/787x443">
            <div class="article-preview__metadata">
                <div class="article-preview__bookmarker">
                    Bookmark
                    <svg class="article-prologue__share-icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                    </svg>
                </div>
                <time class="article-preview__date">26 Sep 2015</time>
                <div class="article-preview__category">Analysis</div>
            </div>
            <h1 class="article-preview__headline">Stockwatch: Big Pharma And big Biotech Are The New Black</h1>
            <span class="article-preview__byline">by Donna Young</span>
            <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
            <div class="article-preview__tags bar-separated-link-list">
                <a href="#">USA</a>
                <a href="#">Sandoz</a>
                <a href="#">Biosimilars</a>
            </div>
        </section>
    </div>

    <div class="manually-curated-articles__ad-unit">
        <section class="article-preview article-preview--small">
            <div class="article-preview__ad">
                Advertisement
                <img src="http://placehold.it/787x443">
            </div>
        </section>
    </div>


</div>
