@model Informa.Web.ViewModels.CompaniesAndDeals.CompanyViewModel

<div class="company">
    <div class="l-left-rail">
        <div class="generic-content" style="position: absolute; left: 100px;"><!-- TODO Remove inline style, for testing only. -->
            <h1>@Model.Company.Title</h1>
            <h2>@Model.RecordNumber</h2>
            <h2>@Model.Content.ContactInfo.Website</h2>
        </div>
    </div>
</div>

