@model Informa.Web.ViewModels.CompaniesAndDeals.CompanyViewModel

<div class="generic-content">
    <h1>@Model.Company.Title</h1>
    <h2>@Model.RecordNumber</h2>
    <h2>@Model.Content.ContactInfo.Website</h2>
</div>
