@model Informa.Web.ViewModels.CompaniesAndDeals.CompanyViewModel

<div class="company">
    <div class="l-left-rail">
        <div class="generic-content">
            <h1>@Model.Company.Title</h1>
            <h2>@Model.RecordNumber</h2>
            <h2>@Model.Content.ContactInfo.Website</h2>
        </div>
    </div>
    <div class="l-right-rail">
        @Html.Partial("/Views/CompaniesAndDeals/CompanyInfo.cshtml", Model)
    </div>
</div>

