@model Informa.Web.ViewModels.CompaniesAndDeals.DealViewModel

<script type="text/javascript"> (function () { document.title = '@(Model.Deal.Title)'; })(); </script>
<div class="generic-content">
    <h1>@Model.Deal.Title</h1>

    <h5>
        TODO
    </h5>
</div>
