@model Informa.Web.ViewModels.CompaniesAndDeals.DealViewModel

@if (!string.IsNullOrEmpty(Model.LogoUrl))
{
    <div class="l-left-rail">
	    <div class="deal-sponsor">
	        @Model.BroughtToYouByText <img src="@(Model.LogoUrl)"/>
	    </div>
	</div>
}
