@model Informa.Web.ViewModels.CompaniesAndDeals.DealViewModel
    
<div class="article-topics">
    <h2 class="article-topics__header">@Model.RelatedCompaniesHeader</h2>
    <ul>
        @foreach (var company in Model.RelatedCompanies)
        {
            <li class="article-topics__li">
                <a class="click-utag"
                   data-info='{
			            "event_name": "deal_information_click_through",
			            "click_through_source": "@Model.Deal.Title",
			            "click_through_destination": "@company.Name"
		            }'
                   href="/companies/_id@(company.Id)">@company.Name</a>
            </li>
        }
    </ul>
</div>