<li class="action-flag pop-out__trigger js-pop-out-trigger"
	data-pop-out-type="email-deal" data-info='{"event_name" : "toolbar_use", "toolbar_tool":"email"}'>
	<span class="action-flag__label">Email</span>
	<svg class="action-flag__icon action-flag__icon--email">
		<use xlink:href="/dist/img/svg-sprite.svg#email"></use>
	</svg>
</li>
 