@inherits CustomGlassView<Informa.Web.ViewModels.ContentListing.ContentListingViewModel>
<div class="image-cutline-block">

	@if (Model.GlassModel.Image != null || IsInEditingMode)
	{
		<div class="image-cutline-block__image">
			@if (Model.DisplayImage)
				{
				@Editable(Model.GlassModel, x => x.Image)
				}
		</div>
	}
	<div class="image-cutline-block__cutline">
		<h3 class="image-cutline-block__cutline-header">@Editable(Model.GlassModel, x => x.Title)</h3>
		<p class="image-cutline-block__cutline-text">
			@Editable(Model.GlassModel, x => x.Text)
		</p>
		<div class="image-cutline-block__cutline-link">
			@Editable(Model.GlassModel, x => x.Link)
		</div>
	</div>
</div>
