@model Informa.Web.ViewModels.ContentListing.ContentListingViewModel
<li class="content-listing-portrait" style="border-top: dashed;">
	@{ Html.RenderPartial("Components/ContentListing/_Listing"); }
</li>