@model Informa.Web.ViewModels.DataTools.TableauDashboardViewModel

@if (Model.RelatedArticles != null && Model.RelatedArticles.Any())
{
    <div class="article-related-content">
        <h1>@Model.RealatedContentLableText</h1>

        @foreach (var article in Model.RelatedArticles)
        {
            Html.RenderPartial("/Views/Shared/Components/DataTools/DataToolListItem.cshtml", article);
        }
    </div>
}