// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
	border-top: 1px solid #ccc;
	background-color: #eee;

	@include breakpoint('small') {
		text-align: center;
	}
}

footer ul,
footer li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__wrapper {
	margin: 0 auto;
	padding: 3rem 0;
	max-width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	@include breakpoint('small') {
		width: 100%;
	}
}

.footer__corporate {

	@include breakpoint('small') {
		float: none;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 1rem;

	@include breakpoint('small') {
		margin: 0 auto;
	}
}

.footer__link-stack {
	float: left;
	width: 25%;
	flex: 0 1 auto;
	font-size: 12px;

	@include breakpoint('medium') {
		width: calc(100% / 3);
	}

	@include breakpoint('small') {
		width: 100%;
	}
}

.footer__link-stack--social {
	@include breakpoint('medium') {
		display: none;
	}
}

.footer__separator {
	display: block;
	width: 100%;
	clear: both;
}