/*---
title: Global Header
section: Global Components
---

```example:html
<header>
    <div class="header__wrapper clearfix">
    
        <div class="menu-toggler menu-toggler--mini js-toggle-menu">
            <button class="menu-toggler__button">
                <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <div class="header__logo">
            <a href="/"><img src="/-/media/scriplogo.jpg"></a>
        </div>

        <div class="header-search__wrapper">
            <input class="inf-standard-form-field header-search__field" type="search" placeholder="Search the site">
            <svg class="header__icons header__icons--search js-header-search-trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#search"></use>
            </svg>
            <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#x"></use>
            </svg>
        </div>

        <div class="header-account-access">
                <div class="header-account-access__my-account pop-out__trigger js-pop-out-trigger" data-pop-out-id="header-register" data-pop-out-type="register">

                    <svg class="header__icons icon-register">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#register"></use>
                    </svg>
					<span class="header-account-access__label">Register</span>
                </div>
                <div class="header-account-access__sign-in-out pop-out__trigger js-pop-out-trigger" data-pop-out-id="header-signin" data-pop-out-align="right" data-pop-out-type="sign-in" data-pop-out-tab-height="87">
                    <svg class="header__icons icon-sign-in">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#sign-in"></use>
                    </svg>
					<span class="header-account-access__label">Sign In</span>
                </div>
        </div>
    </div>
</header>
```
*/

$main-menu-desktop-width: 0px;
$main-menu-tablet-width: 70px;
$main-menu-smartphone-width: 62px;

.header {

	// -------------------------------------------------------------------------
	// Wraps main header content, below Informa banner and ad banner
	// -------------------------------------------------------------------------
	&__wrapper {
		@include textMix('Roboto', 13px, 400);
		border: 1px solid #ccc;
		border-left: 0;
		border-right: 0;
		height: 120px;
		padding: 2rem;
		display: flex;
		justify-content: space-between;

		@include breakpoint('medium') {
			height: 97px;
			padding: 0;
			position: relative;
		}

		@include breakpoint('small') {
			flex-wrap: wrap;
		}
	}

	// -------------------------------------------------------------------------
	// Header logo image
	// -------------------------------------------------------------------------
	&__logo {
		height: 100%;
		flex: 0 0 auto;
		align-self: center;

		img {
			display: block;
			height: 100%;
			margin-right: 2rem;

			@include breakpoint('medium') {
				margin-left: 1rem;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}

			@include breakpoint('small') {
				display: inline;
                margin-left: 1rem;
				padding-top: 1rem;
			}
		}

		@include breakpoint('small') {
			align-self: auto;
			height: calc(100% - 1.25rem);
			flex: 1 0 auto;
			margin-right: 100px; // Prevents overlapping search icon
            z-index: 20; // Position above search form, even when search is hidden
		}
	}

	// -------------------------------------------------------------------------
	// General styling for header icons
	// -------------------------------------------------------------------------
	&__icons {
		@include svg-fill($color-dusty-gray);
		height: 1.375rem;
		width: 1.375rem;
		vertical-align: middle;
	    margin-right: 0.4375rem;

	    &--search,
		&--dismiss-search {
			height: 20px;
			width: 20px;
			margin-left: 0.5rem;
			cursor: pointer;
			z-index: 9999;
		}
		&--dismiss-search { // Hide on larger screens, no need to dismiss
			display: none;
		}

		@include breakpoint('medium') {
			height: 20px;
			width: 20px;

			&--search,
			&--dismiss-search {
				margin: 2rem 0 2rem 0.5rem;
			}
		}

		@include breakpoint('small') {
			height: 1rem;
			width: 1rem;
			margin-right: 2px;
			vertical-align: bottom;

			&--search,
			&--dismiss-search {
				margin: 1.5rem 0 1rem 0.5rem;
			}
		}
	}


	// HEADER SEARCH
	&-search {

		&__wrapper {
			flex: 1 0 auto;
			height: 100%;
			vertical-align: middle;
			padding: 0.5625rem 0;

			@include breakpoint('medium') {
				text-align: right;
				position: relative;

				&.is-active {
                    z-index: 25;

					.header-search__field,
					.header__icons--dismiss-search {
						display: inline-block;
					}
					.header__icons--search {
						display: none;
					}
				}
			}

			@include breakpoint('small') {
				height: auto;
				left: 70px;
				margin-right: 12px;
				margin-top: 0;
				padding: 0;
				position: absolute;
				right: 0;
			}
		}


		&__field {
			@extend .inf-standard-form-field;
			max-width: 310px;
			width: calc(100% - 60px);

			@include breakpoint('medium') {
				border: 0;
				display: none;
				font-size: 18px;
				left: 0;
				line-height: calc(3rem - 1px); // 1px border below
				margin: 0.5625rem 0;
				position: absolute;
				width: 60%;
			}

			@include breakpoint('small') {
				margin: 0;
			}
		}
	}
}
