main {
	display: flex;
	margin-left: -330px;
	width: calc(100% + 330px);

	@include breakpoint('small') {
		width: 100%;
	}

	&.main--solo {
		margin-left: 0;
	}
}

.main__wrapper {
	float: left;
	height: 100%;
	width: calc(100% - 330px);
	padding-left: 70px;

	@include breakpoint('medium') {
		padding: 0;
		flex: 0 0 auto;
		margin-left: 330px; // RH added on 2/26 to fix IIPP-572
	}

	&.shift-main-content{
		margin-left: 300px;
	}

	@include breakpoint('small') {
		width: 100%;
		margin-left: 330px;
	}

	&--solo {
		width: 100%;
		margin-left: 0;
	}
}
.shift-content{
	margin-left: 330px;
	overflow-x: scroll;
	width: 100%;
}
.shift-main-content{
	margin-left: -330px;
}
.main__content {
	max-width: 1240px;
	margin: 0px auto;
	padding: 0 20px;

	&:after {
		clear: both;
		content: "";
		display: block;
		height: 0;
	}

	@include breakpoint('medium') {
		width: 100%;
		padding: 1rem;
		margin: 0;
	}

}
