main {
	display: flex;
	margin-left: -$main-menu-width;
}

.main__wrapper {
	float: left;
	height: 100%;
	width: calc(100% - #{$main-menu-width});
}

.main__content {
	max-width: 1200px;
	margin: 0px auto;

	@include breakpoint('medium') {
		width: 100%;
		padding: 1rem;
		margin: 0;
	}

}