@model Informa.Web.ViewModels.SiteDebugging.IUserIpAddressViewModel
<div class="debugUserIpAddress">
	<form action="" method="post">
		<label for="debugIpAddress">@Model.IpAddressLabelText</label><input type="text" name="debugIpAddress" />
		<button type="submit">@Model.IpAddressSubmitText</button>
	</form>
</div>