<section class="article-preview">
    <img class="article-preview__image" src="http://placehold.it/787x443">
    <div class="article-preview__metadata">
        <div class="article-preview__bookmarker">Bookmark &star;</div>
        <time class="article-preview__date">26 Sep 2015</time>
        <div class="article-preview__category">News</div>
        <div class="article-preview__graphicon">ICON</div>
    </div>
    <h1 class="article-preview__headline">1st U.S. Biosimilar Arrives; Zarcio Launches</h1>
    <span class="article-preview__byline">by Donna Young</span>
    <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
    <div class="article-preview__tags">
        <span class="article-preview__tag">USA</span>
        <span class="article-preview__tag">Sandoz</span>
        <span class="article-preview__tag">Biosimilars</span>
    </div>
</section>

<section class="article-preview article-preview--small">
    <img class="article-preview__image" src="http://placehold.it/787x443">
    <div class="article-preview__metadata">
        <div class="article-preview__bookmarker">Bookmark &star;</div>
        <time class="article-preview__date">26 Sep 2015</time>
        <div class="article-preview__category">Analysis</div>
    </div>
    <h1 class="article-preview__headline">Stockwatch: Big Pharma And big Biotech Are The New Black</h1>
    <span class="article-preview__byline">by Donna Young</span>
    <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
</section>

<section class="article-preview article-preview--small article-preview--bordered">
    <img class="article-preview__image" src="http://placehold.it/787x443">
    <div class="article-preview__metadata">
        <div class="article-preview__bookmarker">Bookmark &star;</div>
        <time class="article-preview__date">26 Sep 2015</time>
        <div class="article-preview__category">Analysis</div>
    </div>
    <h1 class="article-preview__headline">Stockwatch: Big Pharma And big Biotech Are The New Black</h1>
    <span class="article-preview__byline">by Donna Young</span>
    <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
</section>


<section class="article-preview article-preview--small article-preview--boxed">
    <div class="article-preview__metadata">
        <div class="article-preview__bookmarker">&star;</div>
        <time class="article-preview__date">26 Sep 2015</time>
        <div class="article-preview__category">Analysis</div>
    </div>
    <h1 class="article-preview__headline">Stockwatch: Big Pharma And big Biotech Are The New Black</h1>
    <span class="article-preview__byline">by Donna Young</span>
    <p>Amgen fails to keep Novartis unit Sandoz from launching its biosimilar Zarxio. Novartis talks to SCRIP about pricing.</p>
</section>
