<footer>
  <div class="footer__wrapper clearfix">
    
    <ul class="footer__section footer__section--corporate">
      <li>
        <img class="footer__logo" src="http://placehold.it/200x60"> &copy; 2015 Informa
      </li>
    </ul>

    <ul class="footer__section footer__section--general">
      <li><a href="#">1 Footer Link Placeholder</a></li>
      <li><a href="#">2 Footer Link Placeholder</a></li>
      <li><a href="#">3 Footer Link Placeholder</a></li>
      <li><a href="#">4 Footer Link Placeholder</a></li>
      <li><a href="#">5 Footer Link Placeholder</a></li>
    </ul>

    <ul class="footer__section footer__section--social">
      <li class="footer__link-stack--header">FOLLOW SCRIP</li>
      <li><a href="#">Footer Link Placeholder</a></li>
      <li><a href="#">Footer Link Placeholder</a></li>
    </ul>

    <hr class="footer__separator">

    <ul class="footer__section footer__section--insight-products">
      <li class="footer__section--header">Insight Products</li>
      <li><a href="#">Footer Link Placeholder</a></li>
      <li><a href="#">Footer Link Placeholder</a></li>
      <li><a href="#">Footer Link Placeholder</a></li>
    </ul>

    <ul class="footer__section footer__section--other-products">
      <li class="footer__section--header">Other Pharma &amp; Healthcare Products</li>
      <li>
        <ul>
          <li><a href="#">1 Footer Link Placeholder</a></li>
          <li><a href="#">2 Footer Link Placeholder</a></li>
          <li><a href="#">3 Footer Link Placeholder</a></li>
          <li><a href="#">4 Footer Link Placeholder</a></li>
          <li><a href="#">5 Footer Link Placeholder</a></li>
          <li><a href="#">6 Footer Link Placeholder</a></li>
          <li><a href="#">7 Footer Link Placeholder</a></li>
          <li><a href="#">8 Footer Link Placeholder</a></li>
          <li><a href="#">9 Footer Link Placeholder</a></li>
          <li><a href="#">10 Footer Link Placeholder</a></li>
          <li><a href="#">11 Footer Link Placeholder</a></li>
          <li><a href="#">12 Footer Link Placeholder</a></li>
        </ul>
      </li>
    </ul>

  </div>
</footer>