<footer>
  <div class="footer__wrapper clearfix">
    
    <ul class="footer__section footer__section--corporate">
      <li>
        <img class="footer__logo" src="/dist/img/informa-logo.png"> &copy; 2015 Informa plc. All rights reserved.
      </li>
    </ul>

    <ul class="footer__section footer__section--general">
      <li><a href="#">1 Footer Link Placeholder</a></li>
      <li><a href="#">2 Footer Link Placeholder</a></li>
      <li><a href="#">3 Footer Link Placeholder</a></li>
      <li><a href="#">4 Footer Link Placeholder</a></li>
      <li><a href="#">5 Footer Link Placeholder</a></li>
    </ul>

    <ul class="footer__section footer__section--social">
      <li class="footer__section--header">FOLLOW SCRIP</li>
      <li>
        <svg class="footer__share-icons"><use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use></svg>
        <svg class="footer__share-icons"><use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use></svg>
        <svg class="footer__share-icons"><use xlink:href="/dist/img/svg-sprite.svg#facebook-footer"></use></svg>
      </li>
    </ul>

    <hr class="footer__separator">

    <ul class="footer__section footer__section--insight-products">
      <li class="footer__section--header">Insight Products</li>
      <li><a href="#">Footer Link Placeholder</a></li>
      <li><a href="#">Footer Link Placeholder</a></li>
      <li><a href="#">Footer Link Placeholder</a></li>
    </ul>

    <ul class="footer__section footer__section--other-products">
      <li class="footer__section--header">Other Pharma &amp; Healthcare Products</li>
      <li>
        <ul>
          <li><a href="#">1 Footer Link Placeholder</a></li>
          <li><a href="#">2 Footer Link Placeholder</a></li>
          <li><a href="#">3 Footer Link Placeholder</a></li>
          <li><a href="#">4 Footer Link Placeholder</a></li>
          <li><a href="#">5 Footer Link Placeholder</a></li>
          <li><a href="#">6 Footer Link Placeholder</a></li>
          <li><a href="#">7 Footer Link Placeholder</a></li>
          <li><a href="#">8 Footer Link Placeholder</a></li>
          <li><a href="#">9 Footer Link Placeholder</a></li>
          <li><a href="#">10 Footer Link Placeholder</a></li>
          <li><a href="#">11 Footer Link Placeholder</a></li>
          <li><a href="#">12 Footer Link Placeholder</a></li>
        </ul>
      </li>
    </ul>

  </div>
</footer>