@using Informa.Web.Areas.Account.Controllers
@using Informa.Web.Areas.Account.Models
<header>           
    <div class="header__informa-permabanner">
        informa
    </div>

    <div class="advertising--leaderboard">
        <img src="http://placehold.it/728x90">
    </div>

    <div class="header__wrapper clearfix">
    
        <div class="main-menu__toggler main-menu__toggler--mini">
            <button class="c-hamburger">
            <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <img class="header__logo" src="/dist/img/scrip-logo.jpg">
        
        <div class="header__search-wrapper">
            <input class="text-field header__search-field" type="search" placeholder="Search the site">
            <svg class="header__icons header__icons--search"><use xlink:href="/dist/img/svg-sprite.svg#search"></use></svg>
        </div>



        <div class="header__user">
                
            @Html.Partial("_LoginPartial", new LoginViewModel())

        </div>

    </div>

</header>