@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{            
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <header class="header--desktop">
            <div class="header--desktop__wrapper">
                <a href="/home" class="logo" style="background-image: url(/assets/images/logo.png)">
                    Desktop Header
                </a>             
                <ul class="header--desktop__header-links">
                    <li class="account-link">
                        <!-- BE Dev Note: We cannot guarantee usage of this account-link class -->
                        <i class="icon icon--tasks header-links__icon"></i>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </div>
        </header>
    }
}
else
{
    <ul class="header--desktop__header-links">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<header class="header--mobile">
    <a href="/" class="logo--mobile" style="background-image: url(/assets/images/small-logo444x24.png)">Mobile Header</a>
</header>