<header>

    <div class="header__informa-permabanner">
        informa
    </div>

    <div class="advertising--leaderboard"><img src="http://placehold.it/728x90"></div>

    <div class="header__wrapper clearfix">
    
        <div class="main-menu__toggler main-menu__toggler--mini">
            <button class="c-hamburger">
            <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <img class="header__logo" src="/dist/img/scrip-logo.jpg">
        
        <div class="header__search-wrapper">
            <input class="header__search-field" type="text" placeholder="Search the site">
            <svg class="header__icons icon-search"><use xlink:href="/dist/img/svg-sprite.svg#search"></use></svg>
        </div>

        <div class="header__user">
            <div class="header__friendly-welcome">Hi, Name</div>
            <div class="header__my-account"><svg class="header__icons icon-my-account"><use xlink:href="/dist/img/svg-sprite.svg#my-account"></use></svg><a href="#">My Account</a></div>
            <div class="header__sign-out"><svg class="header__icons icon-sign-out"><use xlink:href="/dist/img/svg-sprite.svg#sign-out"></use></svg><a href="#">Sign Out</a></div>
        </div>

    </div>

</header>