<header>

    <div class="header__informa-permabanner">
        informa
    </div>

    <div class="ad__full"><img src="http://placehold.it/728x90"></div>

    <div class="header__wrapper clearfix">

        <div class="main-menu__toggler">
            <button class="c-hamburger">
            <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <img class="header__logo" src="http://placehold.it/240x80">
        
        <div class="header__search-wrapper">
            <input class="header__search-field" type="text" placeholder="Search the site"> 🔍
        </div>

        <div class="header__user">
            <div class="header__friendly-welcome">Hi, Name</div>
            <div class="header__my-account">My Account</div>
            <div class="header__sign-out">Sign Out</div>
        </div>

    </div>

</header>