@using Microsoft.AspNet.Identity
@model Informa.Web.Areas.Account.Models.LoginViewModel   




            <!-- END IF SIGNED OUT !-->

    @*<ul class="nav navbar-nav navbar-right">
        
        <li></li>
    </ul>*@