@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.ViewModels.MainLayoutViewModel>
    


    <div class="main__content">

        <div class="banner banner--highlights">
            <b>Highlights:</b> ASCO is onlu 2 weeks away! <a href="#">See our round up of ASCO 2015 &gt;</a>
        </div>


        @Html.Sitecore().Placeholder("main-content")

        @*@Html.Partial("../_Shared/DummyData/AuthoredContent")*@
        <!--
        Here is where the main content of the page goes. Everything else is WIP, but I'm confident enough that this page structure will hold no matter what. Anything inside here should show up properly, no matter what changes outside of this element.

        HAVE FUN ᕕ( ᐛ )ᕗ GO CRAZY

        !-->

    </div>
