@using Glass.Mapper.Sc.Web.Mvc
@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.ViewModels.IMaintenanceViewModel>

<div class="banner banner--maintenance" data-banner-id="maint1234">
    <div class="banner__wrapper">
        <!-- From: @Model.DisplayFrom -->
        <!-- To: @Model.DisplayTo -->
        <div class="dismiss-button js-dismiss-banner">
            <label>@Model.DismissText</label>
            <svg class="dismiss-button__icon">
                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
            </svg>
        </div>
        <svg class="banner__lead-icon">
            <use xlink:href="/dist/img/svg-sprite.svg#tool-maintenance"></use>
        </svg>
        @Model.Message
    </div>
</div>                              

@*<div class="banner banner--maintenance" data-banner-id="maint1234">
    <div class="banner__wrapper">
        <div class="dismiss-button js-dismiss-banner">
            <label>Dismiss</label>
            <svg class="dismiss-button__icon">
                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
            </svg>
        </div>
        <svg class="banner__lead-icon">
            <use xlink:href="/dist/img/svg-sprite.svg#tool-maintenance"></use>
        </svg>
        Our site will be undergoing system maintenance on Saturday 1—3 am EST, we apologize for any inconvenience.
    </div>
</div>*@
