<div class="main-menu">

	<div class="menu-toggler js-toggle-menu">
	    <button class="menu-toggler__button">
	    <span>Toggle Menu</span>
	    </button>
	    Menu
	</div>

	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section">
			<svg class="main-menu__arrow-icon">
				<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
			</svg>
			Home
		</li>
	</ul>

	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section">
			<svg class="main-menu__arrow-icon">
				<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
			</svg>
			Business
		</li>
		<li class="main-menu__section-wrapper">
			<ul>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Companies</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Deals</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Strategy</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Markets</a>
				</li>
			</ul>
		</li>
	</ul>

	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section">
			Policy &amp; Regulation
		</li>
		<li class="main-menu__section-wrapper">
			<ul>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Companies</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Deals</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Strategy</a>
				</li>
				<li class="main-menu__hoverable">
					<a href="#" class="main-menu__section-link">Markets</a>
				</li>
			</ul>
		</li>
	</ul>

	<dl class="main-menu__footer">
		<dd class="main-menu__footer-link">
			<a href="#">Meet the Team</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">SCRIP Awards</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">Ask the Analyst</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">Advertise</a>
		</dd>
	</dl>
</div>
