<div class="main-menu">

    <div class="main-menu__toggler">
        <button class="c-hamburger">
        <span>Toggle Menu</span>
        </button>
        Menu
    </div>

    Item<br>
    Item<br>
    Item
    
</div>