<div class="main-menu">

	<div class="menu-toggler js-toggle-menu">
	    <button class="menu-toggler__button">
	    <span>Toggle Menu</span>
	    </button>
	    Menu
	</div>

	<dl class="main-menu__section">
		<dt class="main-menu__section-title main-menu__hoverable">
			Home
		</dt>
	</dl>

	<dl class="main-menu__section">
		<dt class="main-menu__section-title main-menu__hoverable">
			Business
		</dt>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Companies</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Deals</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Strategy</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Markets</a>
			</dd>
	</dl>

	<dl class="main-menu__section">
		<dt class="main-menu__section-title main-menu__hoverable">
			Policy &amp; Regulation
		</dt>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Companies</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Deals</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Strategy</a>
			</dd>
			<dd class="main-menu__section-link main-menu__hoverable">
				<a href="#">Markets</a>
			</dd>
	</dl>

	<dl class="main-menu__footer">
		<dd class="main-menu__footer-link">
			<a href="#">Meet the Team</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">SCRIP Awards</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">Ask the Analyst</a>
		</dd>
		<dd class="main-menu__footer-link">
			<a href="#">Advertise</a>
		</dd>
	</dl>
</div>