<div class="pop-out__form-error">
    Your login and/or password information does not match our records. Please try again.
</div>
<input class="inf-standard-form-field header__hover-input"
       placeholder="Email Address (User Name)"
       type="text">
<input class="inf-standard-form-field header__hover-input"
       placeholder="Password"
       type="password">

<div class="pop-out__form-actions-wrapper">
    <div>
        <a class="pop-out__form-actions" href="#">Forgot your password?</a>
        <a class="pop-out__form-actions" href="#">Register now</a>
        <div class="pop-out__form-actions--remember-me"><input type="checkbox"> Remember me</div>
    </div>
    <div class="sign-in__submit-wrapper">
        <button class="button--filled sign-in__submit">Sign In</button>
    </div>
</div>

<div class="pop-out__forgot-password">
    <h5>Forgot your password?</h5>
    <p class="pop-out__details">
        Enter the email address associated with your account and a temporary password will be sent to you.
    </p>
    <input  class="inf-standard-form-field"
            type="text"
            placeholder="Email Address">
    <div class="pop-out__form-actions-wrapper">
        <div></div>
        <div class="sign-in__submit-wrapper">
            <button class="button--filled sign-in__submit">Submit</button>
        </div>
    </div>
    <p class="pop-out__details pop-out__details--inset u-italic u-centered">
        Need help? Contact us at <b>(800) 332-2181</b>, <b>+1 (908) 748-1221</b>, or <a href="#">custcare@informa.com</a>
    </p>

</div>
