@model Informa.Web.ViewModels.HierarchyLinks
<ul>
    <li class="article-topics__li article-topics__li--grandchild"><a href="@Model.Url" class="click-utag" data-inf='{"event_name"="related-taxonomy-child","child-taxonomy"="@Model.Text"}'>@Model.Text</a></li>
    @foreach (var tag in Model.Children)
    {
        <ul>
            @{ Html.RenderPartial("ChildTaxonomy", tag); }
        </ul>
                }
</ul>