@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.ViewModels.HighlightViewModel>
<div class="banner banner--highlights">
	@Editable(Model.GlassModel, gm => gm.Highlight)
</div>
