@inherits CustomGlassView<Informa.Models.Informa.Models.sitecore.templates.User_Defined.Objects.Highlights.IHighlights>
<div class="banner banner--highlights">
	@if (Model != null)
	{
		@Editable(Model, gm => gm.Highlight)
	}
</div>
