body {
	font: 0.75em/1.5em arial,helvetica,sans-serif;
    margin: 0;
    padding: 0;
}


.wrapper {
	background: #fff;
	padding:20px;
	margin:0 auto;
}

a {
    color: #487394;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

#tblResults > tbody > tr > td img {
	border:none;
	text-decoration:none;
	margin-right:5px;
}

p {
	line-height: 1.85em;
	margin:0;
}


h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font: bold 108%/1.2 arial,helvetica,sans-serif;
    margin: 0 0 0.9em;
    padding: 0;
}

h1 {
	color: #FFFFFF;
    margin: 15px auto 30px;
    text-align: center;
}

h3 {
    font-size: 125%;
}

table.box
{
    padding: 15px;
	height: 200px;
	margin:5px auto;
	background-color: #F8F8F8;
    border: 1px solid #E4E4E4;
}

table.box td {
	text-align:left;
	padding:0 4px 6px 0;
}

.enableissue input, .enabledate input {
	margin:0 8px 0 0;
}


div.top
{
	width: 500px;
}

div.top p strong, strong.uncentered {
	font-size: 120%;
	color: #333333;
}

div.top {
	float: left;
}

img.banner {
	float: left;
	padding-right: 10px;
	padding-bottom: 30px;
}

table.box td.centertext
{
	text-align: center;
	padding-top:10px;
}

table.box td table {
	margin:0;
}

.left
{
	float:left;
}

.right
{
	float: right;
}

.space
{
	margin-left: 10px;
}

.report table tr.tableheader td .space {
	background: url("/VWB/images/vwb/close.png") no-repeat scroll 0 0;
	display:block;
	width:12px;
	height:12px;
	margin:4px 0 0 10px;
}

.report table tr.tableheader td a.space  {
	display:block;
	width:12px;
	height:12px;
}


#tblResults > tbody > tr.tableheader > td {
	border-bottom:1px solid #fff7e8;
	padding:10px 8px 6px;
}


#tblResults > tbody > tr.sort-move > td  {
	border-bottom:2px solid #FFD6AD;
	border-top: 0px;
	background:#fff7e8;
	padding: 0 8px 10px;
}

.report table tr.sort-move td .space {
	background: url("/VWB/images/vwb/sortascending.png") no-repeat scroll 0 0;
	display:block;
	width:10px;
	height:10px;
	margin:5px 0 0 10px;
}

.report table tr.sort-move td a.space  {
	display:block;
	width:10px;
	height:10px;
}

.report table tr.sort-move td .descending {
	background: url("/VWB/images/vwb/sortdescending.png") no-repeat scroll 0 0;
}

.report table tr.sort-move td .descending-active {
	background: url("/VWB/images/vwb/sortdescending.png") no-repeat scroll -10px 0;
}

.report table tr.sort-move td .ascending {
	background: url("/VWB/images/vwb/sortascending.png") no-repeat scroll 0 0;
}

.report table tr.sort-move td .ascending-active {
	background: url("/VWB/images/vwb/sortascending.png") no-repeat scroll -10px 0;
}

table#tblResults > tbody > tr.double {
	border-top-style: double;
	border-top-color: #FFD6AD
}

.report table tr.sort-move td .moveleft {
	background: url("/VWB/images/vwb/moveleft.png") no-repeat scroll 0 0;
	display:block;
	width:16px;
	height:16px;
	margin:2px 10px 0 0;
	float:left
}

.report table tr.sort-move td a.moveleft  {
	display:block;
	width:16px;
	height:16px;
	cursor: pointer;
}

.report table tr.sort-move td .moveright {
	background: url("/VWB/images/vwb/moveright.png") no-repeat scroll 0 0;
	display:block;
	width:16px;
	height:16px;
	margin:2px 10px 0 0;
	float:left
}

.report table tr.sort-move td a.moveright  {
	display:block;
	width:16px;
	height:16px;
	cursor: pointer;
}

.uncentered
{
	text-align: left;
	display: block;
}

.first
{
    text-align: left;
}

select.left
{
	margin-left:30px;
}

.block
{
	display:block;
	background-color: #F8F8F8;
    border: 1px solid #E4E4E4;
	margin-bottom: 5px;
    padding: 3px;
}

textarea, input {
	font-family: arial,helvetica,sans-serif;
}

.block:active {
	color: red;
}

div.appbuttons
{
    clear: both;
    padding-top: 5px;
}

#btnRunReport,
#btnReset,
#btnLogout,
#tblResults > tbody > tr > td input,
.orange-button,
.ui-widget button
{
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	line-height: 1rem;
	margin: auto;
	max-width: 100%;
    -moz-text-shadow: 0 -0.1em 0.2em #D06D1A, 0 0.1em 0.2em #FFFFFF;
    background-color: #D06D1A;
    background: -moz-linear-gradient(0% 10% 270deg, #F4BC50, #DF7B29) repeat scroll 0 0 #DF7B29;
	background: -webkit-linear-gradient(270deg, #F4BC50, #DF7B29) repeat scroll 0 0 #DF7B29;
    border: 0;
    color: #FFFFFF;
    display: inline-block;
    font: 500 0.75rem/0.9375rem Helvetica Neue, Helvetica, arial, sans-serif;
    letter-spacing: 0.03em;
    padding: 3px 7px !important;
    text-decoration: none;
    text-transform: uppercase;
	white-space: normal;
}

.orange-button:disabled {
	background: #ccc;
}

.hidden-button {
	display: none;
}

#tblResults > tbody > tr > td input
{
	float:right;
}

.report {
	margin:0 auto;
    clear: both;
}

#tblResults {
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
    float: left;
	max-width: calc(100% - 200px);
}

#tblResults > tbody > tr > td
{
	padding: 10px 8px;
	border-left:1px solid #ffd6ad;
	border-right:1px solid #ffd6ad;
	border-bottom:2px solid #ffd6ad;
	border-top:1px solid #ffd6ad;
	text-align:left;
}

.report table tr.tableheader td {
	padding:15px 9px 5px;
	background:url("/VWB/images/vwb/back_right_tabbox.gif") repeat-x;
	padding:10px;
	font: 125%/1.2 Helvetica Neue,Helvetica,"HelveticaNeueW01-57Cn",arial,sans-serif;
    margin-bottom: 0.7em;
	color: #C76700;
	font-weight:bold;
}

.moveto
{
	width: 100px;
}

tr.doubletop > td
{
	border-top: thick double;
}

.time {
    width: 75px;
}

.date {
    width: 80px;
}

#ddIssue {
    width: 206px;
}

#issueWrapper {
    clear: both;
    width: 500px;
}

.radioButtonWrapper {
    padding-top: 4px;
    width: 100px;
}

.inputWrapper {
    padding-top: 2px;
    padding-left: 5px;
    width: 215px;
}

#dateRangeWrapper {
    clear: both;
}

.dateRangeLabel {
    width: 40px;
    padding-top: 2px;
}


.vwb-report-options {
	position: fixed;
	right: 1rem;
	width: calc(200px - 1rem);
}
.vwb-report-options hr {
	border: 0;
	height: 1px;
	width: 100%;
	background-color: #ebebeb;
	margin: 1rem 0;
}

.ui-widget {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.new-issue-modal label {
	display: block;
}
.new-issue-modal input {
	margin-bottom: 1rem;
	display: block;
	width: 100%;
}
.new-issue-modal button {
	float: right;
	clear: both;
	margin-bottom: 0.5rem;
}



/* *********** Add Issue form *********** */
.archive-dialog__spinner {
	height: 20px;
	width: auto;
}

body.bigger {
	font-size: 16px;
	line-height: 20px;
}

body.bigger input {
	font-size: 16px;
}

.centered {
	text-align: center;
}

.delete-article {
	width: 130px;
}

.delete-button {
	display: block;
	font-size: 0;
	height: 0px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 0px;
}

/* Necessary to show togglable x & + symbols for deletion column */
.delete-button:after {
	color: red;
	content: "+";
	cursor: pointer;
	display: block;
	font-size: 60px;
	position: absolute;
		top: -6px; /* These numbers are fairly arbitrary */
		left: -20px; /* These numbers are fairly arbitrary */
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	transition: color 0.2s, transform 0.2s;
}

/* Necessary to show togglable x & + symbols for deletion column */
.to-delete .delete-button:after {
	color: green;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
		    transform: rotate(0deg);
}

.draggable,
.draggable-header {
	background-color: white;
	cursor: move;
	display: table-row;
}

.draggable a:hover,
.draggable a {
	text-decoration: none;
}

.draggable div {
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
	display: table-cell;
	padding: 10px;
	margin: 0;
	min-width: 500px;
	width: 500px;
}


.draggable div:first-child {
	/* Creative Commons icon by Valera Zvonko: https://www.iconfinder.com/happyiconstudio */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB1UlEQVR4Xu2YURLDIAhE7f0P3U6myYxNoyxEllrpt5bdJyLkURb/PRb3XxJAZsDiBKKvwHPnH6YjLHAp5TB/5GCIlpCgF+bDIEQAOJ/8uQpRNVGDdU4+DAITgHTyIRBYALTmaTWBAcBqngLBG8Bd8+4QvAFIfebSjdAGJwGs3ApnBuQVyBqQRTBfgVlfge3kRjRRIzPApMliYrToLQksOs5dpkmXNnDd22v3XrXFJtGN/tqkTWPC4xueFwA4q1AAV1Mdurc3EHkCgCAgJlojLbKXOQ2adEomevO8tFcyP3oWMGntmZA+ZswEoHkdWiYk88jp/uKaL78JoHNMUhb89RU4uJgKiyL3vZ9B8aMqcoqm5wWEwADQ9YgAqJ+r2he6d/pGqHUdfh0ApA9aVB2haeAACq1WR2+wglpgsTiQRY8EoPov1eJTJlj31mxHF0G1JvUGsLqjy0YCQGN+rEsAJmzjNmUG7CzDMjEs8G48MyAz4E0gLBPDAucVeBP4+xogfVRBH1S3THX748YAhRoePXY34zIA1KmuBeCuzz3AjUygaKMEMUCg6aIFUkCgaqIGAyDQ9dADdiCEaAkJegEhTEdYYO176LU+AXiRneV/MwNmOSkvnS9+GlZBPfGNewAAAABJRU5ErkJggg==);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 40px;
	width: 40px;
}

.draggable-header.draggable div:first-child {
	background-image: none;
}

.draggable div:nth-child(2) {
	min-width: 200px;
	width: 200px;
}

.draggable div:last-child {
	min-width: 170px;
	width: 170px;
}

.draggable.to-delete div:not(.delete-article) {
	color: grey;
	text-decoration: line-through;
}

.draggable.to-delete a {
	text-decoration: none !important;
}


.draggable-header {
	cursor:auto;
}

.draggable-wrapper {
	border-collapse: collapse;
	display: table;
	font-size: 16px;
	line-height: 20px;
	margin: 20px 0;
}

.issue-notes {
	margin: 20px 0;
}

.issue-notes textarea {
	max-width: 800px;
	width: 100%;
}

.pad-it {
	padding: 20px;
}

table.basic {
	border-collapse: collapse;
	margin: 20px 0;
}

table.basic td {
	border: 1px solid black;
	padding: 10px;
}

table.basic input {
	min-width: 200px;
}
