@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.sitecore.shell.client.Applications.View_NLM.model.ViewNlmViewModel>

<div class="nlm">

    <textarea readonly="readonly">@Model.ArticleNlm</textarea>

</div>