{% if newsTitleText == false %}
	{% set newsTitleText = random(randomTitles).text %}
{% endif %}
{% if newsDescText == false %}
	{% set newsDescText = random(randomParas).text %}
{% endif %}
{% if newsAuthorText == false %}
	{% set newsAuthorText = random(randomNames).text %}
{% endif %}
{% if newsTypeText == false %}
	{% set newsTypeText = random(['News', 'Opinion', 'Type']) %}
{% endif %}
<section class="article-preview article-preview--bordered">

	<div class="article-metadata">
		<div class="article-preview__bookmarker pop-out__trigger">
			<span class="action-flag__label">Bookmark</span>
			<svg class="action-flag__icon action-flag__icon--bookmark">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/web/Website/dist/img/svg-sprite.svg#bookmark"></use>
			</svg>
		</div>
		<ul>
			<li>
				<time class="article-metadata__date">15 Sep 2015</time>
			</li>
			<li>
				<h6>{{newsTypeText}}</h6>
			</li>
			<!--<li>
				<svg class="action-flag__icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#audio"></use>
				</svg>
			</li>-->
		</ul>
	</div>

	<div class="article-preview__inner-wrapper">
		<h1 class="article-preview__headline">
			<a href="#">{{newsTitleText}}</a>
		</h1>

		<span class="article-preview__byline">
			by {{newsAuthorText}}
		</span>

		<div class="article-summary">
			<p>{{newsDescText}}</p>
		</div>
	</div>

	{% if hideTags == false %}
		{% include "molecules-bar-separated-list" with {"classes": "article-preview__tags", "maxTags": 3} %}
	{% endif %}
</section>
