<div class="article-author article-author--solo">
    <ul class="article-author__list">
        <li>
            <div class="article-author__solo-wrapper">
                <span class="article-author__name">Jane Smith</span>
                <span class="article-author__contact">
                    <a href="#" target="_blank">&#64;janesmithtweets</a>
                    <a href="#">jane@janesmith.com</a>
                </span>
            </div>
        </li>
    </ul>
</div>
