{% if listArticleTitle == false %}
	{% set listArticleTitle = random(randomTitles).text %}
{% endif %}
{% if listArticleDesc == false %}
	{% set listArticleDesc = random(randomParas).text %}
{% endif %}
{% if listArticleType == false %}
	{% set listArticleType = random(randomArticleTypes).text %}
{% endif %}
{% if listArticleAuthor == false %}
	{% set listArticleAuthor = random(randomNames).text %}
{% endif %}

<section class="article-preview article-preview--bordered">
	<div class="article-metadata">
		<div class="article-preview__bookmarker pop-out__trigger">
			<span class="action-flag__label">Bookmark</span>
			<svg class="action-flag__icon action-flag__icon--bookmark">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/web/Website/dist/img/svg-sprite.svg#bookmark"></use>
			</svg>
		</div>
		<ul>
			<li>
				<time class="article-metadata__date">15 Sep 2015</time>
			</li>
			<li>
				<h6>{{listArticleType}}</h6>
			</li>
			<li>
				<svg class="action-flag__icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#audio"></use>
				</svg>
			</li>
		</ul>
	</div>
	<div class="article-preview__inner-wrapper">
		<h1 class="article-preview__headline"><a href="#">{{listArticleTitle}}</a></h1>
		<span class="article-preview__byline">by {{listArticleAuthor}}</span>
		<div class="article-summary"><p>{{listArticleDesc}}</p></div>
	</div>

	{% include "molecules-bar-separated-list" with {"classes": "article-preview__tags"} %}
</section>
