<section class="article-preview article-preview--small">

    <div class="article-metadata">
        <div class="article-preview__bookmarker pop-out__trigger">
            <span class="action-flag__label">Bookmark</span>
            <svg class="action-flag__icon action-flag__icon--bookmark">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/web/Website/dist/img/svg-sprite.svg#bookmark"></use>
            </svg>
        </div>
        <ul>
            <li>
                <time class="article-metadata__date">15 Sep 2015</time>
            </li>
            <li>
                <h6>News</h6>
            </li>
            <li>
                <svg class="action-flag__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#audio"></use>
                </svg>
            </li>
        </ul>
    </div>

    <div class="article-preview__inner-wrapper">
        <h1 class="article-preview__headline">
            <a href="#">ICAAC 2015: Merck's Bezlotoxumab A 'Big Step' In C Diff</a>
        </h1>

        <span class="article-preview__byline">
            by Mandy Jackson
        </span>

        <div class="article-summary">
            <p>Merck &amp; Co.'s bezlotoxumab for the treatment of recurrent <i>clostridium difficile</i> (C diff) infections is "a big step" for treatment of the debilitating and potentially deadly gut infection, according to Dale Gerding, a professor at Loyola University Chicago Stritch School of Medicine and a lead investigator for the monoclonal antibody's Phase III clinical trials.</p>
        </div>
    </div>

	{% include "molecules-bar-separated-list" with {"classes": "article-preview__tags"} %}
</section>
