/*---
title: Article Topics
section: Article Components
---

```example:html
<div class="article-topics">
    <h2 class="article-topics__header">Topics</h2>
    <ul>
        <li class="article-topics__section-header">Therapy Areas</li>
        <li class="article-topics__li">
            <a href="#">Infectious Diseases</a>
            <ul>
                <li><a href="#">Grandchild Topic</a></li>
                <li>
                    <a href="#">Grandchild Topic</a>
                    <ul>
                        <li><a href="#">Great Grandchild Topic</a></li>
                        <li><a href="#">Great Grandchild Topic</a></li>
                        <li><a href="#">Great Grandchild Topic</a></li>
                    </ul>
                </li>
                <li><a href="#">Grandchild Topic</a></li>
            </ul>
        </li>
        <li class="article-topics__li"><a href="#">Orthopedics</a></li>
        <li class="article-topics__li"><a href="#">Respiratory</a></li>
        <li class="article-topics__li"><a href="#">Immune Disorders</a></li>
        <li class="article-topics__section-header">Regions</li>
        <li class="article-topics__li"><a href="#">Belgium</a></li>
    </ul>
</div>
```
*/

.article-topics {
    @include textMix('Roboto', 15px, 400);
    margin-bottom: 3.5rem;

    &__header {
        @extend h2;
        color: $color-zeus-black;
        margin-bottom: 1.5rem;
    }

    &__li {
        padding: 6px 0 12px;
        margin-left: 18px;

        &:before {
            // See shame.scss
        }

        & ul li {
            padding: 6px 0 12px;

            &:before {
                color: $color-tree-poppy-orange;
                background: none;
                content: "•";
                margin-left: -18px;
                padding-right: 0.5rem;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    ul ul {
        margin-top: 0.75rem;
        margin-left: 18px;
    }

	&__section-desc {
		margin-bottom: 1.25rem;
	}

    &__section-header {
        @extend h6;
        color: $color-zeus-black;
        margin: 8px 0;

        &:before {
            display: none;
            content: "";
            width: 0;
        }
    }
}
