.article-call-to-action {

    &--sign-in-up,
    &--subscribe {
        margin-bottom: 1.5rem;
        background-color: $color-concrete-gray;
        border: 1px solid $color-light-gray;
        padding: 1.5rem;
    }

    &__column {
    }

    &__two-column {
        display: flex;
        justify-content: space-between;
        width: calc(100% + 2rem);
        flex-wrap: wrap;
        margin: 0 -1rem;

    &:after {
        clear: both;
        content: "";
        display: block;
    }
    }

    &__single-column {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .article-call-to-action {
            width: 300px;
            flex: 1 0 auto;
        }

        }
	  h4 {
        color: $color-zeus-black;
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }
    &__title {
		@extend h4;
		margin-bottom: 1rem !important;
		line-height: 1.5rem !important;
	}
    h5 {
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        color: $color-zeus-black;
    }
	&__caption,
	&__source {
		@include textMix('Roboto', 13px, 400);
	    color: $informa-mid-gray;
	    margin-bottom: 0 !important;
	    line-height: 1.5rem !important;
	    display: block;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
}
