.article-executive-summary {
    margin-bottom: 2rem;
    
    border-bottom: solid #888888;
	padding-bottom: 30px;

    p {
        @extend .article-paragraph;
    }
    h4 {
        color: $color-zeus-black;
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }
}
