/*---
title: Article Preview
section: Home/Topic Page Components
---

```example:html
<section class="article-preview article-preview--small">

    <div class="article-metadata">
        <div class="article-preview__bookmarker pop-out__trigger js-pop-out-trigger" data-pop-out-type="sign-in">
            <span class="article-preview__bookmarker-label">Bookmark</span>
            <svg class="article-prologue__share-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#bookmark"></use>
            </svg>
        </div>
        <ul>
            <li>
                <time class="article-metadata__date">15 Sep 2015</time>
            </li>
            <li>
                <h6>News</h6>
            </li>
            <li>
                <svg class="article-prologue__share-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg-sprite.svg#audio"></use>
                </svg>
            </li>
        </ul>
    </div>

    <div class="article-preview__inner-wrapper">
        <h1 class="article-preview__headline">
            <a href="/articles/2015/09/15/icaac-2015-mercks-bezlotoxumab-a-big-step-in-c-diff">ICAAC 2015: Merck's Bezlotoxumab A 'Big Step' In C Diff</a>
        </h1>

        <span class="article-preview__byline">
            by Mandy Jackson
        </span>

        <div class="article-summary">
            <p>Merck &amp; Co.'s bezlotoxumab for the treatment of recurrent <i>clostridium difficile</i> (C diff) infections is "a big step" for treatment of the debilitating and potentially deadly gut infection, according to Dale Gerding, a professor at Loyola University Chicago Stritch School of Medicine and a lead investigator for the monoclonal antibody's Phase III clinical trials.</p>
        </div>
    </div>

    <div class="article-preview__tags bar-separated-link-list">
                <a href="/search?tag=1d288e18-baff-4498-b284-ef9bc8d32e30">Metabolic Disorders</a>
                <a href="/search?tag=6ddf7877-fdae-472b-8739-fb4710df7651">Switzerland</a>
                <a href="/search?tag=b3122c5e-ff3f-438a-9c93-1b54dc1286a5">Clinical Trials</a>
    </div>
</section>
```
*/

.article-preview {
    padding-bottom: 48px;
    position: relative;
    width: 100%;

    &__two-column {
        display: flex;
        justify-content: space-between;
        width: calc(100% + 2rem);
        flex-wrap: wrap;
        margin: 0 -1rem;

        .article-preview {
            width: 300px;
            flex: 1 0 auto;
            margin: 0 1rem;
        }
    }

    &__image {
        width: 100%;
    }

    &__category,
    &__icon {
        display: inline-block;
        position: relative;
        margin-right: 12px;
    }

    &__icon {
        @include svg-fill($informa-mid-gray);
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: bottom;
    }

    &__bookmarker {
        float: right;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__bookmarker-label {
        @include breakpoint('medium') {
            display: none;
        }
    }

    &__category {
        text-transform: uppercase;
        @include textMix('Roboto Condensed', 15px, 600);
    }

    &__headline {
        @include textMix('Roboto Condensed', 30px, 700);
        color: $informa-black;
        line-height: 2.175rem;
        margin-bottom: 0.5rem;
    }
    &__byline {
        @include textMix('Roboto', 16px, 500);
        color: $informa-dark-gray;
        display: block;
        line-height: 18px;
        margin-bottom: 1rem;
    }

    &__ad {
        @include textMix('Roboto', 11px, 500);
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $informa-light-gray-d;
        margin: 12px auto 0;
        width: 100%;

        img {
            width: 100%;
            margin-top: 6px;
        }
    }

    &__tags {
        width: 100%;

        a {
            max-width: 30%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    p {
        font-size: 18px;
        line-height: 30px;
        color: $informa-dark-gray;
    }


    &--small &__date,
    &--small &__category {
        font-size: 14px;
    }
    &--small &__headline {
        font-size: 26px;
    }
    &--small &__byline {
        font-size: 14px;
    }
    &--small p {
        font-size: 15px;
        line-height: 25px;
    }

    &--bordered {
        border-top: 2px solid #ccc;
    }
    &--boxed {
        border: 2px solid #ccc;
        padding: 12px;
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }

    // .latest-news previews need a wrapper for all content besides the image
    // Image floats left, but other content needs to stay within right "col"
    &__wrapper {
        margin-left: 388px;
    }
}
