.article-related-content {
    margin-bottom: 3.5rem;

    &__img {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    &__category ,
    &__date {
        @include textMix('Roboto Condensed', 13px, 300);
        color: $color-dusty-gray;
    }
    &__category {
        display: inline-block;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    h5 {
        line-height: 1.5rem;
        margin-bottom: 0.5rem;

        a,
        a:visited {
            color: $color-zeus-black;
        }
    }

    &__date {
        border-bottom: 1px solid $color-light-gray;
        display: inline-block;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        width: 100%;

        &:last-child {
            border: 0;
            margin-bottom: 0;
        }
    }



}




