/*---
title: Article Sidebar
section: Article Components
---
Styles for a floated sidebar within an article body.

```example:html
<aside class="article-sidebar">

    <h3>Sidebar? Sidebar.</h3>
    <span class="article-sidebar__byline">by The Author</span>
    <time class="article-sidebar__date">26 Feb 2014</time>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <a class="article-sidebar__read-more" href="#">Read the full article here</a>

</aside>
```
*/

.article-sidebar {
    background-color: $color-concrete-gray;
    border-top: 4px solid $color-cardinal-red;
    float: right;
    line-height: 1.5rem;
    margin: 2rem 0 2rem 2rem;
    overflow: auto; // Sneaky way to force-`clear` any floating elements
    padding: 1.75rem 2rem;
    width: 50%;

    h3 {
        @include textMix('Roboto Condensed', 24px, 600);
        color: $color-zeus-black;
        line-height: 2rem;
        margin-bottom: 1rem;
        font-style: normal;
    }

    &__byline,
    &__date {
        @include textMix('Roboto', 1rem, 400);
        display: block;
    }

    &__byline {
        margin-bottom: 0.25rem;
    }

    &__date {
        margin-bottom: 1rem;
    }

    &__read-more {
        @include textMix('Roboto', 1rem, 400);
        float: right;

        &:after {
            content: "\276f";
            display: inline-block;
            font-size: 10px;
            line-height: 1rem;
            vertical-align: middle;
        }
    }

    p {
        color: $color-zeus-black;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    @include breakpoint('small') {
        width: 100%;
        float: none;
        margin: 1rem 0;
        padding: 1rem;
    }
}
