.article-sidebar {
    background-color: $informa-light-gray-f;
    border-top: 4px solid $informa-red;
    float: right;
    line-height: 1.5rem;
    margin: 2rem 0 2rem 2rem;
    overflow: auto; // Sneaky way to force-`clear` any floating elements
    padding: 1.75rem 2rem;
    width: 50%;

    h3 {
        @include textMix('Roboto Condensed', 24px, 600);
        color: $informa-black;
        line-height: 2rem;
        margin-bottom: 1rem;
        font-style: normal;
    }

    &__byline,
    &__date {
        @include textMix('Roboto', 1rem, 400);
        display: block;
    }

    &__byline {
        margin-bottom: 0.25rem;
    }

    &__date {
        margin-bottom: 1rem;
    }

    &__read-more {
        @include textMix('Roboto', 1rem, 400);
        float: right;

        &:after {
            content: "\276f";
            display: inline-block;
            font-size: 10px;
            line-height: 1rem;
            vertical-align: middle;
        }
    }

    p {
        color: $color-zeus-black;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    @include breakpoint('small') {
        width: 100%;
        float: none;
        margin: 1rem 0;
        padding: 1rem;
    }
}
