.article-prologue {
    @include textMix('Roboto Condensed', 14px, 700);
    border-top: 2px solid $informa-light-gray-d;
    clear: both;
    color: $informa-black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    text-transform: uppercase;

    li {
        display: inline-block;
    }

    &__share-bar {
        order: 2;
        margin-top: 14px;
    }
    &__share-item {
        margin: 0 1rem;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__share-icon {
        fill: $informa-mid-gray;
        height: 24px;
        vertical-align: middle;
        width: 24px;

        &:nth-child(n+3) {
            margin-left: 1rem;
        }
    }
    &__share-label {
        margin-right: 0.5rem;
    }

    &__tags-bar {
        align-self: flex-start;
        background-color: $informa-light-gray-f;
        display: inline-block;
        padding: 12px;
        width: auto;

        a {
            text-transform: none;
        }
    }

    @include breakpoint('small') {
        flex-flow: column;

        &__share-bar {
            align-self: flex-end;
        }
        &__share-item {
            margin: 0 0.5rem;
        }
        &__share-label {
            display: none;
        }

    }
}
