.article-key-documents {
    @include textMix('Roboto', 15px, 400);
}

.article-key-document {
    padding: 0.33rem 0 0.66rem;

    &__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
        height: 1.25rem;
    }
}
