.article-topics {
    @include textMix('Roboto', 15px, 400);
    margin-bottom: 3.5rem;

    &__li {
        padding: 6px 0 12px;
        margin-left: 18px;

        &:before {

            // See shame.scss

        }

        &--grandchild {
            &:before {
                background: none;
                content: "•";
                margin-left: -18px;
            }
        }
    }

    ul ul {
        margin-left: 18px;


    }

    &__section-header {
        @extend h6;
        color: $color-zeus-black;
        margin: 8px 0;

        &:before {
            display: none;
            content: "";
            width: 0;
        }
    }
}
