/*---
title: Article Pullquote
section: Article Components
---
Styles for a pull quote or blockquote.

```example:html
<blockquote class="article-pullquote">
    <p>Sometimes you just gotta come up with something to say.</p>
</blockquote>
```
*/

.article-pullquote {
    @include textMix('Roboto', 22px, 500);
    border-bottom: 1px solid $color-tree-poppy-orange;
    border-top: 4px solid $color-tree-poppy-orange;
    clear: both;
    color: $color-zeus-black;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1.75rem 0.75rem;

    p {
        color: $color-zeus-black;

        &:last-child,
        &:only-child {
            margin: 0;
        }
    }

    @include breakpoint('medium') {
        font-size: 20px;
        margin: 2rem 0px;
        padding: 1rem 0.75rem;
    }
}
