<appSettings>
  <add key="EmailReminder.FromAddress" value="name@server.net" />
  <!-- NetSpell directory -->
  <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
  <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />

  <!-- NetSpell  directory -->
  <add key="NewRelic.AppName" value="Informa" />
  <add key="Recaptcha.SiteKey" value="6LduoCkTAAAAAI_YG-HWYk5D8sXByHDam5jARt32" />
  <add key="Recaptcha.SecretKey" value="6LduoCkTAAAAAPn6zc4hZFYDsLwIeAzen2tXldNZ" /> 
</appSettings>
