<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="user id=sitecore;password=felixx;Data Source=localhost;Database=Informa_Core" />
  <add name="master" connectionString="user id=sitecore;password=felixx;Data Source=localhost;Database=Informa_Master" />
  <add name="web" connectionString="user id=sitecore;password=felixx;Data Source=localhost;Database=Informa_Web" />
  <add name="analytics" connectionString="mongodb://localhost/Informa_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/Informa_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/Informa_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/Informa_tracking_contact" />
  <add name="reporting" connectionString="user id=sitecore;password=felixx;Data Source=localhost;Database=Informa_Analytics" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\.\IIS_DB;Initial Catalog=aspnet-member-temp;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Temp.mdf"
    providerName="System.Data.SqlClient" />
  <add name="AuthSessionStoreContext" connectionString="Data Source=(LocalDb)\.\IIS_DB;Initial Catalog=aspnet-authfed-temp;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-authfed-Temp.mdf"
    providerName="System.Data.SqlClient" />
</connectionStrings>