<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=aakash;password=aakash;Data Source=vwsql2012;Database=Informa_core_dev" />
  <add name="master" connectionString="user id=aakash;password=aakash;Data Source=vwsql2012;Database=Informa_master_dev" />
  <add name="web" connectionString="user id=aakash;password=aakash;Data Source=vwsql2012;Database=Informa_web_dev" />
  <add name="analytics" connectionString="mongodb://localhost/Informa_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/Informa_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/Informa_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/Informa_tracking_contact" />
  <add name="reporting" connectionString="user id=aakash;password=aakash;Data Source=vwsql2012;Database=Informa_analytics_dev" />
</connectionStrings>