<?xml version="1.0"?>
<configuration>
    <appSettings>
      <!-- The Salesforce connected app is named: Informa_Web -->
      <add key="Salesforce:ConsumerKey" value="3MVG9snqYUvtJB1PkkrM5.aZ2lE3NuGOri67WZrszCaiA39s_dAwBMoRT1scpHqJNGqqf5MqSNcCE8nbhkQxc" />
      <add key="Salesforce:ConsumerSecret" value="7858a96cb79143f78d96f95c304c336f" />
      <add key="Salesforce:UserName" value="RequiredValue" />
      <add key="Salesforce:Password" value="RequiredValue" />
      <add key="Salesforce:SecurityToken" value="OptionalValue" />
      <add key="Salesforce:Domain" value="https://login.salesforce.com" />
    </appSettings>
</configuration>
