<?xml version="1.0"?>
<configuration>
  <sitecore>
    <settings>
      <setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
      <setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agribeta" />
      <setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
      <setting name="SalesforceSessionFactoryConfiguration.Token" value="ueyo93oBaRyHoUv8qmVReRa5" />
      <setting name="SalesforceSessionFactoryConfiguration.Timeout" value="3000" />
      <setting name="SalesforceServiceConfiguration.Url" value="https://cs60.salesforce.com/services/Soap/class/EBI_WebServices" />
    </settings>
  </sitecore>
</configuration>
