@model Informa.Web.ViewModels.SignInViewModel
<div class="pop-out js-pop-out__sign-in">
    <div class="pop-out__tab"></div>
    <div class="pop-out__internal">
        <div class="pop-out__sign-in">
            <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                <svg class="dismiss-button__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
            </div>
            <h3 class="pop-out__register-header">
                @Model.SignInButtonText
            </h3>
            @{ Html.RenderPartial("Login", Model); }
        </div>
    </div>
</div>                                                                                        
