<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <loggedin>
        <processor mode="on"
            type="Informa.Library.CustomSitecore.Pipelines.LoginRedirect,Informa.Library" />
      </loggedin>
    </processors>
  </sitecore>
</configuration>