<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="4.0.3.51" targetFramework="net45" />
  <package id="Jabberwocky.Core" version="1.0.0" targetFramework="net45" />
  <package id="Jabberwocky.Glass" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>