<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Autofac.Extras.AggregateService" version="4.0.0" targetFramework="net46" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.7" targetFramework="net46" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net46" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Glass.Mapper.Sc" version="4.1.0.64" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net46" />
  <package id="Jabberwocky.Autofac" version="1.1.0.0" targetFramework="net46" />
  <package id="Jabberwocky.Core" version="1.0.2.0" targetFramework="net46" />
  <package id="Jabberwocky.Glass" version="1.0.1.0" targetFramework="net46" />
  <package id="Jabberwocky.Glass.Autofac" version="1.1.0.0" targetFramework="net46" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net46" />
  <package id="NUnit" version="3.0.1" targetFramework="net46" />
</packages>