<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Informa Products Personalization ItemIds GUID-->
    <settings>
      
      <!-- IEGVu Beverages  -->
      <setting name="BEV" value="57806C44-5CD9-499C-8896-955E3EF2E5AC"></setting>
      <setting name="AJU" value="9524C303-243A-4B7C-B323-52E8E01735D7"></setting>
      <setting name="APE" value="24A2A804-1E22-48A8-96A9-614BCEA2B18F"></setting>
      <setting name="APU" value="60CD4DBC-D902-499F-A2C5-5734284FA709"></setting>
      <setting name="BPU" value="C07ACA91-8E77-4ED0-BAAC-A0EF37CFB6E3"></setting>
      <setting name="BJU" value="C9ACDDD0-81B4-4804-94BA-591946EC8427"></setting>
      <setting name="BWA" value="A0C91CD1-E3E2-444C-9B3B-6E247C0F99AA"></setting>
      <setting name="CAR" value="E35D2A55-AA50-4B12-858F-160262F91D6A"></setting>
      <setting name="CID" value="89E66B0A-8A6A-4B43-A3D5-EC5B258E6973"></setting>
      <setting name="COI" value="8A7FE427-2382-40DB-833B-6D354076B8CD"></setting>
      <setting name="CJU" value="51CA8EF9-AF8D-43CA-B568-01070A58D294"></setting>
      <setting name="FDR" value="1C8EE41B-BAE7-4454-A68C-5D73C58DFACB"></setting>
      <setting name="CJU" value="3DD8EE0A-0C1B-4411-A182-698D71F290E8"></setting>
      <setting name="LJU" value="4446A4F6-5C9C-4CE9-9786-7AB3774BFFDD"></setting>     
      <setting name="MJU" value="0D2A9AF6-506E-45DE-A916-812F6FC77375"></setting>
      <setting name="MPU" value="2395846B-39CE-4D3B-9721-02D9ABCDED81"></setting>
      <setting name="NJU" value="9884A040-3BFB-40CA-8DF9-E9E10168DF87"></setting>
      <setting name="OJU" value="12C67CD0-D036-4881-A84A-98BFA6B9B13C"></setting>
      <setting name="PFJ" value="20A13C90-53F8-4EA4-8438-14D449EF2921"></setting>
      <setting name="PPE" value="86147082-A8EA-40EF-8228-A3685C845028"></setting>
      <setting name="PPU" value="D4B28441-75D4-48B1-9657-E0EA138AA9C9"></setting>
      <setting name="PJU" value="579F9A59-432D-47EF-9573-083E6C534E96"></setting>
      <setting name="SMO" value="DACF6F45-1B7C-42D0-9E7B-864B43756B8E"></setting>
      <setting name="SED" value="BB0D1B9A-598D-4E13-95CF-6AF438AFCFEC"></setting>
      <setting name="SJU" value="2FAE8B6F-EF7D-42A3-A89C-67397D8048DC"></setting>
      <setting name="TJU" value="CEF26C5C-405D-4172-88FC-56F87032103F"></setting>
      <setting name="TPU" value="27C35578-F6E5-4A00-BB2D-A04693457B5E"></setting>
      <setting name="VJU" value="042DCBC2-24C8-41FC-8E8E-FADB83E17E66"></setting>
      <setting name="WIN" value="AC8138A3-57C5-4409-9ED3-44C1C9380CF9"></setting>

      <!-- IEGVu Sugar  -->
      <setting name="SUG" value="AA5FAA2A-C1D1-47CE-ADF9-A9596D839C65"></setting>
      <setting name="BEE" value="46D458E9-816D-47CA-B505-CA7601F2A12A"></setting>
      <setting name="CAN" value="DA368988-68E5-4AFC-BF5B-00B6B6AACF53"></setting>
      <setting name="SUG" value="5D0B4A92-CBEA-4F8A-BA16-3F14BDA0FD8E"></setting>
      <setting name="SWE" value="FABC550C-B672-4593-BE42-996BD55BAEA9"></setting>

      <!-- IEGVu Cofee  -->
      <setting name="COF" value="8A031FFE-90EB-4018-9A07-82F125C08C7B"></setting>
      <setting name="ARA" value="82185992-984D-443C-BEA0-97B26A7562BE"></setting>
      <setting name="ROB" value="7A08172E-0B19-460D-B6BA-174D43303028"></setting>
      
    </settings>
  </sitecore>
</configuration>
