<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Global Environment Variables Guids-->
    <settings>	
	 <setting name="SitecoreRoot.global" value="{11111111-1111-1111-1111-111111111111}"></setting>
	  <setting name="NlmErrorDistributionList.global" value="{54C6F361-9A73-453F-89E4-6230090C122A}"></setting>
      <setting name="NlmCopyrightStatement.global" value="{EE38E489-23F7-4637-A152-3FDC696FAACF}"></setting>
      <setting name="InformaBar.global" value="{F3082926-B856-4B48-8DD8-5D55573FE4F6}"></setting>
      <setting name="DownloadTypes.global" value="{3939BE43-6300-4AFA-ABE6-F7798C16E34D}"></setting>
      <setting name="Folder.global" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}"></setting>
      <setting name="RegionsTaxonomyFolder.global" value="{5728D226-839C-44E3-B044-C88321A53421}"></setting>
      
	  <setting name="VwbSearchPage.global" value="{A0163A51-2FF8-4A9C-8FBA-6516546E5AE1}"></setting>
	  <setting name="IssuesRootArchive.global" value="{AAB11244-7D15-4A43-A709-DC8951893FD2}"></setting>
	  <setting name="IssueTemplate.global" value="{90C7C95A-2D6F-49D8-B471-7626E3135201}"></setting>
	  <setting name="IssueArchivedTemplate.global" value="{6467B31C-4196-44EB-A215-EEC8F733FFF8}"></setting>
	  <!--<setting name="AccountCountries.global" value="{C1479FF7-F581-4A71-B25A-5FCB6312A0CF}"></setting>-->
	  <setting name="AccountNameSuffixes.global" value="{A2065C72-92F8-4F71-9913-11A7AE7E6D72}"></setting>
	  <setting name="AccountPhoneTypes.global" value="{361E7AC5-BF4B-4FD2-A840-5BE7457BBDD5}"></setting>
	  <setting name="AccountSalutations.global" value="{E7366564-0E17-43FF-8ECA-0BD9829392AC}"></setting>
	  <setting name="FolderTemplate.global" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}"></setting>
	  <setting name="FreeWithEntitlement.global" value="{AFDFD507-A124-4F37-86B9-6599C0E44F5D}"></setting>
	  <setting name="FreeWithRegistration.global" value="{1A8FB076-2CBF-4CD7-9D9C-92E2B4296D12}"></setting>
	  <setting name="ContentRootNode.global" value="{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}"></setting>
	  <setting name="VirtualWhiteboardIssuesFolder.global" value="{ECE677C9-3CC5-41F5-ADCB-D103C60783A7}"></setting>
	  <setting name="VirtualWhiteboardArchivedIssuesFolder.global" value="{AAB11244-7D15-4A43-A709-DC8951893FD2}"></setting>
	  <setting name="EditAfterPublishWorkflowCommand.global" value="{322D0739-B3AC-416F-BF58-5E39E716F003}"></setting>
	  <setting name="ScripWorkflow.global" value="{926E6200-EB76-4AD4-8614-691D002573AC}"></setting>
	  <setting name="TemplateFolder.global" value="{AB86861A-6030-46C5-B394-E8F99E8B87DB}"></setting>
	  <setting name="SpecialCharacterFolder.global" value="{60E5FA01-BBE6-4FA0-8F95-119F8CBD243E}"></setting>	  
	  <setting name="LoginRendering.global" value="{BD6A0FD0-1B33-4410-A044-B6BE00E342C3}"></setting>
	  <setting name="RegistrationRendering.global" value="{7A0B4F46-A4A9-4A2B-A45E-5AF282A4BE3F}"></setting>
	  <setting name="TopicAlertButtonRendering.global" value="{39C8CD59-AFEA-4B6C-8071-FF799AD45596}"></setting>
	  <setting name="LogoutRendering.global" value="{1460F117-C1C2-45EF-884A-9520FB3A7FDB}"></setting>
	  <setting name="AccountLoginRendering.global" value="{3A09B629-FF07-4B1A-B1D4-748E712C18CA}"></setting>
	  <setting name="MediaTypeIconRendering.global" value="{EBEB54C0-7008-4E3B-994D-CE9737A56745}"></setting>
	  <setting name="MediaLibraryFolder.global" value="{3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1}"></setting>
	  <setting name="ParagraphStylesFolder.global" value="{0C51AAA3-70D9-408C-9130-852F32BF4BEE}"></setting>
	  <setting name="CharacterStylesFolder.global" value="{18EE6A90-E8AE-4DEA-B475-274567126FC0}"></setting>
	  <setting name="MediaTypeIconsFolder.global" value="{C00E39E4-3566-4307-93AE-8471769D6B36}"></setting>
	  <setting name="ContentTypesFolder.global" value="{CAAD10A6-51CF-41F4-B6CE-773C8CA94CB9}"></setting>
	  <setting name="MaxLengthShortSummary.global" value="{5FF122A8-A7C6-4DAB-B135-9DD6E276EE08}"></setting>
	  <setting name="MaxLengthLongSummary.global" value="{6759EBC6-101A-4187-9B3A-BE466C1C5DA0}"></setting>
	  <setting name="WordPlugInPassword.global" value="{990801B9-36A1-499C-91D4-D1562D4B93F4}"></setting>	  
	  <setting name="DataImportPropertyFolder.global" value="{8452785D-FFE7-47F3-911E-F219F5BDEA3A}"></setting>
	  <setting name="DataImportTemplateFolder.global" value="{3D915406-97F6-4E94-AC50-B7CAF468A50F}"></setting>
      <setting name="VerticalTemplate.global" value="{DE3615F6-1562-4CB4-80EA-7FA45F49B7B7}"></setting>
      <setting name="DCDConfiguration.pharma" value="{52461CA2-7C9F-483C-B5F2-433B9351FA6F}"></setting>
	    <!--<setting name="RegionsTaxonomyFolder.pharma" value="{5728D226-839C-44E3-B044-C88321A53421}"></setting>-->
      
    <!--Vertical Specific Environment Variables Guids-->
	<!--Pharma vertical Specific Items-->
    <setting name="RestrictedEmailDomainsCompetitor.pharma" value="{38753F80-CFF8-4DFD-9998-0EE30D69D190}"></setting>
    <setting name="RestrictedEmailDomainsPublic.pharma" value="{E8B387F0-97EB-4633-AA9F-6208CF4E207F}"></setting>
	  <setting name="ScripHomePage.pharma" value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}"></setting>
	  <setting name="NlmConfiguration.pharma" value="{B0C03A57-0C1E-4BC9-BE7A-5871695FD79B}"></setting>
    <setting name="NlmCopyrightStatement.pharma" value="{EE38E489-23F7-4637-A152-3FDC696FAACF}"></setting>
    <setting name="InformaBar.pharma" value="{F3082926-B856-4B48-8DD8-5D55573FE4F6}"></setting>
    <setting name="SubjectsTaxonomyFolder.pharma" value="{46D8B99F-4A19-4D67-A083-0EFE313154AC}"></setting>	 
	  <setting name="TherapyAreasTaxonomyFolder.pharma" value="{49A93890-E459-44F1-9453-A6F3FF0AF4C1}"></setting>
	  <setting name="DeviceAreasTaxonomyFolder.pharma" value="{3DA2C962-4C2C-4B08-91F9-D64BA1C314F5}"></setting>
	  <setting name="AccountJobFunctions.pharma" value="{FC588B3B-499F-41F1-BB48-A362EA72FD0C}"></setting>
    <setting name="AccountCountries.pharma" value="{C1479FF7-F581-4A71-B25A-5FCB6312A0CF}"></setting>
	  <setting name="AccountJobIndustries.pharma" value="{88CC966F-877E-4B79-9C69-A5AF27CCA4DD}"></setting>
	  <setting name="StrategicTransactionsComponent.pharma" value="{7072BDB1-1398-4C51-986F-404251CF3E8A}"></setting>
	  <setting name="DCDSubscribeComponent.pharma" value="{602FABB7-E964-45B2-A8DF-E29356A7A8ED}"></setting>
	  <setting name="ScripRootNode.pharma" value="{3818C47E-4B75-4305-8F01-AB994150A1B0}"></setting>
	  <setting name="EmailConfig.pharma" value="{077AB43D-8F0F-413E-A585-4DB65EA23234}"></setting>
	  <setting name="InVivoRootNode.pharma" value="{920FAC0D-4DA5-465A-94F9-A8B4D03DFCE3}"></setting>
	  <setting name="PinkSheetRootNode.pharma" value="{87B710BC-BACD-4D38-895F-90F42D762393}"></setting>
	  <setting name="MedtechInsightRootNode.pharma" value="{989CA96C-8A54-4CC0-BD51-A127930935A9}"></setting>
	  <setting name="RoseSheetRootNode.pharma" value="{204199B0-C381-4B9B-92BE-63E5754F5E90}"></setting>
	  <setting name="ScripSearchPage.pharma" value="{0FF66777-7EC7-40BE-ABC4-6A20C8ED1EF0}"></setting>
	  <setting name="ScripSubscriptionPage.pharma" value="{39611772-CD97-4610-BB55-F96BE4C1F540}"></setting>
	  <setting name="ScripEmailPreferences.pharma" value="{BAF1D4FB-7599-4EDA-8926-0A4995E4DC2D}"></setting>
	  <setting name="TaxonomyRoot.pharma" value="{E8A37C2D-FFE3-42D4-B38E-164584743832}"></setting>	  
	  <setting name="StaffParentFolder.pharma" value="{5C4D8806-C74E-465E-AB61-FC50F168BCBC}"></setting>
	<setting name="MedicalDeviceItem.pharma" value="{2EDCC1FF-26E4-4C6E-AF73-0F43F0F033B8}"></setting>
      <setting name="IndustryTaxonomyFolder.pharma" value="{D10B7B8F-588B-4209-A319-2BC3A19828B7}"></setting>
      <!--Agri vertical Specific Items-->
      <setting name="TaxonomyRoot.agri" value="{DE0A95C1-92FF-4104-B845-5C0B09761C6F}"></setting>
      <setting name="EmailConfig.agri" value="{075ed870-6984-46bb-ba18-e42123cbf47d}"></setting>
      <setting name="PageNotFoundErrorPagePath" value="/not-found"></setting>
      <setting name="SubjectsTaxonomyFolder.agri" value="{46D8B99F-4A19-4D67-A083-0EFE313154AC}"></setting>
      <setting name="RestrictedEmailDomainsCompetitor.agri" value="{2CB1B8E7-277B-4E41-A49A-48CB384BDFAC}"></setting>
      <setting name="RestrictedEmailDomainsPublic.agri" value="{2A78F6C1-45FE-4F34-9263-37484C94C859}"></setting>      
      <!--<setting name="RegionsTaxonomyFolder.agri" value="{5728D226-839C-44E3-B044-C88321A53421}"></setting>-->
      <setting name="AccountCountries.agri" value="{268329EE-EBAC-478B-B355-0DD2638D2B5F}"></setting>
      <setting name="TherapyAreasTaxonomyFolder.agri" value="{49A93890-E459-44F1-9453-A6F3FF0AF4C1}"></setting>
      <setting name="DeviceAreasTaxonomyFolder.agri" value="{01CB422B-DB19-48C6-9821-D8781308F171}"></setting>
      <setting name="IndustryTaxonomyFolder.agri" value="{1760624D-D9E1-4960-8130-963ADCD11F33}"></setting>
      <setting name="CommodityTaxonomyFolder.agri" value="{BF8FB5A3-7F05-4EF8-B238-C3C1F92AB0F2}"></setting>
      <setting name="AccountJobFunctions.agri" value="{E1BBFF63-C4D4-47C7-8A5F-2B18C7333910}"></setting>
      <setting name="AccountJobIndustries.agri" value="{0D6142F0-6AFE-49D4-A332-FA97636A6CFE}"></setting>
      <setting name="StaffParentFolder.agri" value="{E6005C2C-4B2D-4C98-9C58-189CF5B1F75D}"></setting>
       <setting name="NlmConfiguration.agri" value="{ECDB0A80-7051-42CC-A482-36B5437F316D}"></setting>
      
    <!--Content Root Name-->
      <setting name="Sitecore.ContentRoot.Name" value="Content"></setting>
    <!--Content Root Guid-->
      <setting name="Content.Guid" value="{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}"></setting>
    <!--Verical Guid-->
      <setting name="Content.Pharma.Guid" value="{17DCABBD-B3FF-45A0-AEBE-2CF66BBE078F}"></setting>
      <setting name="Content.Agri.Guid" value="{10F372A8-F4FE-4E4D-A6E9-98592906C5AA}"></setting>
    <!--Publication Guid-->
      <setting name="Content.Pharma.ScripIntelligence.Guid" value="{3818C47E-4B75-4305-8F01-AB994150A1B0}"></setting>
      <setting name="Content.Pharma.InVivo.Guid" value="{920FAC0D-4DA5-465A-94F9-A8B4D03DFCE3}"></setting>
      <setting name="Content.Pharma.PinkSheet.Guid" value="{87B710BC-BACD-4D38-895F-90F42D762393}"></setting>
      <setting name="Content.Pharma.MedtechInsight.Guid" value="{989CA96C-8A54-4CC0-BD51-A127930935A9}"></setting>
      <setting name="Content.Pharma.RoseSheet.Guid" value="{204199B0-C381-4B9B-92BE-63E5754F5E90}"></setting>
      <setting name="Content.Agri.Commodities.Guid" value="{52DAA39C-E6A1-427B-9875-5D5EAB988139}"></setting>
    <!--Publication Prefix--> 
      <setting name="Content.Pharma.ScripIntelligence.Prefix" value="SC"></setting>
      <setting name="Content.Pharma.InVivo.Prefix" value="IV"></setting>
      <setting name="Content.Pharma.PinkSheet.Prefix" value="PS"></setting>
      <setting name="Content.Pharma.MedtechInsight.Prefix" value="MT"></setting>
      <setting name="Content.Pharma.RoseSheet.Prefix" value="RS"></setting>
      <setting name="Content.Agri.Commodities.Prefix" value="CO"></setting>
      
      <setting name="ScripRootNode.global" value="{3818C47E-4B75-4305-8F01-AB994150A1B0}"></setting>
      <setting name="InVivoRootNode.global" value="{920FAC0D-4DA5-465A-94F9-A8B4D03DFCE3}"></setting>
      <setting name="PinkSheetRootNode.global" value="{87B710BC-BACD-4D38-895F-90F42D762393}"></setting>
      <setting name="MedtechInsightRootNode.global" value="{989CA96C-8A54-4CC0-BD51-A127930935A9}"></setting>
      <setting name="RoseSheetRootNode.global" value="{204199B0-C381-4B9B-92BE-63E5754F5E90}"></setting>
	  
	  <setting name="Company.Graph.Type" value="{0763A865-81D6-4AF0-9A12-E5754160DCA0}"></setting>
	</settings>
  </sitecore>
</configuration>
