<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sessionSerialization>
      <!-- Provides fully qualified type names, which are allowed to be serialized. -->
      <allowedTypes>
        <type>Sitecore.Analytics.Automation.Data.AutomationStateManager, Sitecore.Analytics.Automation</type>
        <type>Sitecore.Analytics.Automation.Data.Items.SitecoreItemsAutomationMetadataProvider, Sitecore.Analytics.Automation</type>
        <type>Sitecore.Analytics.Automation.Model.MongoDbAutomationContext, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Automation.Model.TransitionDocument, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Model.AuthenticationLevel, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.ContactIdentificationLevel, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.ContactSaveMode, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.DeviceData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.KeyBehaviorCache, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.IKeyBehaviorCacheEntry, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.Contact, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Int32, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Guid, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Nullable`1[[System.DateTime, mscorlib]], mscorlib]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.String, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[Sitecore.Analytics.Model.AuthenticationLevel, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Byte[], mscorlib]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Boolean, mscorlib]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[Sitecore.Analytics.Model.ContactIdentificationLevel, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]] ,Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelMemberCollection, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactSystemInfo, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactIdentifiers, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactExtensions, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactTags, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactBehaviorProfiles, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPersonalInfo, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactAddresses, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactEmailAddresses, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPhoneNumbers, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPicture, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactCommunicationProfile, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPreferences, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.VisitData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.ContactContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.ContactContext+ContactBehaviorProfilesContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.ContactContext+ContactSystemInfoContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.KeyBehaviorCache, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.SessionSettings, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.StandardSession, Sitecore.Analytics</type>
        <type>Sitecore.ContentTesting.Model.Entities.TestCombinationsData, Sitecore.ContentTesting.Model</type>
        <type>Sitecore.Data.ID, Sitecore.Kernel</type>
        <type>Sitecore.Social.Connector.Facets.Contact.SocialProfile.SocialProfileFacet, Sitecore.Social</type>
        <type>System.Collections.Generic.GenericEqualityComparer`1[[System.String, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.ObjectEqualityComparer`1[[Sitecore.Data.ID, Sitecore.Kernel]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IFacet, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]] ,mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[Sitecore.Data.ID, Sitecore.Kernel],[Sitecore.Analytics.Automation.Model.AutomationState, Sitecore.Analytics.Automation]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelMember, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelMember, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IFacet, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.VisitData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Automation.Model.TransitionDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[System.Guid, mscorlib]], mscorlib</type>
        <type>System.Collections.ObjectModel.ReadOnlyCollection`1[[Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics]], mscorlib</type>
        <type>System.Collections.ObjectModel.ReadOnlyCollection`1[[Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Guid, mscorlib</type>
      </allowedTypes>
    </sessionSerialization>
  </sitecore>
</configuration>