<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Velir.Search.ValueSeparator" value=";"/>
      <setting name="Velir.Search.EscapeSequence" value="\"/>
      <setting name="Velir.Search.QueryString.QueryKey" value="q"/>
      <setting name="Velir.Search.QueryString.AllQueryKey" value="qAll"/>
      <setting name="Velir.Search.QueryString.ExactQueryKey" value="qExact"/>
      <setting name="Velir.Search.QueryString.AnyQueryKey" value="qAny"/>
      <setting name="Velir.Search.QueryString.NoneQueryKey" value="qNone"/>
      <setting name="Velir.Search.QueryString.PageIdKey" value="pId"/>
      <setting name="Velir.Search.QueryString.PageKey" value="page"/>
      <setting name="Velir.Search.QueryString.SortKey" value="sortBy"/>
      <setting name="Velir.Search.QueryString.SortOrderKey" value="sortOrder"/>
      <setting name="Velir.Search.QueryString.SortAscendingValue" value="asc"/>
      <setting name="Velir.Search.QueryString.SortDescendingValue" value="desc"/>
	  <setting name="Velir.Search.SpecialCharacters" value="~*"/>
    </settings>
  </sitecore>
</configuration>