@model Informa.Web.ViewModels.PopOuts.VideoPopOutViewModel

@if (Model != null)
{
    <div class="video-demo">
        <div class="visible-lg">
            <div class="video-mini-container">
                <div class="embed-responsive embed-responsive-16by9">
                    @if (!string.IsNullOrEmpty(Model.VideoLink))
                    {
                        <img src="@Model.Thumbnail" data-videotype="wistia" data-videourl="@Model.VideoLink" alt="@Model.AlternativeText" width="100%" class="video-img img-responsive">
                        <span class="play-icon" style="display: block;"></span>
                    }
                </div>
            </div>
        </div>
        <div class="visible-sm">
        </div>
    </div>

}
