@inherits CustomGlassView<Informa.Web.ViewModels.Emails.EmailAdvertisementViewModel>
@if (IsInEditingMode)
{
    @: <table>
    }
<tr>
    <td align="center" valign="top" class="templateHeader" style="background:#FFFFFF none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 15px;width:100%;">
        @if (IsInEditingMode)
            {
			<!-- this is just for easy experience editing, doesn't need to be email-html safe -->
            <div>Slot Id: @Editable(Model.GlassModel, m => m.Slot_ID) </div>
            <div>Zone: @Editable(Model.GlassModel, m => m.Zone) </div>
        }
        else
        {
            <a href="@Model.AdClickLinkUrl" title="Shop Now" class="" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <img align="center" alt="Woodofa Cosy Seating Outdoor Swing,Outdoor Garden Furniture" src="@(Model.AdImageUrl)" style="max-width: 600px; padding-bottom: 0;display: inline !important; vertical-align: bottom; border: 0; height: auto; outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage">
            </a>
        }
    </td>
</tr>
           @if (IsInEditingMode)
           {
               @: </table>
    }
