@model Jabberwocky.Glass.Autofac.Mvc.Models.GlassViewModel<Informa.Models.Informa.Models.sitecore.templates.User_Defined.Emails.Components.IFeatured_Content>
<div>
    <h2>@Model.GlassModel.Headline</h2>
    <div>@Model.GlassModel.Text</div>
</div>