@inherits CustomGlassView<Informa.Models.Informa.Models.sitecore.templates.User_Defined.Emails.Components.IFeatured_Content>
<div>
    <h2>@Editable(Model, m => m.Headline)</h2>
    <div>@Editable(Model, m => m.Text)</div>
</div>