<div class="bar-separated-link-list {{classes}}">
	{% if labelText %}
		<span class="bar-separated-link-list__label">{{labelText}}</span>
	{% endif %}
	<a href="#">Person</a>
	<a href="#">Place</a>
	<a href="#">Thing</a>
</div>
