<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Informa.Library.Salesforce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Informa.Library.Salesforce.Properties.Settings>
            <setting name="Informa_Library_Salesforce_EBIWebServices_EBI_WebServicesService"
                serializeAs="String">
                <value>https://cs50.salesforce.com/services/Soap/class/EBI_WebServices</value>
            </setting>
            <setting name="Informa_Library_Salesforce_SalesforceAPI_SforceService"
                serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX</value>
            </setting>
        </Informa.Library.Salesforce.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
