@model Informa.Web.ViewModels.Casualty.BalticIndicesViewModel

@if (!string.IsNullOrEmpty(Model.jsonBalticIndices))
{
    <script type="text/javascript">
        var jsonBalticIndices = Model.jsonBalticIndices;
    </script>
}
else
{
    <script type="text/javascript">
        var jsonBalticIndices = [
          {
              "Baltic Indices": "Baltic Dry Index",
              "Jan 13": "910 +18",
              "Jan 12": "892 -2",
              "Jan 11": "894 -32",
              "Jan 10": "926 -23",
              "Jan 09": "949 -14"
          },
          {
              "Baltic Indices": "Baltic Capesize Index",
              "Jan 13": "1383 +89",
              "Jan 12": "1294 -32",
              "Jan 11": "1326 -144",
              "Jan 10": "1470 -128",
              "Jan 09": "1598 -60"
          },
         {
             "Baltic Indices": "Baltic Panamax Index",
             "Jan 13": "910 +18",
             "Jan 12": "892 -2",
             "Jan 11": "894 -32",
             "Jan 10": "926 -23",
             "Jan 09": "949 -14"
         }
        ]
    </script>
}

<div class="small_table">
    <div class="table-responsive" id="market-data">
        <div class="carousel-div" id="main-carousel">
            <div class="states_heading">
            </div>
            <div class="owl-carousel owl-theme owl-loaded owl-responsive-1000" id="marketDataTable">
            </div>
        </div>
    </div>
</div>
