@model Informa.Web.ViewModels.Casualty.CasualtyReportViewModel

<script type="text/javascript">
    var jsonCasualtyListing = [{
        "casualtymarine": {
            "casualtytitle": "MARINE",
            "casualtyData": [
              {
                  "Title": "APL DENVER (Gibraltar)",
                  "incidentId": "22",
                  "Date of Incident": "03.01.2017",
                  "Area": "South China, Indo China, Indonesia and Philippines"
              },
              {
                  "Title": "APL DENVER (Gibraltar)",
                  "incidentId": "23",
                  "Date of Incident": "03.01.2017",
                  "Area": "South China, Indo China, Indonesia and Philippines"
              }
            ]
        },
        "casualtyseizures": {
            "casualtytitle": "SEIZURES",
            "casualtyData": [
              {
                  "Title": "APL DENVER (Gibraltar)",
                  "incidentId": "24",
                  "Date of Incident": "03.01.2017",
                  "Area": "South China, Indo China, Indonesia and Philippines"
              },
              {
                  "Title": "APL DENVER (Gibraltar)",
                  "incidentId": "25",
                  "Date of Incident": "03.01.2017",
                  "Area": "South China, Indo China, Indonesia and Philippines"
              }
            ]
        }
    }]

</script>

<div class="casualty-listing-title">
    <h1>@Model.Title</h1>
    <div class="casualty-report-dropdowns">
        @Model.FilterByDateDropdownTitle@Html.DropDownList("FilterByDateDropDown", Model.FilterByDateDropdownValues)
        @Model.FilterBySectionDropdownTitle@Html.DropDownList("FilterBySectionDropDown", Model.FilterBySectionDropdownValues)
        <div>
            <a href="@Model.CasualtyDetailPageUrl">Go To Detail Page</a>
        </div>
    </div>
</div>
