@model Informa.Web.ViewModels.Casualty.MarketDataTableViewModel
@using Informa.Library.Utilities.References

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.TableType != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.TableType.Value))
{
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation1)
    {
        if (!string.IsNullOrEmpty(Model.jsonTableData))
        {
            <script type="text/javascript">
                var jsonBalticIndices = @Html.Raw(Model.jsonTableData);
            </script>
        }
        else
        {
            <script type="text/javascript">
                var jsonBalticIndices = [
                  {
                      "Baltic Indices": "Baltic Dry Index",
                      "Jan 13": "910 +18",
                      "Jan 12": "892 -2",
                      "Jan 11": "894 -32",
                      "Jan 10": "926 -23",
                      "Jan 09": "949 -14"
                  },
                  {
                      "Baltic Indices": "Baltic Capesize Index",
                      "Jan 13": "1383 +89",
                      "Jan 12": "1294 -32",
                      "Jan 11": "1326 -144",
                      "Jan 10": "1470 -128",
                      "Jan 09": "1598 -60"
                  },
                 {
                     "Baltic Indices": "Baltic Panamax Index",
                     "Jan 13": "910 +18",
                     "Jan 12": "892 -2",
                     "Jan 11": "894 -32",
                     "Jan 10": "926 -23",
                     "Jan 09": "949 -14"
                 }
                ]
            </script>
        }
        <div class="table-responsive" id="market-data">
            <div class="carousel-div" id="main-carousel">
                <div class="showinMob">
                    <div class="states_heading">
                    </div>
                    <div class="owl-wrapper">
                        <div class="owl-carousel owl-theme owl-loaded marketDataTable">
                        </div>
                    </div>
                </div>
                <div class="hideinMob">
                    <table class="table marketDataTable"></table>
                </div>
            </div>
        </div>
    }
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation2)
    {
        <script type="text/javascript">
            var jsonHoweRobinson = @Html.Raw(Model.jsonTableData);
        </script>

        <div class="small_table">
            <div class="table-responsive" id="howeRobinsonContainer">
                <div class="owl-dotsNav">&nbsp;</div>
                <div id="howeRobinson" class="carousel-div">
                    <div class="states_heading">
                    </div>
                    <div class="owl-wrapper">
                        <div class="owl-carousel owl-theme owl-loaded howeRobinsonTable">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

