@model Informa.Web.ViewModels.Casualty.MarketDataTableViewModel
@using Informa.Library.Utilities.References

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.TableType != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.TableType.Value))
{
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation1)
    {
        <script type="text/javascript">
            var jsonBalticIndices = @Html.Raw(Model.jsonTableData);
        </script>
        <div class="table-responsive" id="market-data">
            <div class="carousel-div" id="main-carousel">
                <div class="showinMob">
                    <div class="states_heading">
                    </div>
                    <div class="owl-wrapper">
                        <div class="owl-carousel owl-theme owl-loaded marketDataTable">
                        </div>
                    </div>
                </div>
                <div class="hideinMob">
                    <table class="table marketDataTable"></table>
                </div>
            </div>
        </div>
    }
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation2)
    {
        <script type="text/javascript">
            var jsonHoweRobinson = @Html.Raw(Model.jsonTableData);
        </script>
        <div class="table-responsive" id="howeRobinsonContainer">
            <div class="owl-dotsNav">&nbsp;</div>
            <div id="howeRobinson" class="carousel-div">
                <div class="states_heading">
                </div>
                <div class="owl-wrapper">
                    <div class="owl-carousel owl-theme owl-loaded howeRobinsonTable">
                    </div>
                </div>
            </div>
        </div>
    }
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation3)
    {
        <script type="text/javascript">
            var jsonMarketdataDryCargo = @Html.Raw(Model.jsonTableData);
        </script>
        <div class="small_table">
            <div class="table-responsive" id="market-Data-Dry-Cargo">
                <div class="table ID-Responsive-Table" data-modal="modal-annualresults" id="marketDataDryCargo">
                </div>
            </div>
        </div>
    }
}

