@model Informa.Web.ViewModels.Casualty.RelatedLinksViewModel

    @{ 
        var showInRightRail = Html.Sitecore().CurrentRendering.Parameters["Show in Right Rail"] == "1";
        var marketDataFolders = Model.GetRelatedFolders(showInRightRail);
        if (marketDataFolders != null && marketDataFolders.Any())
        {
        <div class="related-left-rail">
            <div class="relatedlinks">
             <div class="allrelatedlinks mrig">
             @foreach (var marketfolder in marketDataFolders)
             {
                            <ul>
                                <li class="article-topics__section-header">@marketfolder.SectionName</li>

                                @{
                                    var marketDetailPageList = marketfolder._ChildrenWithInferType.OfType<Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages.MarketData.IMarketData_Detail_Page>();
                                    if (marketDetailPageList != null && marketDetailPageList.Any())
                                    {

                                        foreach (var marketdetail in marketDetailPageList)
                                        {
                                            <li class="article-topics__li"><a href="@marketdetail._Url">@marketdetail.Title</a></li>
                                        }
                                    }

                                    }
                            </ul>
                                    }
               </div>
              </div>
           </div>
       }
   }



