@model Informa.Web.Areas.Account.ViewModels.Personalization.PersonalizationMessageViewModel

@if (Model != null && Model.IsAuthenticated && Model.IsGlobalToggleEnabled && !Model.HideWelcomeMessage)
{
    <div class="messaging_webUsers">
        <div class="msg_dismiss">
            <a href="javascript:void(0)" class="dismiss">@Model.DismissText</a>
        </div>
        <h3>@Model.MyViewText</h3>
        <div class="msg-text">
            <p>@Model.MessageSmall</p>
        </div>
        <div class="button-msg-webUser">
            <div class="msg_link"><a href="#">Lorem ipsum</a></div>
            <button type="submit" class="button--filled find_more" data-login-redirect-url="">@Model.FindOutMoreText</button>
        </div>
    </div>
}
