{% if max == false %}
	{% set max = 9 %}
{% endif %}
<div class="topic-subtopic">
	{% if topicSubtopicHeaderText %}
		<div class="topic-subtopic__header">
			<h1 class="topic-subtopic__title">{{topicSubtopicHeaderText}} <a href='#' >Explore this Topic</a></h1>
		</div>
	{% endif %}
	{% include "molecules-barred-divider" %}
	<div class="latest-news__articles">
		{% for i in 1..max %}
			{% include "organisms-article-preview--small" %}
		{% endfor %}
		{% include "molecules-button-full-diminished" %}
	</div>
</div>
