@media print {

    // Resets and normalization for printing
    * {
        color: black !important;
        text-shadow: none !important;
        filter:none !important;
        -ms-filter: none !important;

    -webkit-transition: none !important;
    transition: none !important;

    }

    body {
        margin: 0 auto;
        width: 7.5in;
    }
    @page {
        margin-top: 0.5in;
        margin-bottom: 0.5in;
        margin-left: 0.5in;
        margin-right: 0.5in;
    }

    a, a:visited { text-decoration: underline; }

    // Hide this stuff.
    .main-menu,
    .menu-toggler,
    .header-account-access,
    .header-search__wrapper,
    .banner,
    .article-prologue__share-bar,
    .advertising--leaderboard,
    .header__informa-permabanner,
    footer {
        display: none;
    }

    header,
    main {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 7.5in;
    }
    .main__wrapper {
        padding-left: 0;
        flex: 1 0 auto;
    }
    .main__content {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .header__wrapper {
        border: 0;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-flow: row;
    }
    .header__logo {
        margin-left: 0;
        height: 0.55in;
        flex: 0 0 auto;
        align-self: center;

        img {
            height: 100%;
            margin-right: 0;
        }
    }
    .boxout-print-info {
        display: block;
        height: auto;
        flex: 0 0 auto;
        font-size: 0.75rem;
        width: 60%;
        margin-right: 0;
    }

    .article-prologue__tags-bar {
        background: none;
        padding-left: 0;
    }

    .article-left-rail {
        width: calc(65% - 1rem);
    }
    .article-right-rail {
        width: calc(30% - 1rem);
    }
}
