@media print {

    // Resets and normalization for printing
    * {
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
        -webkit-transition: none !important;
        transition: none !important;
        font-size: 90%;
    }

    body {
        width: 100%;
        max-width: 100%;
    }

    @page {
        margin-top: 0.75in;
        margin-bottom: 0.75in;
        margin-left: 0.75in;
        margin-right: 0.75in;
    }

    // Hide this stuff.
    .main-menu,
    .menu-toggler,
    .header-account-access,
    .header-search__wrapper,
    .banner,
    .article-prologue__share-bar,
    .advertising--leaderboard,
    .header__informa-permabanner,
    .informa-ribbon,
    .article-preview__ad,
    .header__logo,
    .pop-out__trigger,
    .js-pop-out-trigger,
    .debugToolbar,
    footer {
        display: none;
    }

    a, a:visited {
        text-decoration: none;
    }

    header,
    main {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    header {
        max-height: 400px;
        height: auto;
    }
    main {
        // page-break-before: always;
         display: inline;
        //overflow: auto;
    }

    .main__content {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        position: relative;
        top: 0px;
        max-width: 100%;
    }
    .main__wrapper {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        float: none;
    }

    .header__wrapper {
        border: none;
        height: auto;
        max-height: 400px;
    }

    .header-logo-print {
        display: block;
        margin-left: 0;
        position: relative;
        left: 0px;
        flex: 0 0 auto;
        align-self: center;
    }

    .header-logo-print img {
        margin-left: 0px;
        max-width: 200px;
        max-height: 120px;
    }

    .boxout-print-info {
        @include textMix('Roboto', 0.875rem, 400);
        display: block;
        height: auto;
        flex: 0 0 auto;
        font-size: 0.75rem;
        width: 60%;
        margin-right: 0;
    }

    .boxout-print-info.footer {
        margin: 0px auto 0.5in;
        margin-right: auto;
        float: none;
    }

    .article-prologue {
        margin-bottom: 1.5rem;
    }
    .article-tags-bar a,
    .article-tags-bar a:nth-last-child(3):first-child {
        width: unset;
        color: purple;
    }

    .article-tags-bar {
        width: unset;
    }

    .article-author,
    .article-sidebar {
        background: none;
        border: 1px solid $color-light-gray;
        border-top-width: 2px;
    }

    .article-sidebar {
        border-top-width: 4px;
    }

    .article-tags-bar {
        background: none;
        padding-left: 0;
    }

    .bar-separated-link-list {
        padding-left:10px;
    }
    
    .article-left-rail {
        width: 100%;
        max-width: 100%;
    }

    .article-right-rail {
        width: 100%;
        max-width: 100%;
    }

    .article-executive-summary p {
        line-height: 1.5rem;
    }
    .article-body-content table:not(.article-table--mobile-link) {
        display: block;
        max-width: 100% !important;
    }

    .article-body-content table.article-table--mobile-link {
        display: none;
    }

    /*

    //.header__logo {
      //  margin-left: 0;
//        height: 0.55in;
        //flex: 0 0 auto;
        //align-self: center;
        //background-color: blue;
//
        //img {
            //height: 100%;
            //margin-right: 0;
        //}
    //}



  */
}
