/*

	SHAME
	http://csswizardry.com/2013/04/shame-css-full-net-interview/

	Hacks. Ugly fixes. Browser duct-tape. !important.
	Hopefully, this is empty.

*/

// TODO: Un-PNG this icon with Rose's better SVG encoder
// http://codepen.io/yoksel/details/JDqvs/
.article-topics__li:before,
.quickfactsbulleted li:before {
	background: url("/dist/img/icon-right-arrow.png") no-repeat;
	background-size: 7px auto;
	background-position: center left;
	content: "";
	height: 18px;
	width: 16px;
	display: inline-block;
	position: absolute;
	margin-left: -20px;
}
.quickfactsbulleted li {
	margin-left: 1.125rem;

	&:before {
		margin-top: 3px;
	}
}
