@using Informa.Library.Utilities.Extensions

@{
    var x = Model;
    var p = Page;
}

<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
    <h1>woot fun times</h1>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
    </body>
</html>
