@* @using Sitecore.Mvc.Analytics.Extensions *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="/styles/index-generated.css">

    @* <title>@Html.Sitecore().Field("title", new {DisableWebEdit = true})</title>*@
    @* @Html.Sitecore().VisitorIdentification() *@
</head>
<body>

    @Html.Partial("_LoginPartial")

    <div>
        @Html.Partial("../_Shared/AuthoredContent")
    </div>

</body>
</html>