@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData

<div class="article-left-rail">
    @Html.Sitecore().Placeholder("article-left-content")
</div>


<div class="article-right-rail">
    @Html.Sitecore().Placeholder("article-right-content")
</div>
                   
@*@{ Html.RenderPartial("../Article/ArticlePrologue");}*@