@using Glass.Mapper.Sc.Web.Mvc

<div class="article-left-rail">
    @Html.Sitecore().Placeholder("article-left-content")
</div>


<div class="article-right-rail">
    @Html.Sitecore().Placeholder("article-med-ad")
    @Html.Sitecore().Placeholder("article-right-content")
    @Html.Sitecore().Placeholder("article-film-ad")
</div>
                   
@*@{ Html.RenderPartial("../Article/ArticlePrologue");}*@