@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData

@* This is a test page for frontend.  These partials will get added via placeholders. *@

<div class="sub-topic-links">
    <span>Jump to section:</span>
    <div class="bar-separated-link-list">
        <a href="#">Companies</a>
        <a href="#">Deals</a>
        <a href="#">Strategy</a>
        <a href="#">Markets</a>
    </div>
</div>

@{
    Html.RenderPartial("Components/_ManuallyCuratedContent");

    Html.RenderPartial("Components/TopicSubtopic");

    Html.RenderPartial("Components/TopicSubtopic");

    Html.RenderPartial("Components/TopicSubtopic");

    Html.RenderPartial("Components/_ManuallyCuratedContent");
}
