<div class="search">

  <div class="search__header">

    <div class="search__header-icons">
      <h6 class="icon icon--email"><a>email</a></h6>
      <h6 class="icon icon--rss"><a>rss</a></h6>
    </div>

    <h1 class="search__header-title">Search Results</h1>

  </div>

  <div class="search__content">

    @Html.Partial("../Search/SearchFacets")
    @Html.Partial("../Search/SearchResults")

  </div>

</div>
