<div class="sorting-arrows">
	<svg class="sorting-arrows__arrow sorting-arrows__arrow--up is-active">
		<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-up-arrow"></use>
	</svg>
	<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
		<use xlink:href="/web/Website/dist/img/svg-sprite.svg#sort-down-arrow"></use>
	</svg>
</div>
