<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="ApplicationInsights.Enabled" value="false" />
      <setting name="ApplicationInsights.InstrumentationKey" value="" />
      <setting name="ApplicationInsights.ResourceID" value="" />
    </settings>                                                              
	</sitecore>
</configuration>
