<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
   <processors>
        <saveUI>            
            <processor mode="on" type="Sitecore.Extensions.Pipelines.Save.LogFieldChanges, Sitecore.Extensions"/>
         </saveUI>
    </processors>
  </sitecore>
</configuration>
