<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
   <processors>
        <saveUI>            
            <processor mode="on" type="Informa.Library.CustomSitecore.Pipelines.Article.SaveTitle, Informa.Library" patch:after="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']"/>
         </saveUI>
    </processors>
  </sitecore>
</configuration>
