<!--<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
      
			<setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
			<setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agribeta" />
			<setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
			<setting name="SalesforceSessionFactoryConfiguration.Token" value="ueyo93oBaRyHoUv8qmVReRa5" />
			<setting name="SalesforceSessionFactoryConfiguration.Timeout" value="3000" />
			<setting name="SalesforceServiceConfiguration.Url" value="https://cs60.salesforce.com/services/Soap/class/EBI_WebServices" />
    <setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
    <setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agridev" />
    <setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
    <setting name="SalesforceSessionFactoryConfiguration.Token" value="sjEHa8vQgfxBhnxib8WDWx1uA" />
    <setting name="SalesforceSessionFactoryConfiguration.Timeout" value="3000" />
    <setting name="SalesforceServiceConfiguration.Url" value="https://cs52.salesforce.com/services/Soap/class/EBI_WebServices" />
		</settings>
	</sitecore>
</configuration>-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
			<setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agribeta" />
			<setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
			<setting name="SalesforceSessionFactoryConfiguration.Token" value="ueyo93oBaRyHoUv8qmVReRa5" />
			<setting name="SalesforceSessionFactoryConfiguration.Timeout" value="10000" />
			<setting name="SalesforceServiceConfiguration.Url" value="https://cs60.salesforce.com/services/Soap/class/EBI_WebServices" />

      <!--Redirection URL for registration-->
      <setting name="SalesforceRegistration.Url" value="https://idpoc-agrivertical.cs82.force.com/CommunitiesSelfRegALT?p=agri"/>

      <!--Redirection URL for Forgot password-->
      <setting name="SalesforceForgotPassword.Url" value="https://informabi--idpoc.cs82.my.salesforce.com/secur/forgotpassword.jsp"/>
    
        <!--Pseudo user for transparent IP-->
     <setting name="SalesforcePseudoUser.Name" value="sitecore@apiaccess.com"/>
     <setting name="SalesforcePseudoUser.Password" value="Autumn2016c2eriLttmPcYcF6pMfbQRqOIr"/>
      
      <!--Transparent Ip range-->
      <setting name="TransparentIp.From" value="192.168.123.100"/>
      <setting name="TransparentIp.To" value="192.168.123.150"/>

      <setting name="SpoofedIp" value="192.168.123.12"/>
    
		</settings>
	</sitecore>
</configuration>