<!--<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
      
			<setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
			<setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agribeta" />
			<setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
			<setting name="SalesforceSessionFactoryConfiguration.Token" value="ueyo93oBaRyHoUv8qmVReRa5" />
			<setting name="SalesforceSessionFactoryConfiguration.Timeout" value="3000" />
			<setting name="SalesforceServiceConfiguration.Url" value="https://cs60.salesforce.com/services/Soap/class/EBI_WebServices" />
    <setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
    <setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agridev" />
    <setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
    <setting name="SalesforceSessionFactoryConfiguration.Token" value="sjEHa8vQgfxBhnxib8WDWx1uA" />
    <setting name="SalesforceSessionFactoryConfiguration.Timeout" value="3000" />
    <setting name="SalesforceServiceConfiguration.Url" value="https://cs52.salesforce.com/services/Soap/class/EBI_WebServices" />
		</settings>
	</sitecore>
</configuration>-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="SalesforceSessionFactoryConfiguration.Url" value="https://test.salesforce.com/services/Soap/c/22.0/0DFR0000000CeVX" />
			<setting name="SalesforceSessionFactoryConfiguration.Username" value="apiuserweb@elsevier.com.agribeta" />
			<setting name="SalesforceSessionFactoryConfiguration.Password" value="ebI3Zuser!" />
			<setting name="SalesforceSessionFactoryConfiguration.Token" value="ueyo93oBaRyHoUv8qmVReRa5" />
			<setting name="SalesforceSessionFactoryConfiguration.Timeout" value="10000" />
			<setting name="SalesforceServiceConfiguration.Url" value="https://cs60.salesforce.com/services/Soap/class/EBI_WebServices" />

      <!--Redirection URL for registration-->
      <setting name="SalesforceRegistration.Url" value="https://idpoc-agrivertical.cs82.force.com/CommunitiesSelfReg?startURL=%2Fs%2F"/>
		</settings>
	</sitecore>
</configuration>