<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:deleted">
				
			</event>
			<event name="item:saved">
				<handler type="Informa.Library.Publishing.Scheduled.Events.ScheduledPublishItemSave, Informa.Library" method="Process" />
			</event>
			<event name="item:versionRemoved">
				
			</event>
		</events>
	</sitecore>
</configuration>
