@model  Informa.Web.ViewModels.FinanceCompanies.CompanyProfileViewModel

<div class="messaging_webUsers companyProfile article-sidebar">
    <h3>@Model.ProfileTitle</h3>
    <div class="msg-text">
        <p>@Model.ProfileText</p>
    </div>
</div>