@model  Informa.Web.ViewModels.FinanceCompanies.CompanyProfileViewModel


<h2>COMPANIES</h2>
<div class="companyList">
    <ul>
        @foreach (var company in Model.FinanceCompanies)
        {
            <li class="article-topics__li">
                <a href="/financecompanies/@company._Name">@company.Companyname</a>
            </li>
        }   
    </ul>
</div>