@model  Informa.Web.ViewModels.FinanceCompanies.CompanyProfileViewModel


<div style="border:2px solid Grey;">
   
    @foreach (var company in Model.FinanceCompanies)
    {

        <a href="/financecompanies/@company._Name">@company.Companyname</a><br />
    } 

</div>