@model  Informa.Web.ViewModels.FinanceCompanies.AllCompanyListModel
<div class="messaging_webUsers article-sidebar">
    <h2><a href="#">COMPANIES</a></h2>
    <div class="companyList">
        <ul>
            @foreach (var company in Model.FinanceCompanies)
            {
                <li class="article-topics__li">
                    <a href="/financecompanies/@company._Name">@company.Companyname</a>
                </li>
            }
        </ul>
    </div>
</div>
