﻿@model Informa.Web.ViewModels.FinanceCompanies.MergersAndAquisitionsViewModel

<div>
     
   @foreach (var Graph in Model.AMGraphs)
    {
         <div>@Graph.GraphTitle</div>
         <div>@Graph.GraphColor</div>
         <div>@Graph.GraphType</div>
        
    }
    <script type="text/javascript">
        var mergersAndAquisitionsData = JSON.parse(JSON.stringify(@Html.Raw(Model.MergersAquitions)));
    </script>
</div>



