@model Informa.Web.ViewModels.FinanceCompanies.PeerGroupMessagingViewModel
<div class="data-tool-landing">    
    <div class="js-toggle-demo">
        <ul class="show-demo">
            <li><a class="sd" href="javascript: void(0);">@Model.MessageBoxShowText</a></li>
            <li><a class="hd" href="javascript: void(0);">@Model.MessageBoxShowText</a></li>
        </ul>
        <div class="toggle-demo">
            <div class="demoText">
                <h5>@Model.InstructionTitle</h5>
                @Html.Raw(Model.InstructionText)
            </div>
        </div>
    </div>

</div>