@model Informa.Web.ViewModels.FinanceCompanies.PeerGroupDetailViewModel
<div class="peer-grop-info-modal">
    <div class="peer-group-page-title"><h1>@Model.PeerGroupPageTitleTemplate.Replace("#CompanyName#", Model.PeerGroupPageTitle)</h1></div>
    <hr />
    <div class="company-peer-group-details">
        @Html.Sitecore().Placeholder("company-peer-group-detail")
    </div>    
</div>

