@model Informa.Web.ViewModels.FinanceCompanies.PeerGroupDetailViewModel
<div class="peer-grop-info-modal">
    <span class="peer-group-info-title">@Model.InstructionTitle</span>
    <div class="peer-group-info-text">@Html.Raw(Model.InstructionText)</div>
</div>

