@model SearchViewModel

<section class="search-metadata" ng-controller="searchMetaController as meta">

    <div class="search-header__results-meta">

        @Model.SearchShowingResults1Text
        <strong>
            {{ meta.currentResults }}
        </strong>
        @Model.SearchShowingResults2Text
        <strong class="js-searchTotalResults">
            {{ meta.totalResults | number }}
        </strong>
        @Model.SearchShowingResults3Text
        <span ng-if="meta.keywords">
         @Model.SearchShowingResults4Text <strong class="js-searchKeyword">&ldquo;{{ meta.keywords }}&rdquo;</strong>
        </span>
    </div>

    <dl class="search-header__facet-tag-list">
    </dl>

</section>
