@model dynamic

<section class="search-results" ng-controller="searchResultsController as results">

    <!-- start Media Object - Default (no width) -->
    <div class="result" ng-repeat="doc in results.docs">
        <div class="result__body">

            <div class="result__pubdate">
                <time datetime="2015-01-15">{{doc.searchDate | date: 'd MMM yyyy' }}</time>
            </div>

            <span class="result__line-seperator" ng-if="doc.contentType !== ''"></span>

            <div class="result__content-type">
                 {{doc.contentType }}
            </div>

            <!-- <div class="article-preview__bookmarker pop-out__trigger js-pop-out-trigger"
                 data-pop-out-type="sign-in"
                 data-pop-out-align="right">
                <svg class="article-prologue__share-icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                </svg>
            </div> -->

            <span ng-repeat="tax in doc.searchDisplayTaxonomy.links">
                <a  href="{{tax.url}}">
                    {{tax.title}}
                </a><span ng-if="!$last">, </span>
            </span>

            <div class="result__publication">{{ doc.publicationTitle }} </div>

            <a class="result__heading" ng-href="{{ doc.url }}" title="Page Title">
                {{ doc.title }}
            </a>

            <div class="result__author">by {{ doc.byline }}</div>

            <p class="result__description">{{ doc.summary }}</p>

            <!-- <div class="article-preview__tags bar-separated-link-list">
                <span ng-repeat="tax in doc.searchDisplayTaxonomy.links">
                    <a href="{{tax.url}}">
                        {{tax.title}}
                    </a>
                </span>
                <span ng-if="!$last">
                    ,
                </span>
            </div> -->

        </div>
    </div>


    <!-- end Media Object - Default (no width) -->
</section>



@*<section class="search-results article-preview topic-featured-article" ng-controller="searchResultsController as results">
    <!-- start Media Object - Default (no width) -->
    <div class="result" ng-repeat="doc in results.docs">
        <div class="article-metadata">
            <div class="article-preview__bookmarker pop-out__trigger js-pop-out-trigger"
                 data-pop-out-type="sign-in"
                 data-pop-out-align="right">
                <svg class="article-prologue__share-icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
                </svg>
            </div>
            <ul>
                <li>
                    <time class="article-metadata__date">{{doc.searchDate | date: 'longDate' }}</time>
                </li>

                <li>
                    <h6>  | {{doc.contentType }}</h6>
                </li>
            </ul>
        </div>


        <div class="topic-featured-article__inner-wrapper">
            <h3 class="topic-featured-article__headline">
                <a ng-href="{{ doc.url }}" title="Page Title">
                    {{ doc.title }}
                </a>
            </h3>

            <span class="article-preview__byline">
                by {{ doc.byline }}
            </span>

            <div class="article-summary">
                {{ doc.summary }}
            </div>
        </div>

        <div class="article-preview__tags bar-separated-link-list">
            <span ng-repeat="tax in doc.searchDisplayTaxonomy.links">
                <a href="{{tax.url}}">
                    {{tax.title}}
                </a>
            </span>
            <span ng-if="!$last">
                ,
            </span>

        </div>
    </div>
    <!-- end Media Object - Default (no width) -->
</section>*@
