<div class="search-bar">
<!-- TODO: where should the form wrap be? -->

  <h3 class="search-bar__label"><label for="js-search-field">Search</label></h3>

  <div class="search-bar__content">
    <input id="js-search-field" class="search-bar__field" type="search" placeholder="Search the site" ng-controller="searchQueryController as query" ng-model="query.keywords" ng-model-options="{ debounce: { 'default': query.typingTimeout } }" ng-change="query.update()">
    <svg class="dismiss-button__icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
			</svg>

    <!--TODO: get correct svg icon and update classes (extend from header) -->
    <svg class="search-bar__submit search-bar__icon search-bar__icon--search js-header-search-trigger">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#search"></use>
    </svg>
    <!--<button class="search__submit" type="submit">Submit</button>-->

    <a class="search-bar__tips">
      <svg class="search-bar__icon search-bar__icon--info">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#info"></use>
      </svg>
      Search Tips
    </a>
  </div>

  <div class="search-bar__footer">
    <!-- TODO: fix toggle -->
    <div class="search-bar__headline-toggle onoffswitch">
        <input type="checkbox" name="headline-toggle" class="onoffswitch-checkbox" id="headline-toggle">
        <label class="onoffswitch-label" for="headline-toggle">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div class="search-bar__headline-label">
      View headlines only
    </div>

  </div>

</div>
