
<section class="search-header__meta-container"
         ng-controller="searchMetaController as meta">
    <p class="search-header__results-meta"><strong>{{ meta.currentResults }}</strong> of <strong>{{ meta.totalResults }}</strong> results<span ng-if="meta.keywords"> for keyword: <strong>&ldquo;{{ meta.keywords }}&rdquo;</strong></span><span ng-if="meta.selectedFacetGroups.length"> within:</span></p>
    <dl class="search-header__facet-tag-list">
        <dt ng-repeat-start="facetGroup in meta.selectedFacetGroups">{{facetGroup.label}}:</dt>
        <dd ng-repeat-start="facet in facetGroup.getSelectedFacets()">
            <a href=""
               title="{{facet.label}}"
               class="btn btn--tag"
               ng-click="meta.deselectFacet(facet.id)">
                {{facet.label}}
                <svg class="icon icon-cancel_circle">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svgdefs.svg#icon-cancel_circle">
                    </use>
                </svg>
            </a>
        </dd>
        <dd ng-repeat-end ng-hide="true"></dd>
        <dd ng-repeat-end ng-hide="true"></dd>
    </dl>
</section>
