
<div id="search-facet-01"
     class="search-facet search-facet--expand-short search-facet--list"
     ng-controller="searchFacetsController as allFacets">
    <fieldset class="search-facet__fieldset"
              ng-repeat="group in allFacets.facetGroups">
        <legend class="search-facet__legend">{{ group.label }}</legend>
        <div class="search-facet__checkbox-group"
             ng-repeat="f in group.facets">

            <input id="{{ group.id }}-{{ $index }}"
                   type="checkbox"
                   class="visuallyhidden"
                   ng-checked="f.selected"
                   ng-model="f.selected"
                   ng-change="allFacets.update()">
            <label ng-if="f.label" for="{{ group.id }}-{{ $index }}">{{ f.label }} ({{f.count}})</label>
        </div>
        <button type="reset"
                class="btn btn--reset search-facet__reset"
                ng-click="allFacets.clearGroup(group.id)">
            Clear All
        </button>
    </fieldset>
</div>
