<div class="search__bar">
<!-- TODO: where should the form wrap be? -->

  <h4 class="search__field">Search</h4>

  <input class="search__field" type="search" placeholder="Search the site">

  <!--TODO: get correct svg icon and update classes (extend from header) -->
  <svg class="header__icons header__icons--search js-header-search-trigger">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#search"></use>
  </svg>
  <!--<button class="search__submit" type="submit">Submit</button>-->

  <button class="icon icon--info">Search Tips</button>

</div>
