<div class="search-bar">
<!-- TODO: where should the form wrap be? -->

  <h3 class="search-bar__label"><label for="js-search-field">Search</label></h3>

  <div class="search-bar__content">
    <input id="js-search-field" class="search-bar__field" type="search" placeholder="Search the site">

    <!--TODO: get correct svg icon and update classes (extend from header) -->
    <svg class="header__icons header__icons--search search-bar__submit js-header-search-trigger">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#search"></use>
    </svg>
    <!--<button class="search__submit" type="submit">Submit</button>-->

    <a class="icon icon--info search-bar__tips">Search Tips</a>
  </div>

  <div class="search-bar__footer">

    <div class="search-bar__headline-toggle onoffswitch">
        <input type="checkbox" name="headline-toggle" class="onoffswitch-checkbox" id="headline-toggle">
        <label class="onoffswitch-label" for="headline-toggle">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div class="search-bar__headline-label">
      View headlines only
    </div>

  </div>

</div>
