@using Informa.Library.Utilities.References

@model SearchViewModel
 @*TODO: What is the max # of numbered pages to list?
     TODO: Will there be 2 ellipsis if you're in the middle, e.g.  "First ... 7 8 9 10 11 ... Last" ?
     TODO: Add a class to the active page number*@



<div class="search-pagination__wrapper" ng-controller="searchPaginationController as paginator">
    <select ng-controller="PageSizeController as sizer" ng-model="pageSize" ng-init="sizer.init()" ng-change="sizer.update(pageSize)">
        @foreach (int page in Constants.PerPageSizes)
        {
        <option value="@page">@page</option>
        }
    </select>
    <ol class="search-pagination__pagination-list" ng-if="paginator.showPagination">
        <li ng-if="!paginator.isFirstPageInBlock()">
            <a href="" title="Page {{paginator.pageFirst}}" ng-click="paginator.goto(paginator.pageFirst)">@Model.PageFirstText</a>
        </li>
        <li ng-if="!paginator.isFirstPageInBlock()">...</li>
        <li ng-repeat="page in paginator.pageBlock" ng-class="{ 'is-active': page.current }">
            <a href="" title="Page {{page.label}}" ng-click="paginator.goto(page.num)">{{page.label}}</a>
        </li>
        <li ng-if="!paginator.isLastPageInBlock()">...</li>
        <li ng-if="!paginator.isLastPageInBlock()">
            <a href="" title="Page {{paginator.pageLast}}" ng-click="paginator.goto(paginator.pageLast)">@Model.PageLastText</a>
        </li>
    </ol>
</div>
