
<section class="search-metadata" ng-controller="searchMetaController as meta">

    <div class="search-header__results-meta">
        <strong>{{ meta.currentResults }}</strong> of <strong>{{ meta.totalResults }}</strong> results<span ng-if="meta.keywords"> for keyword: <strong>&ldquo;{{ meta.keywords }}&rdquo;</strong></span><span ng-if="meta.selectedFacetGroups.length"> within:</span>
    </div>

    <dl class="search-header__facet-tag-list">
    </dl>

</section>
