
<div class="search__facets">

  <div class="facets__header">
    <h4>Filter By</h4>
    <button class="clear">Clear All</button>
  </div>

  <div class="facets__section">
    <h5 class="facets__section-header">Subject</h5>
    <ul class="facets__section-list">
      <li><input type="checkbox"><label for="">Lorem ipsum</label></li>
      <li><input type="checkbox"><label for="">Corrupti ipsa</label></li>
      <li><input type="checkbox"><label for="">Maxime vita!</label></li>
      <li><input type="checkbox"><label for="">Eveniet quisquam</label></li>
      <li><input type="checkbox"><label for="">Veniam voluptatum</label></li>
      <li><input type="checkbox"><label for="">Placeat rem</label></li>
    </ul>
  </div>

</div>
