@model SearchViewModel

<section class="search-sort" ng-controller="searchSortController as sorter">

    <div aria-labeledby="aria-label-sort" class="" role="">

        <h6 id="aria-label-sort" class="search-sort__title">@Model.SearchSortByText</h6>

        <ol class="search-sort__control-list">

            @Html.Sitecore().Placeholder("search-sort-options")

            <span class="search-sort__line-separator"></span> <!-- TODO: only add this divider line if there are multiple sort options. add it between every sort option.-->

            <li class="search-sort__control-type" ng-class="{ 'is-selected': sorter.sortBy === 'relevance' }">
                <a href=""
                   title="Relevance"
                   class="btn btn--sort"
                   ng-click="sorter.setBy('relevance')">@Model.SearchRelevanceText</a>
            </li>
            
        </ol>
    </div>
</section>

