<!-- SEARCH FILTERS IN LEFT RAIL -->

<div id="search-facet-01" class="search__facets search__left-sidebar"ng-controller="searchFacetsController as allFacets"><!-- removed classes "search-facet, search-facet--expand-short search-facet--list" -->

  <div class="facets__header">
    <h3>Filter By</h3>
    <a class="facets__clear js-clear-all-filters">Clear All</a>
  </div>

  <div class="facets__content">

    <div class="facets__section" ng-repeat="group in allFacets.facetGroups">
      <h4 class="facets__section-header">{{ group.label }}</h4>
      <ul class="facets__section-list" ng-repeat="f in group.facets">
        <li>
          <input id="{{ group.id }}-{{ $index }}"
          type="checkbox"
          class="visuallyhidden"
          ng-checked="f.selected"
          ng-model="f.selected"
          ng-change="allFacets.update()">
          <label ng-if="f.label" for="{{ group.id }}-{{ $index }}">{{ f.label }} ({{f.count}})</label>
        </li>
      </ul>
    </div>

    <!-- EXAMPLE SEARCH FACETS MARKUP BELOW -->

    <!-- <div class="facets__section">
      <h4 class="facets__section-header">Therapy Areas</h4>
      <ul class="facets__section-list">
        <li><input type="checkbox"><label for="">Lorem ipsum</label></li>
        <li><input type="checkbox"><label for="">Corrupti ipsa</label></li>
        <li><input type="checkbox"><label for="">Maxime vita!</label></li>
        <li><input type="checkbox"><label for="">Eveniet quisquam</label></li>
        <li><input type="checkbox"><label for="">Veniam voluptatum</label></li>
        <li><input type="checkbox"><label for="">Placeat rem</label>
            <ul class="facets__section-list--sub">
              <li><input type="checkbox"><label for="">Lorem ipsum dolor</label></li>
              <li><input type="checkbox"><label for="">Minima voluptatibus animi</label></li>
              <li><input type="checkbox"><label for="">Tempora quia quaerat</label></li>
              <li><input type="checkbox"><label for="">Voluptas repellendus nisi</label></li>
              <li><input type="checkbox"><label for="">Explicabo ipsum natus</label></li>
              <li><input type="checkbox"><label for="">Quo beatae tempore</label></li>
            </ul>
        </li>
      </ul>
    </div> -->


    <!-- EXAMPLE MARKUP OF BOOKMARK FROM ARTICLE PAGE -->

    <!-- <li	class="article-prologue__share-item pop-out__trigger @( Model.IsUserAuthenticated ? "js-bookmark-article" : "js-bookmark-article" )"
    	data-pop-out-type="sign-in"
    	data-pop-out-align="right">
    	<span class="article-prologue__share-label">
    		@( Model.IsArticleBookmarked ? Model.BookmarkedText : Model.BookmarkText )
    	</span>
    	<svg class="article-prologue__share-icon article-prologue__share-icon--bookmark">
    		<use xlink:href="/dist/img/svg-sprite.svg#@( Model.IsArticleBookmarked ? "bookmarked" : "bookmark" )"></use>
    	</svg>
    </li> -->



  </div> <!-- / facets__content -->

</div><!-- / search__facets -->
