@using Sitecore.Mvc.Presentation
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<RenderingModel>

<section class="search-sort"
         ng-controller="searchSortController as sorter">
    <nav aria-labeledby="aria-label-sort" class="search-sort__control-nav" role="navigation">
        <h1 id="aria-label-sort">Sort your results by:</h1>
        <ol class="search-sort__control-list">
            <li ng-class="{ 'is-selected': sorter.sortBy === 'relevance' }">
                <a href=""
                   title="Relevance"
                   class="btn btn--sort"
                   ng-click="sorter.setBy('relevance')">Relevance</a>
            </li>
            @Html.Sitecore().Placeholder("search-sort-options")
        </ol>
    </nav>
</section>
