<p style="font-size: 1rem"  class="styleguide__roboto">"Roboto", Helvetica, Arial, sans-serif;</p>
<p style="font-size: 1rem"  class="styleguide__roboto"><em>"Roboto", Helvetica, Arial, sans-serif;</em></p>
<p style="font-size: 1rem"  class="styleguide__roboto"><strong>"Roboto", Helvetica, Arial, sans-serif;</strong></p>
<p style="font-size: 1rem"  class="styleguide__robotocond">"Roboto Condensed", Arial Narrow, sans-serif;</p>
<p style="font-size: 1rem"  class="styleguide__robotocond"><em>"Roboto Condensed", Arial Narrow, sans-serif;</em></p>
<p style="font-size: 1rem"  class="styleguide__robotocond"><strong>"Roboto Condensed", Arial Narrow, sans-serif;</strong></p>
<p style="font-size: 1rem"  class="styleguide__ptserif">"PT Serif",Georgia,serif</p>
<p style="font-size: 1rem"  class="styleguide__ptserif"><em>"PT Serif",Georgia,serif</em></p>
<p style="font-size: 1rem"  class="styleguide__ptserif"><strong>"PT Serif",Georgia,serif</strong></p>
