.theme-medtech {

    @include theme-links($color-sapphire-blue);

    @include theme-buttons(
        $color-jonquil-yellow,
        $color-jonquil-yellow,
        $color-zeus-black,
        $color-jonquil-yellow,
        $color-maize-yellow,
        $color-zeus-black);

    @include theme-main-menu($color-jonquil-yellow, $color-sapphire-blue);

    @include theme-subnav($color-jonquil-yellow);

    @include theme-banners($color-jonquil-yellow, inherit);

    @include theme-call-out-boxes($color-concrete-gray, $color-marine-blue);

    @include theme-bordered-elements($color-marine-blue);

    @include theme-interviews(
    	transparentize($color-marine-blue, 0.8),
    	transparentize($color-marine-blue, 0.5),
    	transparentize($color-jonquil-yellow, 0.8),
    	$color-jonquil-yellow);

    .article-topics__li:before,
    .quickfactsbulleted li:before,
	.quick-facts__list--ul li:before {
        @include svg-fill($color-marine-blue);
	    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cpath%20fill%3D%22%23034a7c%22%20d%3D%22M18.18%2060c-.8%200-1.6-.3-2.2-.94-1.2-1.26-1.2-3.3%200-4.57l22.9-23.75L14.52%205.5c-1.2-1.26-1.2-3.3%200-4.56%201.22-1.26%203.2-1.26%204.4%200l26.56%2027.54c1.2%201.26%201.2%203.3%200%204.56l-25.1%2026.02c-.6.63-1.4.94-2.2.94z%22/%3E%3C/svg%3E%0A);
    }

    .article-topics__li ul li:before,
    .quickfactsbulleted li ul li:before,
	.quick-facts__list--ul li ul li:before {
        color: $color-marine-blue;
        background: none;
        margin-left: -18px;
        padding-right: 0.5rem;
    }


	@include theme-quick-facts(
		transparentize($color-jonquil-yellow, 0.7),
		transparentize($color-jonquil-yellow, 0.2));
		
}
