@mixin theme-links($color) {

    a,
	.msg-text h3,
	.red,
	.dismiss .dismiss-button__icon,
    .facets__button,
    .facets__button svg,
    .sorting-arrows__arrow.is-active,
    .article-key-document__icon {
        @include on-event(true) {
            color: $color;
            @include svg-fill($color);
        }
    }

    footer a,
	.general-header__navigation a,
    .sortable-table__col a {
        color: inherit;
    }

    .header-account-access {
        &__my-account,
        &__sign-in-out,
        &__error-msg {
            color: $color;
        }
    }

    .article-preview__headline,
	.li-content-company__headline,
    .topic-featured-article__headline {
        &,
        & a {
            color: $color-zeus-black;

            &:hover {
                color: $color;
            }
        }
    }
}


@mixin theme-buttons($border, $background, $text, $border-hover: $border, $background-hover: $background, $text-hover: $text) {

    .button--filled:not([disabled]),
    .search-bar__submit,
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        background: $background;
        background-color: $background;
        color: $text;

        &:hover {
            background: $background-hover;
            background-color: $background-hover;
        }
    }

    .button--outline:not([disabled]) {
        border-color: $border;

        &:hover {
            background-color: $background-hover;
            border-color: $border-hover;
            color: $text-hover;
        }
    }
}


@mixin theme-main-menu($hover-bars, $footer-links) {
    .main-menu {

        &__hoverable:hover:before {
            background-color: $hover-bars;
        }

        &__section-title a {
            color: inherit;
        }

        &__footer-link a {
            color: $color-abbey-gray;

            @include on-event(false) {
                color: $footer-links;
            }
        }
        &__section-link {
            @include on-event(true) {
                color: $color-abbey-gray;
            }
        }
    }
}


@mixin theme-subnav($underline) {
    .general-header__navigation a.is-active,
    .general-header__navigation a:hover, {
        border-bottom-color: $underline;
    }
}


@mixin theme-banners($background, $text) {
    //.banner--cookie-policy,
    .banner--register,
	.banner--alert {
        background-color: $background;

		&,
		& span,
		& svg {
			@include svg-fill($text);
			color: $text;
		}

        a {
            @include on-event(true) {
                color: $text;
            }
        }
    }
}


@mixin theme-call-out-boxes($background, $border) {
    .newsletter-signup,
    .quick-facts {
        background-color: $background;
    }
	.newsletter-signup {
		border-top: 4px solid $border;
	}
	.messaging_webUsers {
		border-top: 4px solid $border;
	}
	.messaging_webUsers_white{
		border-top: 4px solid $border;
		border-bottom: 1px solid $border;
	}
}

@mixin theme-quick-facts($background, $divider) {
	.quick-facts {
		background-color: $background;

		hr {
			background-color: $divider;
		}
	}
}


@mixin theme-bordered-elements($color) {
    .article-pullquote,
    .quote,
    .article-sidebar,
    .topic-subtopic__header {
        border-top-color: $color;
        border-bottom-color: $color;
        border-color: $color;
    }

    .latest-news__header:before {
        background-color: $color;
    }
    .theme-header__underline {
        border-bottom: 4px solid $color;
        padding: 1.5rem 0;
    }
    .article-list-sidebar__wrapper {
        border-bottom: 4px solid $color;
    }
    .theme-hover__header a {
        color: $color-zeus-black;
        &:hover {
            color: $color;
        }
    }
    .rolling-stream {
        h2 {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 4px;
                width: calc( 100% - 15px);
                background: $color;
                left: 0;
            }
        }
        h5 {
            a {
                color: $color-zeus-black;
                &:hover {
                    color: $color;
                }
            }
        }
        .article-related-content__date {
            color: $color;
        }
    }
	
	.header-line-control:after{
		border: 2px solid $color;
	}
	.package-control-articles__wrapper{
		border-bottom: 4px solid $color;
	}
}


@mixin theme-interviews($question-back, $question-border, $answer-back, $answer-border) {
    .article-interview__question:before {
        background-color: $question-back;
        border-color: $question-border;
    }

    .article-interview__answer {
        &,
        &:before {
            border-color: $answer-border;
        }

        &:before {
            background-color: $answer-back;
        }
    }
}

@mixin theme-table($primary-color, $seconday-color, $tertiary-color, $table-hover-color) {
    .idi-table-heading, .controls, .merge-heading,
    .ID-Responsive-Table .table_head,
    .table-responsive .table .table_head,
    .table.theme-table thead tr:first-child th {
        background-color: $primary-color;
    }
    .label-wrap, .show-largest-btn, .merge-form-items,
    .table-wrapper .tableHead,
    .table.theme-table thead tr th {
        background-color: $seconday-color;
    }
    #tanker-fixtures.table-responsive .table .table_head {
        background-color: $tertiary-color;
    }
    .ID-Responsive-Table {
        .owl-dots{
          float: left;
          margin-top: 20px;
          .owl-dot {
            span {
                background: $seconday-color;
            }
            &.active {
                span {
                    background: $color-white !important;
                }
                &:hover {
                    span {
                        background: $color-white;
                    }
                }
            }
            &:hover {
                span {
                    background: $seconday-color;
                }
            }
          }
        }
    }
    .year_heading {
        background-color: $seconday-color !important;
    }
    .merge-acquistion tr:hover,
    //.activate-hover,
    .tableRow:hover .tableCell {
        background-color: $table-hover-color !important;
    }
    .table .table_head tr.visible-lg {
        background-color: $seconday-color;
    }
    #cockett-Bunker .table_head {
        background-color: $seconday-color !important;
        tr:first-child {
            background-color: $primary-color !important;
        }
    }
}
