<div class="clearfix">
	<p>
		<button href="#" class="button--filled">Button, Filled</button>
	</p>
	<p>
		<button href="#" class="button--outlined">Button, Outlined</button>
	</p>
	<p>
		<button href="#" class="button--outline">Button, Outline</button>
	</p>
	<p>
		<button href="#" class="button--gilded">Button, Gilded</button>
	</p>
	<p>
		<a class="full-diminished-button" href="#">
			Full Diminished Button (Fake Button)
		</a>
	</p>
</div>
