{% if buttonText == false %}
	{% set buttonText = "Full Diminished Button (Fake Button)" %}
{% elseif buttonText == "random" %}
	{% set buttonText = random(randomButtons).text %}
{% endif %}
<a class="full-diminished-button" href="#">{{buttonText}}</a>
