.search__facets {
  @include textMix('Roboto', 13px, 400);
  border: 1px solid $informa-light-gray-d;
  margin-bottom: 20px;

  @include breakpoint('medium') {
    display: none;
  }
}

.facets {

  &__mobile-button {
    display: none;

    @include breakpoint('medium') {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      border: 0;
      background-color: $informa-light-orange;
      text-align: center;

      h6 {
        padding: 10px;
      }
    }
  }

  &__header {
    padding: 20px;
    border-bottom: 2px solid $informa-light-gray-d;

    h3 {
      display: inline-block;
      color: $informa-black;
    }
      cursor: pointer;
  }

  &__content {
    padding: 20px;
  }

  &__section {
    font-size: 15px;
    line-height: 23px;

    &:not(:first-child) {
      padding-top: 20px;
      border-top: 1px solid $informa-light-gray-d;
    }
  }

  &__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  &__legend {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    color: $informa-black;
    position: relative;

    h4 {
      display: inline;
    }

    button {
      position: absolute;
      right: 5px;
    }
  }

  &__section-list {

    &--sub {
      padding-top: 10px;
      padding-left: 30px;

      input[type="checkbox"] + label {
        font-size: 13px;
        line-height: 20px;
      }
    }

    li {
      padding-bottom: 10px;
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      opacity: 0; // hiding to replace with custom checkbox style
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      font-size: 15px;
      line-height: 23px;
      position: relative;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      font-weight: 700;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      content: " ";
      display: inline-block;
      height: 17px;
      width: 17px;
      border: 1px solid $informa-light-gray-d;
      border-radius: 20%;
      margin-right: 15px;
      vertical-align: text-bottom;
    }

    input[type="radio"] + label:before {
      border-radius: 50%; // override above border-radius from style shared with checkbox
    }

    input[type="checkbox"]:checked + label:after {
      // DEV NOTE: see '_shame.scss' for style
    }

    input[type="radio"]:checked + label:after {
      content: "\2022";
      position: absolute;
      left: 3px;
      top: -1px;
      font-size: 30px;
    }

  }

  &__field-group {
    padding-left: 32px;

    &--from {
      margin-top: 10px;
    }

    &--companies {
      padding: 0;
    }

    label {
      color: $color-medium-gray-8;
      font-size: 13px;
      display: block;

      h4 {
        display: inline;
      }
    }

    input {
      border: 1px solid $informa-light-gray-d;
      padding-left: 5px;

      // autoprefixer doesn't seem to be catching these
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &::placeholder {
        color: $color-medium-gray-8;
      }
    }

    svg {
      @include svg-fill($informa-mid-gray);
      width: 20px;
      height: 30px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  &__button {
    @extend .button--plain;
    color: $informa-red;

    &--clear {
      float: right;
      line-height: 29px;
      cursor: pointer;
    }

    &--clear-company {
      padding: 0;
      margin-right: 11px;
      
      svg {
        @include svg-fill($informa-red);
        margin: 0;
        width: 15px;
        height: 15px;
      }
    }

    &--more,
    &--less, 
    &--add {
      margin: 10px auto;
      width: 100%;

      &.collapsed {
      display: none;
      }

      svg {
        @include svg-fill($informa-red);
        width: 10px;
        vertical-align: middle;
        margin-left: 3px;
      }
    }

    &--add {
      svg {
        vertical-align: text-top;
      }
    }

    &--toggle-section {
      @include svg-fill($color-medium-gray-8);
      // transition: all 300ms ease-in 0s;
      // transform-origin: 50%;
      width: 16px;
      height: 23px;

      &.collapsed {
        transform: rotate(180deg);
      }
    }

    &--toggle-subcat {
      float: right;

      svg {
        @include svg-fill($informa-light-gray-d);
        width: 18px;
      }
    }
  }


}

