.search-sort {
    display: inline-block;
    float: right;

    @include breakpoint('medium') {
        display: block;
        float: left;
        order: 3;
        margin-bottom: 23px;
    }

    &__title {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 5px;
    }

    &__line-separator {
        @extend .result__line-separator;
    }

    &__control-list {
        display: inline-block;
    }

    &__control-type {
        display: inline-block;

        a {
            @include textMix('Roboto', 15px, 400);
            display: inline-block;
        }

        &.is-selected span {
            text-decoration: underline;
        }

        &.is-sorted-up {
            .icon-triangle--up {
                @include svg-fill($informa-red);
            }

            &.is-selected span {
                text-decoration: underline;
            }

            &.is-sorted-down {
                .icon-triangle--down {
                    @include svg-fill($informa-red);
                }
            }

            &.is-sorted-up a,
            &.is-sorted-up a:hover,
            &.is-sorted-down a,
            &.is-sorted-down a:hover {
                text-decoration: none;
            }
        }
    }

    &__icon-group {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px;
    }

    .icon-triangle {
        @include svg-fill($informa-light-gray-d);
        display: block;
        width: 12px;
        height: 11px;
    }

}
