{# Defaults and Randoms #}
{% if genericTitle == false %}
	{% set genericTitle = random(randomCompanies).text %}
{% endif %}

{% include "organisms-raw-header" with {"showHeaderAd": true} %}
<main>
	{% include "organisms-raw-main-menu" %}
	<div class="main__wrapper">
		<div class="general-header">
		</div>

		<div class="main__content">
			{% include "organisms-action-flags-bar" with {"hidePrint" : true, "hideBookmark" : true} %}
			<div class="company">
				<div class="l-left-rail">
					{% include "organisms-page-content" %}
					{% include "organisms-recent-news" with {"buttonText" : "See All", "max": maxNews} %}
				</div>
				<div class="l-right-rail">
					{% include "organisms-article-topics" %}
					{% include "molecules-ad-rect" %}
					{% include "organisms-callout" %}
				</div>
			</div>
		</div>
		{% include "molecules-ad-leaderboard" %}
	</div>
</main>
{% include "organisms-raw-footer" %}
<script src="/web/Website/dist/js/index.js"></script>
