{% include "organisms-raw-header" %}
<main>
	{% include "organisms-raw-main-menu" %}
	<div class="main__wrapper">
		<div class="general-header">
		</div>

		<div class="main__content">
			{% include "organisms-action-flags-bar" with {"hidePrint" : true, "hideBookmark" : true} %}
			{% include "organisms-profile-header" %}
			{% include "organisms-recent-news" with {"buttonText" : "See All"} %}
			{% include "molecules-ad-leaderboard" %}
		</div>
	</div>
</main>
{% include "organisms-raw-footer" %}
<script src="/web/Website/dist/js/index.js"></script>
