{% include "organisms-raw-header" %}
<main>
	{% include "organisms-raw-main-menu" %}
	<div class="main__wrapper">
		<div class="general-header">
		</div>

		<div class="main__content">
			{% include "organisms-action-flags-bar" with {"hidePrint" : true, "hideBookmark" : true} %}
<<<<<<< HEAD
			<div class="l-left-rail">
				{% include "organisms-profile-header" %}
			</div>
			<div class="l-right-rail">
				{% include "molecules-set-alert" with {"classes" : "profile__set-alert"} %}
				{% include "molecules-ad-rect" %}
			</div>
			{% include "organisms-recent-news" with {"buttonText" : "See All", "listArticleType" : "News"} %}
			{% include "molecules-ad-leaderboard" %}
=======
			{% include "organisms-profile-header" %}
			{% include "molecules-set-alert" %}
			{% include "molecules-barred-divider" %}
			{% include "molecules-button-full-diminished" with {"buttonText" : "See All"} %}
>>>>>>> meet-the-team
		</div>
	</div>
</main>
{% include "organisms-raw-footer" %}
<script src="/web/Website/dist/js/index.js"></script>
