<div class="manually-curated-articles__right">
	<div class="newsletter-signup">
		<h3>Be informed first</h3>
		Receive the SCRIP Intelligence newsletters.
		<div class="form--single-row">
			<input class="inf-standard-form-field">
			<button class="button--filled">Sign Up</button>
		</div>
	</div>
</div>