<div class="manually-curated-articles__right">
	<section class="article-preview article-preview--small">
		<div class="article-preview__ad">
			Advertisement
			<img src="http://placehold.it/787x443">
		</div>
	</section>
</div>