@model ManuallyCuratedContentViewModel
<div class="manually-curated-articles">
    <div class="manually-curated-articles__main-well">
        @Html.Sitecore().DynamicPlaceholder("left-curated-content")
    </div>

    <div class="manually-curated-articles__right--force-top">
        @Html.Sitecore().DynamicPlaceholder("right-curated-content")
    </div>

	@{ Html.RenderPartial("Components/_ManuallyCuratedNewsletterSignUp"); }
	@{ Html.RenderPartial("Components/_ManuallyCuratedAdvert"); }

</div>
