@using Informa.Web.TestData

<div class="article-related-content">
    <h2>Related Content</h2>

    @foreach (var article in Enumerable.Range(1, 3))
    {
        Html.RenderPartial("Components/ListItemSimple", TestData.ListableModel());
    }
</div>
