@using Informa.Web.TestData

<div class="article-key-documents">
    <h2>Key Documents</h2>
    <ul>
        <li><a href="#">Document Title Goes Here</a></li>
        <li><a href="#">Document Title Goes Here</a></li>
    </ul>
</div>
