@using Glass.Mapper.Sc.Web.Mvc
@model ExecutiveSummaryViewModel

@if (Model.ShowSummary) {

    <div class="article-executive-summary">
        @if (Model.IsArticlePage)
        {  <h4>@Model.ExecutiveSummary</h4>}
        else
        {  @Model.summary}
     </div>
}