@using Glass.Mapper.Sc.Web.Mvc
@model ExecutiveSummaryViewModel

<div class="article-executive-summary">
    <h4>@Model.ExecutiveSummary</h4>
    @Html.Glass().Editable(Model.GlassModel, model => model.Summary)
</div>