@using Glass.Mapper
@using Glass.Mapper.Sc
@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Models.FactoryInterface        
@using Jabberwocky.Glass.Factory
@model Informa.Web.ViewModels.GlassArticleModel
<section class="article-preview">
    @{
        Html.RenderPartial("Components/_ListableContent", Model);
     }
</section>