@using Informa.Library.Utilities.References
@using Glass.Mapper.Sc.Web.Mvc

<div class="article-preview__two-column">
   @Html.Sitecore().Rendering(RenderingReferences.Instance.ListableContentSmall.ToString())
    @Html.Sitecore().Rendering(RenderingReferences.Instance.ListableContentSmall.ToString())
</div>