@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Components.IGeneralRTEComponent

<div class="GeneralRTEComponent">
    @Html.Glass().Editable(x => x.Text)
</div>