@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Components.ILandscape_Image
<div class="GeneralRTEComponent">
    @Html.Glass().Editable(x => x.Landscape_Image)
</div>