@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData
@model Informa.Models.Glass.Models.sitecore.templates.Velir.FactoryInterface.IListable
@if (Model.ListableImages != null)
{
    <img class="article-preview__image" src="@Model.ListableImages.Src">
}
<div class="article-preview__category">@TestData.GetRandomTopic().LinkableTexts</div>
<h1 class="article-preview__headline">@Model.ListableTitles</h1>
<div class="article-preview__metadata">
    <time class="article-preview__date">@Model.ListableDates.GetValueOrDefault().ToString("dd MMM yyyy")</time>
</div>