@using Informa.Web.TestData
@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.FactoryInterface.IListable
<section class="article-preview article-preview--small">
   @Html.Partial("Components/_ListableContent", Model)
</section>