@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData
@model Informa.Models.FactoryInterface.IListable
@if (Model.ListableImage != null)
{
    <img class="article-related-content__img" src="@Model.ListableImage">
}
<span class="article-related-content__category">@TestData.GetRandomTopic().LinkableText</span>
<h5>@Model.ListableTitle</h5>
<time class="article-related-content__date">@Model.ListableDate.ToString("dd MMM yyyy")</time>
