@inherits CustomGlassView<PromotionalViewModel>

@if(null != Model) {
    <div class="promotional-sidebar">
        @if (Model.DisplayImage)
        {
            @Editable(Model.GlassModel, x => x.Image)
        }
        <h3>@Editable(Model.GlassModel, x => x.Title)</h3>
        <div>@Editable(Model.GlassModel, x => x.Text)</div>
        @Editable(Model.GlassModel, x => x.Link, new {@class = "button--outlined button--gilded"})
    </div>
}