@model Informa.Web.ViewModels.SponsoredContent.ISponsoredContent
@using Informa.Web.ViewModels.SponsoredContent
@if (Model != null)
{
    if(Model.ArticleViewType.Equals(ArticleViewType.LatestNews))
    {
        <h1>hi</h1>
    }
}