 <footer>
		<div class="footer__wrapper">

			<ul class="footer__section footer__section--corporate">
				<li>
					<img class="footer__logo" src="http://scrip.dev.ibi.velir.com/-/media/pmbi-old-site/images/informalogo.png">&#169; 2015 Informa plc. All Rights Reserved.
				</li>
			</ul>

			<div class="footer__section footer__section--double">
				<ul>

				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/test-article">Test Article</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>

				</ul>
			</div>

			<ul class="footer__section footer__section--social">
				<li class="footer__section-header">Follow</li>
				<li>
						<a href="http://www.linkedin.com" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="LinkedIn">
							<svg class="footer__share-icons">
								<use xlink:href="/web/Website/dist/img/svg-sprite.svg#linkedin-footer"></use>
							</svg>
						</a>
									<a href="http://www.twitter.com" target="_blank" title="Twitter" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
							<svg class="footer__share-icons">
								<use xlink:href="/web/Website/dist/img/svg-sprite.svg#twitter-footer"></use>
							</svg>
						</a>
									<a href="http://www.facebook.com" target="_blank" title="Facebook" class="click-utag" data-info='{"event_name" : "article-share-facebook"}'>
							<svg class="footer__share-icons">
								<use xlink:href="/web/Website/dist/img/svg-sprite.svg#facebook-footer"></use>
							</svg>
						</a>

						<a href="/" target="_blank" title="RSS Feed" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>

							<img class="footer__share-icons" src="http://scrip.dev.ibi.velir.com/-/media/emailiconrss.png"/>

						</a>
				</li>
			</ul>

				<hr class="footer__separator">

				<div class="footer__section footer__section--single">
					<span class="footer__section-header">
						Menu One Header
					</span>
					<ul>
								<li>
					<a href="http://google.com">article 1</a>
				</li>
				<li>
					<a href="/register">google</a>
				</li>
				<li>
					<a href="https://www.pharmamedtechbi.com/publications/the-pink-sheet/">The Pink Sheet</a>
				</li>
				<li>
					<a href="https://www.pharmamedtechbi.com/publications/in-vivo">In Vivo</a>
				</li>
				<li>
					<a href="https://www.pharmamedtechbi.com/publications/medtech-insight">Medtech Insight</a>
				</li>

					</ul>
				</div>

				<div class="footer__section footer__section--triple">
					<span class="footer__section-header">
						Menu Two Header
					</span>
					<ul>
								<li>
					<a href="https://www.biomedtracker.com/">BioMedTracker</a>
				</li>
				<li>
					<a href="https://www.catalysttracker.com/">CatalystTracker</a>
				</li>
				<li>
					<a href="https://citeline.com/products/chinatrove/">ChinaTrove</a>
				</li>
				<li>
					<a href="http://www.datamonitorhealthcare.com">Datamonitor Healthcare</a>
				</li>
				<li>
					<a href="http://google.com">Test 1</a>
				</li>
				<li>
					<a href="http://yahoo.com">yahoo</a>
				</li>
				<li>
					<a href="http://bing.com">bing</a>
				</li>
				<li>
					<a href="https://www.meddevicetracker.com/">MedDeviceTracker</a>
				</li>
				<li>
					<a href="https://www.medtrack.com/">Medtrack</a>
				</li>
				<li>
					<a href="https://citeline.com/products/pharmaprojects/">PharmaProjects</a>
				</li>
				<li>
					<a href="https://www.placementtracker.com">PlacementTracker</a>
				</li>
				<li>
					<a href="https://citeline.com/products/sitetrove/">Sitetrove</a>
				</li>
				<li>
					<a href="https://www.pharmamedtechbi.com/deals">Strategic Transactions</a>
				</li>
				<li>
					<a href="https://citeline.com/products/trialpredict/">Trialpredict</a>
				</li>
				<li>
					<a href="https://citeline.com/products/trialtrove/">Trialtrove</a>
				</li>

			</ul>
		</div>
	</div>
</footer>
