 <div class="main-menu js-full-menu-toggle">
	<div class="menu-toggler js-menu-toggle-button">
		<button class="menu-toggler__button">
			<span>Toggle Menu</span>
		</button>
		Menu
	</div>
	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
										<a href="/" target="">Home</a>
		</li>
	</ul>
	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
				<svg class="main-menu__arrow-icon  js-hoist-menu-click">
					<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
				</svg>
			Business					</li>
			<li class="main-menu__section-wrapper">
				<ul>
						<li class="main-menu__hoverable">
							<a href="/" target="" class="main-menu__section-link">Companies</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/" target="" class="main-menu__section-link">Deals</a>
						</li>
				</ul>
			</li>
	</ul>
	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
				<svg class="main-menu__arrow-icon  js-hoist-menu-click">
					<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
				</svg>
										<a href="/commercial" target="">Commercial</a>
		</li>
			<li class="main-menu__section-wrapper">
				<ul>
						<li class="main-menu__hoverable">
							<a href="/commercial/companies" target="" class="main-menu__section-link">Companies</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/deals" target="" class="main-menu__section-link">Deals</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/strategy" target="" class="main-menu__section-link">Strategy</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-access" target="" class="main-menu__section-link">Market Access</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/commercial/market-intelligence" target="" class="main-menu__section-link">Market Intelligence</a>
						</li>
				</ul>
			</li>
	</ul>
	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
				<svg class="main-menu__arrow-icon  js-hoist-menu-click">
					<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
				</svg>
										<a href="/policy-and-regulation" target="">Policy &amp; Regulation</a>
		</li>
			<li class="main-menu__section-wrapper">
				<ul>
						<li class="main-menu__hoverable">
							<a href="/policy-and-regulation/policy" target="" class="main-menu__section-link">Policy</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/policy-and-regulation/regulation" target="" class="main-menu__section-link">Regulation</a>
						</li>
				</ul>
			</li>
	</ul>
	<ul class="main-menu__section">
		<li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
				<svg class="main-menu__arrow-icon  js-hoist-menu-click">
					<use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
				</svg>
										<a href="/clinical-and-r-and-d" target="">Clinical / R&amp;D</a>
		</li>
			<li class="main-menu__section-wrapper">
				<ul>
						<li class="main-menu__hoverable">
							<a href="/clinical-and-r-and-d/clinical-trials" target="" class="main-menu__section-link">Clinical Trials</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/clinical-and-r-and-d/approvals" target="" class="main-menu__section-link">Approvals</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/clinical-and-r-and-d/post-marketing" target="" class="main-menu__section-link">Post Marketing</a>
						</li>
						<li class="main-menu__hoverable">
							<a href="/clinical-and-r-and-d/therapy-areas" target="" class="main-menu__section-link">Therapy Areas</a>
						</li>
				</ul>
			</li>
	</ul>
	<dl class="main-menu__footer">
			<dd class="main-menu__footer-link">
				<a href="/meet-the-team" target="">Meet the Team</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="http://www.scripawards.com/" target="">Scrip Awards</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="http://www.scrip100.com/" target="_blank">Scrip 100</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="/ask-the-analyst" target="">Ask The Analyst</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="/pdf-library" target="">PDF Library</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="/rss-feeds" target="">RSS Feeds</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="https://subscribe.scripintelligence.com/-" target="_blank">Subscribe</a>
			</dd>						<dd class="main-menu__footer-link">
				<a href="http://advertising.scripintelligence.com" target="">Advertising</a>
			</dd>
		</dl>
	</div>
</div>
