<div class="informa-ribbon">
	<div class="informa-ribbon__wrapper">
		<div class="informa-ribbon__detail">
			<div class="informa-ribbon__left">
				<p>Scrip is part of the Business Intelligence Division of Informa PLC</p>
				<ul>
					<li class="iribbon-mainlink">
						<a href="http://www.google.com" target="_blank">Informa PLC</a>
					</li>
					<li>
						<a href="http://www.google.com" target="_blank">About us</a>
					</li>
					<li>
						<a href="http://www.google.com" target="_blank">Investor relations</a>
					</li>
					<li>
						<a href="http://www.google.com" target="_blank">Talent</a>
					</li>
				</ul>
			</div>

			<div class="informa-ribbon__right">
				<p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC’s registered office is 5 Howick Place, London SW1P 1WG. Registered in England and Wales. Number 8860726.</p>
			</div>
		</div>

		<button class="informa-ribbon__title">
			Informa
		</button>
	</div>
</div>
