.page-account {
    padding-bottom: 2rem;

    &__header,
    &__subheader {
        color: $color-zeus-black;
        margin-bottom: 1.25rem;
    }

    &__introduction {
        font-size: 1.125rem;
        margin-bottom: 2rem;

        h4 {
            margin-bottom: 1rem;
        }
    }

    hr {
        margin-bottom: 2rem;
    }

    &__text-label {
        @include textMix('Roboto', 1.125rem, 500);
        color: $color-zeus-black;
        display: block;
        margin-bottom: 0.5rem;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        @extend .inf-standard-form-field;
        @include textMix('Roboto', 0.875rem, 400);
        display: block;
        width: 100%;
    }

    &__field-wrapper {
        margin-bottom: 2rem;
        width: calc(50% - 1rem);

        &--float {
            float: left;
            margin-right: 1rem;

            &:nth-of-type(2n+1) {
                margin-left: 1rem;
                margin-right: 0;
            }
        }
    }

    // TODO - Refactor this with similar _registration class
    &__error {
        @extend .error-text;
        display: none;
    }

    &__submit-wrapper {
        overflow: auto;
        text-align: right;

        button {
            margin-bottom: 1rem;
        }

        p {
            @include textMix('Roboto', 0.875rem, 500);
            color: $color-dusty-gray;
            line-height: 1.25rem;
            width: 250px;
            margin-bottom: 1rem;
        }
    }
}
