.page-registration {

    hr {
        margin-bottom: 2.5rem;
    }

    &__required-hint {
        @include textMix('Roboto', 0.9375rem, 500);
        color: $color-dusty-gray;
        margin-bottom: 2rem;
    }

    &__tos-confirm {
        label {
            @extend .checkbox-label;
        }
    }

    &__error {
        @extend .error-text;
        display: none;
    }

}
