.page-registration {

    hr {
        margin-bottom: 2.5rem;
    }

    &__required-hint {
        @include textMix('Roboto', 0.9375rem, 500);
        color: $color-dusty-gray;
        margin-bottom: 2rem;
    }

    &__tos-confirm {
        label {
            @extend .checkbox-label;
        }
    }

    &__submit-wrapper {
        float: right;
        text-align: right;

        button {
            margin-bottom: 1rem;
        }

        p {
            @include textMix('Roboto', 0.875rem, 500);
            color: $color-dusty-gray;
            line-height: 1.25rem;
            width: 250px;
            margin-bottom: 1rem;
        }
    }

    &__error {
        @extend .error-text;
        display: none;
    }

}
