@using System.Web.Mvc.Html
@model Informa.Library.User.EmailOptIns.OptInResponseModel

@if (Model.IsAuthenticated)
{
    @Html.Raw(Model.BodyText)
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
}
